[2019-11-26 08:59] elisabetta2016 opened #241 "COM interop"
Is it possibile to do an enabled COM Interop built to be able to interface it via Excel vba?
Thanks

[2019-12-11 13:02] masoudium opened #242 "Is it possible to implement a DB Scanner with this library?"
The S7netplus is a great library for sure. But the way I'm using it is by read("DB Address") function which needs the DB address to access the data. Assuming I need to find out the DBs on a plc without having the PLC source project. I find out that read function throws an exception if the presented address is not valid in PLC. But I want a way to find the data type I mean the byte, word or dbword.

[2019-12-12 06:10] FalcoGoodbody commented on #239
Hello @Mallowan ,

I actually tried to write a string into a S7-1500 PLC and is works.
You can use the method "WriteBytes" and you need to convert the string into a bytearray.

`
byte[] bytearray = System.Text.Encoding.ASCII.GetBytes(AuftragsnummerKonti2);
            try
            {
                if (plcKonti2.IsConnected)
                {
                    plcKonti2.WriteBytes(DataType.Da

[2019-12-12 08:26] FalcoGoodbody commented on #239
Here is my full code wich is acutally tested. The String is written correctly to the PLC

[code]

[2019-12-12 10:37] Mallowan commented on #239
Finally someone answered! I already thought nobody writes strings to plc.  :)
Thank you! I will test your code.
I would discuss with about other stuff related to library.

Mallowan

[2019-12-12 12:46] FalcoGoodbody commented on #239
Well for me it´s the first time since I work with S7.Net+ that I needed to write a string to the PLC.
But it´s only one year since I started working with S7.Net+.

[2019-12-12 12:53] Mallowan commented on #239
e-mail?

[2019-12-12 12:54] FalcoGoodbody commented on #239
Grimsey@outlook.de

[2019-12-12 12:58] Mallowan commented on #239
now, delete that, I've made a copy. Thanks.

[2019-12-15 19:51] dimafainberg opened #243 "S7 v 0.4.0 has no error processing"
in v 0.4.0  has no error processing(var result = plc.Open();),      plc. Open return void
  cant be equal to var.. can you help PLZ  thnaks!!

[2019-12-16 09:06] timverwaal commented on #243
I had the same issue. The solution however is simple.
The `Open()` method throws an exception when something goes wrong.

[code]

[2019-12-17 08:23] dimafainberg commented on #243
Thank you !! But if a problem with read ? in previous version was a LastErrorCode

[2019-12-17 08:23] noumanqaiser commented on #128
Hi team, I have verified and was successful in reading through S7 300 via a CP343-1 with the latest nuget package. The error "The remote host forced the closure of an existing connection." now appears only if you use an invalid slot number(1), I used slot number 2 while defining the s7 300 PLC and it worked successfully.

Regards,
Nouman

[2019-12-17 08:41] flyasme commented on #128
Hello NoumanFirst thankyou very much !I will try it latter with your method. The project is running very smoothly and stably. 发自我的华为手机-------- 原始邮件 --------发件人： noumanqaiser <notifications@github.com>日期： 2019年12月17日周二 下午4:23收件人： S7NetPlus/s7netplus <s7netplus@noreply.github.com>抄送： flyasme <gaoag@189.cn>, Mention <mention@noreply.github.com>主    题： Re: [S7NetPlus/s7netplus] v0.1.9 PLC ,The remote

[2019-12-17 12:04] timverwaal commented on #243
This works the same. I looked up the commit for this change: https://github.com/S7NetPlus/s7netplus/commit/1538de148b4aa48f845f14181cfa4ad5cd7ccbf2 (_"Replace LastErrorCode and LastErrorString with exceptions"_)

[2019-12-17 22:17] dimafainberg commented on #243
Thanks now i see !!!!

[2019-12-23 09:51] emarinirc opened #247 "Reading counters and timers"
Hi,
I try to read counters (C0...C255) and timers (T0...T255) in S7200 and S7300 but throw an error
"Error WrongNumberReceivedBytes".

The rest of Variables reads them correctly.

[2019-12-23 09:53] WontheMikeLi opened #248 "S7-1212C Can't read data."
The exception is "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host."

Version 3.0 also has the same exception.
Sample code is below

            try
            {
                if (objTemp_Plc.IsConnected)
                {
                    //byte[] readByte = objTemp_Plc.ReadBytes(DataType.DataBlock, 1, 0, 1);

[2019-12-23 10:38] masoudium commented on #242
NO comment?

[2019-12-23 17:12] mycroes commented on #242
Sorry for the late reply, unfortunately I'm pretty busy with other stuff. It's not possible to scan the datatype because it's all stored as blocks of bytes without any header. Possibly there's metadata somewhere in the program blocks, but it's not something I desire to explore.

Closing this issue as I don't see this as something that can easil be added to S7NetPlus.

[2019-12-23 17:12] #242 closed

[2019-12-23 17:17] mycroes commented on #248
Can you try without plc.IsConnected? I believe that's still bugged (i.e., destroying the connection).

[2019-12-24 01:22] WontheMikeLi commented on #248
Thanks a lot, as what you said, after comment plc.IsConnected it works like a charm.

[2019-12-24 01:22] #248 closed

[2020-01-03 10:26] nayanavv opened #249 "WriteBytes not working"
Writing bits to the WriteBytes method not working. I'm using the following code to write the bits, but the SetBit/ClearBit function is not giving any result in the PLC

[code]

Can anyone tell me how to solve this issue?
plc.Write("DB1.DBX0.0", true); works fine!

[2020-01-05 03:30] jun-l-lin opened #250 ""TPKTInvalidException: TPKT is incomplete / invalid" occur when Read and Write"
`
bool isWrite=false;
public void BoolWrite(string add, bool val)
{
     isWrite=true;
     plc.Write(add,val);
     isWrite=false;
}

public void ClassValRead(Variable var, int db)
{
     if (!isWrite)
     {
               plc.ReadClass(var,db);
     }
.......
}

`

a Thread cycle read "Variable" class, when I write a single variable to plc, the issue occur:

    TPKTInvalidException: TPKT is in

[2020-01-06 08:04] FalcoGoodbody commented on #249
Hello @nayanavv ,

I use this method to write a bytearray/string into a PLC and it works fine so fare.

`plcKonti2.WriteBytes(DataType.DataBlock, 156, 0, bytearray);`

[2020-01-19 11:05] sudak-91 opened #251 "Read IW"
Hello. How i can read analog input?

[2020-01-20 08:45] Mallowan commented on #251
Hello,
the handling with analog plc inputs supposes to have respective analog modules. Do you agree?
Then the having of onboard analog modules provides an opportunity to digitize your analog signal.
Correspondingly the digitized signal you can pass whenever you want nowadays. Even with this library.

hope this helps.

[2020-01-20 08:48] sudak-91 commented on #251
Can i use PLC.Read("IW20")?

пн, 20 янв. 2020 г. в 11:45, Mallowan <notifications@github.com>:

[2020-01-20 08:50] Mallowan commented on #251
first, you have to pass that input word to the word which is located in Global DB, then read it from there.

[2020-01-20 08:55] sudak-91 commented on #251
I can read this signal from DB, because i forgot switch off  db
optimisation.

пн, 20 янв. 2020 г. в 11:50, Mallowan <notifications@github.com>:

[2020-01-20 10:21] FalcoGoodbody commented on #251
Can you turn the optimization off? You just need to do this for the DB you want to read from.

[2020-01-29 08:54] 05749 opened #252 "Unable to read PLC DB data"
Hi, I am using the S7-1200 and TIA portal V1.4.
I am running Readbytes from the S7.net library, but I get the following error:
 "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host."
I can do plc.open () and plc.close () without any problems.
Is there any solution? Any advice is welcome.
thank you in advance.
![plc program](https://user-

[2020-01-31 11:03] andnig commented on #186
Hey guys, any updates on possible fixes for this issue?
Thanks :+1:

[2020-01-31 13:04] FalcoGoodbody commented on #252
Did you check that the DB is not optimized?

[2020-01-31 23:23] 05749 commented on #252
Thank you for your comment.
Yes, I unchecked DB optimization according to the documentation.
![image](https://user-images.githubusercontent.com/60371927/73581158-a8d80280-44cb-11ea-8599-6a426cbd7ad2.png)
Do I need other settings on the PLC besides the contents of this document?
Thank you.

[2020-02-01 08:32] allatrue commented on #252
Did you enabled PUT/GET communication for the CPU?

[2020-02-01 23:41] 05749 commented on #252
Yes, I have enabled PUT / GET communication for the CPU .

[2020-02-02 08:46] mycroes commented on #252
Try to remove the Plc.Isconnected check, it's broken.

[2020-02-02 10:25] 05749 commented on #252
I thought Plc.Isconnected was a way to verify communication with the PLC, but does it affect Plc.ReadBytes?

[2020-02-02 18:57] mycroes commented on #252
I believe it accidentally terminates the connection. I'm way behind on fixing issues like this, because obviously this shouldn't be the case. Let me know if it works without the IsConnected check.

[2020-02-03 00:20] 05749 commented on #252
Thank you for your comment.
I was able to read the DB by removing the IsConnected check.
![Improved PLC program](https://user-images.githubusercontent.com/60371927/73617752-65190080-4665-11ea-952a-20f2dcf794a6.png)
thank you very much.

[2020-02-04 13:04] FalcoGoodbody commented on #252
Well...that´s strange.
I am using the PLC.IsConnected to read data from a S7-1500 at there it works fine so far.
Maybe it is problem depending to the PLC used?

[2020-02-04 17:02] mycroes commented on #252
Maybe one of you isn't using the latest version?

[2020-02-04 18:50] FalcoGoodbody commented on #252
I´m using Version 0.4.0 from the last year. Via NuGet there is no newer one available.
For me everything works fine and I am absolutely happy with this library.

[2020-02-05 01:51] 05749 commented on #252
I using the same S7.Net version 0.4.0.
However, the PLC I'm using is S7-1200 and the CPU firmware version is V4.1.
Do these conditions affect anything?

[2020-02-10 08:39] AthanasiosT opened #253 "read/write in OB1"
I would like to create a simple HMI for a s7-1200.
Is it possible to read write to OB1?
I need to change memories M0.0 and M0.1, read inputs I0.2, I0.3, I0.4, I0.5  and outputs Q0.0, Q0.1, Q0.2, Q0.3.
Do I need to write the Ladder code in a FC and then call the FC in the OB1?
How should I syntax the read and write commants?
Thanks in advance.

[2020-02-11 18:50] Mallowan opened #254 "Hw do i access to Plc from"

[2020-02-11 18:56] Mallowan opened #255 "How do I access to Plc (instance) from other classes."
hello,
for example, there's known way to do that in MainWindow.
`
public Plc plc;
plc = new Plc(CpuType.S71200, "100.1.1.10", 0, 0);

`
Could anyone share an example, which shows access to Plc from other classes?

thank you in advance!

[2020-02-11 19:09] Mallowan commented on #253
There's document to this library. True, it is outdated.
However, it is still showing main abilities of library.

[2020-02-11 19:12] #254 closed

[2020-02-11 21:47] AthanasiosT commented on #253
The only thing I read in the documentation is that you can read and write only in DBs. Even in you tube videos they read and write from DBs.
What if you want to read and write booleans directly from OB1, on a simple ladder program?
You can't uncheck Optimized block access to the OB1.
Will it work?

[2020-02-14 07:03] DimalRus opened #256 "Problems reading and writing the input (IB) and output(QB) data area"
Hello
I using PLCSIM, read the output data(QB 0),
ReadDataFromPLC = plc.readbytes(DataType.Output, 1, 0, 1);

At the same time, when using the controller in hardware, I do not use this data area.
In the controllers 300 and 400, PLSSIM version 5.4.8 is launched, respectively, and for 1200 and 1500 version 16.
Reading in the 1200 and 1500 controllers works, and 300, 400 does not work.
It is imperati

[2020-02-14 10:16] mycroes commented on #256
I don't know about any differences with regards to outputs between 300/400 and 1200/1500. Not entirely sure though, because I've never used output areas myself and I also never used 300/400 series PLC's. Have you ever tried another open source library to see if that does work for both PLC types?

[2020-02-14 12:40] DimalRus commented on #256
I used S7PROSIMLib.dll. It was used only for PLCSIM v5.4; it successfully read the output and recorded the input.

[2020-02-14 12:43] DimalRus commented on #256
When using 1200 and 1500 PLC, the addresses of the inputs that I want to write cannot be used in the hardware configuration. If this condition is met, then the write is successful and the reading is the same.

[2020-02-14 12:45] DimalRus commented on #256
But this additional condition when using PLCSIM v5.4 and PLC series 300 or 400 does not help, the error WrongNumberReceivedBytes occurs

[2020-02-18 14:41] sametdumankaya commented on #233
I'm having same issue here. I tried to read directly from the variable name and that operation threw an "Index was outside the bounds of the array" exception as well. Can't read neither with bytes or with variable name.

[2020-02-18 15:04] sametdumankaya commented on #233
I solved it. I forgot to permit PUT/GET operations on PLC. When I check the checkbox, I was able to read and write.

![image](https://user-images.githubusercontent.com/12208827/74748127-167c8080-5279-11ea-881a-562411670f77.png)

[2020-02-20 06:11] FalcoGoodbody commented on #253
Hello,

I recommend to read and write only to DBs. That is the best practice.
You could read/write to Instance-DBs of FB but I do not recommend this. I case of an fault in adressing the variables you directly affect the program logic of the PLC program which can cause big problems.

When a PLC programmer creates a HMI the variable to communicate with/from the HMI a beeing stored in DBs. I suggest

[2020-02-20 06:37] DeputyOfCopyPaster commented on #253
Falco, it seems you've missed my mails. Or?

[2020-02-20 06:39] Mallowan commented on #253
Falco, it seems you are missing my mails. Or?

[2020-02-20 17:14] FalcoGoodbody commented on #253
No I don´t, sorry.

I tested you Code at a PLC S7-1516F and sent you a screenshot, didn´t I?

Was there something more you wanted to know?

Von: Mallowan<mailto:notifications@github.com>
Gesendet: Donnerstag, 20. Februar 2020 07:39
An: S7NetPlus/s7netplus<mailto:s7netplus@noreply.github.com>
Cc: FalcoGoodbody<mailto:Grimsey@outlook.de>; Comment<mailto:comment@noreply.github.com>
Betreff: Re: [S7Ne

[2020-03-02 18:25] yusuflars opened #257 "Cant read or write in 0.4.0 s71200 tia portal v14"
![Screenshot_1](https://user-images.githubusercontent.com/61707883/75705232-09757d80-5ccc-
![Screenshot_1](https://user-images.githubusercontent.com/61707883/75705379-49d4fb80-5ccc-11ea-8543-6d531710f0aa.png)
![Screenshot_2](https://user-images.githubusercontent.com/61707883/75705380-4a6d9200-5ccc-11ea-8f02-c34ab736a774.png)

11ea-9b26-2e14e0685cad.png)
![Screenshot_7](https://user-images.githubus

[2020-03-08 22:18] zoltraks commented on #257
This might be cause by not having "Protection & Security" option "Permit access with PUT/GET communication from remote partner" checked.

I have also put a Pull Request with small fix for that:

https://github.com/S7NetPlus/s7netplus/pull/258

[2020-03-09 10:52] Equino3108 opened #259 "Reading class / struct with gaps in the DB"
Hi there,

How would I use ReadClass if my DB looks like this:

DB100.DBX0.0 BIT
DB100.DBX0.1 BIT
DB100.DBX0.2 BIT
DB100.DBX1.0 BIT
DB100.DBX1.1 BIT
DB100.DBX1.2 BIT

I understand if the next Byte is of a different type than BIT, it works because of the Math.Ceil numbytes logic in the code, but how would S7.net know there is a gap of 5 bits if the next property is bool again?

Looking at the imple

[2020-03-11 12:48] noumanqaiser commented on #179
HI @mycroes , Sorry for a really late reply. I finally got hold of a Logo OBA8 plc. I wanted to try out reading or wirting to this PLC but I am having a hard time finding out datablock number where I would read/write to. In Siemens Logo Sof Comfort software(software used to modify Logo Programs), it allows you to create basic function blocks and ladder diagram but it doesn't seem to show data bloc

[2020-03-15 05:49] noumanqaiser opened #260 "Addressing Mechanism for Logo PLCs"
Hello,
I want to use S7.Net to read write data from a Siemens LOGO OBA8 PLC. I understood that S7.Net can be used to read/write data from Logo PLCs and the following Gist gives an great example of how this is to be done:

https://gist.github.com/mycroes/9bdc7cffdef08943edea1918812706a6

The only question the gist doesn't answer is how to determine datablock number and addresses for variables in Lo

[2020-03-15 05:58] noumanqaiser commented on #260
I was researching on the problem above since some time and found the answer, sharing here so other can benefit.
Logos Donot have datablock concept like other S7 PLCs and hence you can use whatever data block number when connecting to the logo PLC( so I use DB 0). Each logo has a VM addressing table which tells address range for most common memory variables.

(The document attached is an extract fr

[2020-04-08 14:12] iDouran opened #261 "TPKTInvalidException: TPKT is incomplete / invalid"
i am connecting to PLCSim Tia Portal V16
i can Connect to PLC but cannot Read or Wite!

 Plc plc = new Plc(CpuType.S71500, "192.168.1.102", 0, 1);
            plc.Open();
            MessageBox.Show(plc.IsAvailable.ToString());
 bool testRead = (bool)plc.Read("M20.1");
            plc.Close();

[2020-04-08 15:36] iDouran commented on #261
Solved.
Remove Check  plc.IsAvailable.ToString()!

[2020-04-08 15:36] #261 closed

[2020-04-14 14:49] MikeK-10 commented on #250
I am having a similar issue, based on the very simple sample code at: https://www.fontenay-ronan.fr/siemens-plc-and-c-communication-simatic-step7plcsim-visualstudio/

The timer will successfully run and read values from the PLC for a short period of time (up to a minute or two), I then get the TPKT error and subsequent commands fail :(

I have tried to worked around by creating a new instance of t

[2020-04-15 06:59] mycroes commented on #250
Hi guys,

Sorry for my late response to issues. This specific exception is quite useless, while the PLC actually provides some sort of error code normally. I'll see if I can add this sometime soon, since it's one of the most recurring issues. @MikeK-10 since it does work for you first off and it stops working later, this definitely seems to be an issue with the plcsim and not S7NetPlus/Sally7 (bon

[2020-04-15 07:03] MikeK-10 opened #262 "TKPT error after initial connection success"
Addition to issue discussed #250 and new issue as requested.

I am not using plcsim - I have an actual S7-1200 connected

[2020-04-20 16:58] #260 closed

[2020-04-20 16:58] noumanqaiser commented on #260
Solution works

[2020-05-04 07:53] MiroslavMikus commented on #255
Hey, the base idea should be to use [Dependency Injection](https://en.wikipedia.org/wiki/Dependency_injection).

We are using Autofac. Here is the simplified version:
[code]

Where the `Service` requests the `Plc` in the constructor:

[code]
Let me know if you have still some problems :)

[2020-05-04 08:08] Wobeam commented on #255
Hi there,
I'll try to replicate, then there will be questions definetely.
Thanks!

[2020-05-04 08:11] Mallowan commented on #255
hi there,
I will try to replicate, then there will be questions definetely.
Thanks!

[2020-05-05 08:54] Hefaistos68 opened #263 "Reading SZLs with S7NetPlus?"
Sorry to ask that here but havent found any resource so far to help me out with this: how can I read SZLs with the S7NetPlus library? Am pretty fresh to S7 development and didnt yet grasp all the concepts, so bear with me.
The Sharp7 lib provides some useful functions for reading and parsing some SZLs contents, is there any way to do the same with this library?

[2020-05-05 08:57] Hefaistos68 commented on #148
If you still need, I have access to multiple S7-1200.

[2020-05-08 06:54] mytion7 opened #264 "The relationship with PROFINET"
I tried to communicate with siemens plc through PROFINET.

I found this library, but I'm not sure this library support PROFINET or not.

If I use this library, can I says that my program communicates with PLC through PROFINET?

[2020-05-09 20:56] adrianonnet commented on #193
I have the same issue as you khangtd46. The same issue with WriteStruct, it hangs the program and does not return anything. Has anyone came across a solution?

[2020-05-11 15:45] RoyHeerkens commented on #264
The library uses s7 protocol, this is a different protocol than Profinet.

[2020-05-12 07:17] mycroes commented on #264
@RoyHeerkens thanks for answering, to be honest I don't have much PLC experience, so I'm not sure about the internals of the Profinet protocol. S7NetPlus does indeed use the S7 protocol, which seems to be a proprietary Siemens protocol with almost no documentation.

[2020-05-14 06:28] FalcoGoodbody commented on #259
I would recommend to do it this way. Declare with type byte and handle it within the class

[2020-05-18 20:51] Wobeam opened #265 "Why there's so huge difference between usage in usual class and static class?"
Hello,
could anyone answer, why when I create instance of Plc in _usual class_ the library functions pretty fine and I can read and write vars. At least it functions correctly.
However, when I tried a variant as shown below. I had gotten an incorrect function of library (unstable reading vars, writing into two bits simultaneosly, etc.).

**an usage in Static class:**

[code]

**Access to plc metho

[2020-05-19 09:59] mycroes commented on #265
Because the operations are not thread-safe. You're probably invoking new actions on the PLC before running actions have completed, which is not supported / not possible. Some PLC's do support concurrent requests (i.e. the 1500 supports 3), but it would require quite some changes to the S7NetPlus internals.

If you can share some details about your project I can tell you some ways to implement sync

[2020-05-19 10:38] Wobeam commented on #265
@mycroes, first of all thanks for your input.
Those phenomenons I described, they are simple my assumptions. Honestly speaking I even don't know what is exactly going on when I use a static class_. In other words glitch goes by glitch.
And by the same plc logic and by implemented none-class everything looks good. And logic in Model is exactly th same. That confuses me.
A reason why I'm trying to u

[2020-05-19 11:59] mycroes commented on #265
Anywhere I can access them is fine. No promises on response time though.

[2020-05-19 20:49] Wobeam commented on #265
@mycroes, here is a link [https://mega.nz/folder/275BwTpL#d0QdX0Gsuw7nEYEo1qsd5g](url) to test. Also please read readme file in folder.

[2020-05-20 18:37] mycroes commented on #265
Hi @Wobeam,

I looked into your code and the issue probably is the multithreaded access to the PLC from both the UI and the timers in the Service. I said I could provide you with some ways to implement synchronized access, the most obvious one in your application would be to invoke all PLC calls on the UI thread. That said, that definitely isn't pretty. You're already blocking the UI thread in `Gr

[2020-05-20 18:37] #265 closed

[2020-05-20 20:11] Wobeam commented on #265
@mycroes, Hello,
If this kind of Apps has a connection issue (e.g. PLC not responding), that  will mean only one thing, -nothing from this App will be sent and nothing will be received. Thus the App becomes useless and it doesn't matter if it is responsive or unresponcive after connection failure.  The controlled object must be stopped anyway. Based on this principle function all WinCC projects, a

[2020-05-27 08:48] murfie opened #266 "I can read/Write DI/DO but not AI/AO..."
By using the following code, i can read an output, for an input i use (bool)plc.Read("I0.0") and this also works. So we can work on absolute addresses.

 using (var plc = new Plc(CpuType.S71500, "192.168.0.199", 0,1))
            {
                plc.Open();
                bool output = (bool)plc.Read("O0.1");
                Console.WriteLine("Q0.1 " + output);
            }
            Console

[2020-05-27 13:46] FalcoGoodbody commented on #266
An analog input-value represents a value from 0 to 27648 and need to be scaled into a physical unit.
Within the plcs there are some standard blocks which do this in generell and are very easy to use.
I would recommend to this within in the plc and to write the so scaled value in a DB. Then read the value from there.

If not you can try to transform the analog value into an INT32. Be aware that you

[2020-05-27 14:17] murfie commented on #266
It is really important that i can reach the analog values by their absolute address (e.g. IW10, %IW30, %QW30, ...) and not via a DB.

Wouldn't there be an option to read write analog values the same way as digital values?
e.g.: bool mybool = (bool)plc.Read("I0.0") ==> this works...
But I want to do this for IW and QW. I tried a lot of combinations already, but nothing seems to work for analog valu

[2020-05-28 14:44] FalcoGoodbody commented on #266
Did you try to read "EW0" or "ED0"? These types exist in the code of the library.

Another try would be to read a bytearray and convert it afterwards

[2020-05-28 14:52] FalcoGoodbody commented on #266
I tried it myself with an S7-1515-2 PN

`
int test = 0;
test = Convert.ToInt32(plcGlatt2.Read("EW100"));
`

I could read the value so this should work

[2020-05-29 07:12] murfie commented on #266
Thank you, this is indeed what i was looking for and it works!

I also need to read/write the analog outputs, what would be the string that i'll have to read for an analog output? Or where can i find these different "read-types" in the source code?

[2020-05-30 13:54] OOOOO1 commented on #255
![捕获](https://user-images.githubusercontent.com/59185414/83330186-0cc6d800-a2c0-11ea-873b-c166ee5076f9.PNG)

[2020-05-30 14:00] OOOOO1 commented on #255
您好，按照你说的，我尝试复制你的代码，结果出现
Error	CS1593	Delegate 'Func<IComponentContext, Plc>' does not take 0 arguments

[2020-05-30 15:56] MiroslavMikus commented on #255
Hey, I do speak just ENG / GER so maybe this answer will not be directly on point. Anyway, it looks like you are using a different version of Autofac. Pls try this:
[code]
A second fix could be to bump your Autofac dependency to at least 4.9.1

Best regards Miro

[2020-06-15 10:01] gestepp opened #268 "No ErrorCode return for open() method"
Hello,
The documentation mentions that the open () method has a return value from the ErrorCode enum. The last downloaded version, however, simply returns a void ... accordingly, I cannot evaluate the connection using the Enum ErrorCode.
Can anyone help me here?

I use VisualStudio 2019 Community!

Do I need a different version? Do I have to change anything? Do I get it any differently?

Thank you

[2020-06-15 13:02] mycroes commented on #268
Hi @gestepp,

Instead of returning an error (which is not the recommend way for error handling in C#) the `Open` method will now throw exceptions in case errors occur.

Regards,
Michael

[2020-06-15 13:02] #268 closed

[2020-07-06 04:20] MianArrivas commented on #186
Hi mycroes!
Thanks to your library I am learning a lot more of PLC :D
Today I discovered about the problem of using IsAvailable property. I wonder if there is a way to check if the PLC is or not available, can you support me, please?

[2020-07-06 07:30] ZombieAllen opened #270 "plc.Read(string) function doesn't work when read memory bit (M0.0)"

[2020-07-06 07:33] ZombieAllen commented on #270
There's a fault in PLCAddress.cs.

 case "M":
                            // Memory
                            dataType = DataType.Memory;
                            varType = VarType.Byte;
                            break;

the varType should be VarType.Bit.

[2020-07-06 09:18] timverwaal commented on #270
I created a pull request for this: #246. Would this commit solve your problem?

[2020-07-06 12:11] VerbovenNick opened #271 "C# ReadClass S7.net"
Hi

I am using the S7.net library in C# in order to read data from a VIPA PLC (similar to S7-300).  The C# project runs on a virtual machine (Windows 10 Pro, 64 bit) and is programmed in Visual Studio 2019.  I am reading a DB by the ReadClass method each 2 seconds, all works fine for some hours, and then all of a sudden the ReadClass method returns an exception.
I could take a snapshot of 2 except

[2020-07-06 16:29] SmackyP commented on #186
Instead of using the IsAvailable property, you can ping the ip of the Plc. If you want it built in the Plc class, you can create an extension method

[2020-07-07 01:22] ZombieAllen commented on #270
Hi , Thanks for your information. It works. I met a fault after compling.

Unable to locate the repository that contains the directory'E:\PersonalProject\Ref\s7netplus-PLCAdddres-Parsing\S7.Net'. S7.Net C:\Users\Administrator\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta-62925-02\build\Microsoft.Build.Tasks.Git.targets 20

If you know something about it. Thanks in advance

[2020-07-07 10:44] timverwaal commented on #270
Seems to me this unrelated to the issue. Something with git and/or Nuget that causes the fault.

[2020-07-07 14:35] Mallowan opened #272 "First time wanted to write entire class and happens nothing."
Hello everyone,
First time I decided to write a class.

Class itself:

[code]

Button event:

[code]
There are no any changes in DB113. There are no any exceptions in project.
What I'm doing wrong?
Any insights on this matter, please.

[2020-07-08 01:32] ccaiwl commented on #250
遇到同样问题：  S7.NET.PlcException:"TPKT is incomplete/invalid"    内部异常 "TPKTInvalidException: TPKT is incomplete / invalid"

[2020-07-08 01:36] ccaiwl commented on #262
遇到同样问题  不定时的出现异常   真机s7-200 smart

[2020-07-08 02:01] ccaiwl opened #273 ""TPKTInvalidException: TPKT is incomplete / invalid""
"TPKTInvalidException: TPKT is incomplete / invalid"

[2020-07-08 09:06] FalcoGoodbody commented on #272
Did you open the connection first?
Can you show the structure of the DB113?

[2020-07-08 12:45] Mallowan commented on #272
![DB114](https://user-images.githubusercontent.com/37699980/86920179-0a169880-c132-11ea-82b9-a54fc85f3af5.png)

[2020-07-08 13:46] FalcoGoodbody commented on #272
I think you need convert the C#-INT into the S7-INT. Or you change the S7 into DINT.
It is described in the pdf-docu at the very end.

I think that is the problem.
I myself haven´t yet tested to write a class, sorry.

[2020-07-09 08:09] Mallowan commented on #272
@FalcoGoodbody ,
it started working when I doubled quantity of bits on the S7 side. Int --> DInt.
Since there was no a parity between C and  S7  integers.
Making _shorts_ on the side of C came to nothing. Not many made attempts, though.
Thanks a lot! It was very valuable advice.

[2020-07-09 15:08] FalcoGoodbody commented on #271
I have a VIPA PLC as well and I do have a similiar problem but I know the reason.
Here is another application which is reading 2 values via an OPC-Server from this PLC. The OPC-Server reads the data in a very short cycle (<200ms) and it seems as if this blocks all other communication with the PLC. It is even not possible to connect with the PLC via the PLC-IDE from Siemens (Simatic Manager).

Can

[2020-07-09 17:08] ghost opened #274 "Unable to use Plc.Read(DataType,startByte,varType,varCount)"
If I try to read from DataBlock that only contains a single 16-bit integer. The read fails.
If i add another 16-bit integer after this one it works.
The error message is "WrongNumberReceivedBytes".

It seems that the socket connection always reads 4 bytes.
Does anyone know a fix for this?

The code for this project is based on S7.Net 0.1.9, but I have also tried with 0.4.0, and both versions provi

[2020-07-10 06:01] ZombieAllen commented on #270
Thanks Mate

[2020-07-10 08:52] VerbovenNick commented on #271
Hi

Thank for the answer.  My problem was caused accidently by triggering the console, after that some methods gave an exception.  Now I have a stable communication for about 3 days without any exception.

Kind regards

Van: FalcoGoodbody <notifications@github.com>
Verzonden: donderdag 9 juli 2020 17:08
Aan: S7NetPlus/s7netplus <s7netplus@noreply.github.com>
CC: VerbovenNick <nverboven@r2d-enginee

[2020-07-14 03:47] nayanavv opened #275 "How to handle the PLC disconnection error?"
How to handle the error thrown when the PLC (ethernet port) is disconnected from the windows application. How to handle this error?  By that I meant how to not suspend the thread and keep the application running.
Also I'm getting different error for ethernet disconnection and PLC power off, how is that possible?

Plc is not getting disconnected when PLC Close function is called in the form.closed

[2020-07-14 07:45] kivannc commented on #275
I have a similar problem. In some computers when the is connection is gone for a second. IsConnected stays true but it always gets read error and shows wrong values. For now I have counter for errors. If it continues for a while. I reinitialize the connection.

[2020-07-14 08:25] nayanavv commented on #275
Hi kivannc,
Could you please explain how you did this? Reinitialize means do I have to restart the application?

[2020-07-16 08:58] kivannc commented on #275
I am just Closing and Openning Connection again. Instance.Close(); Instance.Open();

[2020-07-21 08:46] FalcoGoodbody commented on #271
Can you please explain this a little bit more detailed? It would be nice to know for me.

Thank you very much.

[2020-07-23 06:13] michaelsequeira86 opened #276 "I can read a variable but I can't write"
I trying to write a variable in a S7-300.
The read method works.

bool example:
S7.NetSiemensS7Client.Write("DB216.DBX202.0", true);

I tried bool, int, word... but nothing is write into PLC

Protection;
![image](https://user-images.githubusercontent.com/67459241/88256650-20892c00-ccbc-11ea-985f-5c296e6c369f.png)

How can i check the errors when i write something, when all the write methods return

[2020-07-23 11:08] FalcoGoodbody commented on #276
First please check if you have set the protection-level at the PLC to the lowest so that you can have full access as described on the last site in the pdf-documentation.

Second: I am using, for example, the following code write a single bit into a PLC

[code]

[2020-07-23 11:18] michaelsequeira86 commented on #276
I'm using Step7, the only protection I know is the parameter described above. Is not the same protection present in the pdf Document

I also tried to write with :
plc.WriteBit(DataType.DataBlock.........)
but nothing happened

[2020-07-23 11:48] FalcoGoodbody commented on #276
Can you change this protection level to the radio-button "1 - key position"?
You need to upload hardware-configuration after you changed this.

[2020-07-24 05:52] michaelsequeira86 commented on #276
Thanks for your answer.
 The problem was that:

![image](https://user-images.githubusercontent.com/67459241/88364168-6e686780-cd82-11ea-8630-4d7c959cb961.png)

I increase the number of connections.... my bad

Thanks

[2020-07-24 05:52] #276 closed

[2020-07-27 10:15] VerbovenNick commented on #271
Hi

I had some plc ReadClass exceptions when I triggerd the C# Console.  When triggering the console I assume that the application is not running, after “undoing” that console trigger by ESC, I had some exceptions.  I will not investigate this item further because the console will never be triggerd.

The application is running now for 3 weeks in production and everything seems to go good.  My appl

[2020-08-14 11:07] jakob-ledermann opened #283 "Unnecessary fail after Read (TKPT incomplete)"
This might be related to #250 and simliar errors.
The current Implementation assumes, that a stream.Read only returns less than requested if the message is incomplete or a EOF is encountered. This assumption does not hold. NetworkStream.Read is guaranteed to block until the first byte is available and then copies the available bytes up to the requested count into the provided buffer.
If you are in

[2020-08-14 18:09] mycroes commented on #283
Hi @jakob-ledermann, I figured this wouldn't happen because the message size is smaller than a normal MTU, so I didn't handle it in Sally7 either. It's definitely something that's worth fixing, so unless you absolutely want to tackle this yourself I'll take a jab at it.

[2020-08-14 18:12] mycroes commented on #283
Possibly related: #262 .

[2020-08-16 19:00] scamille commented on #283
https://stackoverflow.com/a/24412022 provides an example for a Stream ReadExactly extension function, which might be all that is needed here. Just needs to replace all the Stream.Read calls with it then. And a async version should be easy to add as well.

[2020-08-17 07:12] mycroes commented on #283
Thanks @scamille . I was expecting to fix it along the same lines, didn't have time to do something with it yet. I'll try to fix this this evening.

[2020-08-17 08:28] jakob-ledermann commented on #283
My internal solution, that only needs a sorting of the repositories:
`
        /// <summary>
        /// Reads a fixed amount of bytes from the stream into the buffer
        /// </summary>
        /// <param name="stream">the Stream to read from</param>
        /// <param name="buffer">the buffer to read into</param>
        /// <param name="offset">the offset in the buffer to read into</param>

[2020-08-17 08:40] scamille commented on #283
Shouldn't the normal solution timeout on the socket read and write timeouts automatically, so no extra timeout should be necessary.
If a user currently does not set a timeout, it will block indefinitely as well, so I don't think there needs to be a special timeout handling here.

For the async version I would welcome having a API with cancellation tokens. I might create a PR for that eventually.

[2020-08-17 19:47] mycroes commented on #283
@jakob-ledermann: I don't like the SpinWait in the sync implementation, I fully agree with @scamille that the timeout on the stream/socket will be good enough. As for your async implementation, that's quite OK, but I wouldn't provide a 'default' cancellation token. As far as I know nothing changes with regards to timeouts, so there's no reason to provide a default CancellationToken. Also, I would

[2020-08-17 20:03] scamille commented on #283
The problem with CancellationToken and sockets seems to be that they do not really seem to work for sockets even if the .NET API offers them. See https://stackoverflow.com/questions/12421989/networkstream-readasync-with-a-cancellation-token-never-cancels

In my Code for connecting the plc (OpenAsync), I added cancellationToken.Register to socket.Close() as suggested in the stackoverflow thread. Th

[2020-08-17 22:11] mycroes commented on #283
Agreed, ReadExact is what we should be discussing here. I'm amazed by the CancellationToken issue, that's something that affects more of my code as well.

@jakob-ledermann, are you going to create a PR to address ReadExact or would you rather have me address it?

[2020-08-18 14:27] lemonfunk opened #287 "Problem reading from DB"
Hi there,
i'm just trying to read DB variables using S7.Net+ (updated vo V0.6) from an S7-1200

The first problem i had it the known issue that the "isavailable" request seems to close the socket connection. (is there a plan to fix this?)

By avoiding "isavailable" i came a bit closer to the finish line (BTW: optimization is of, access granted)
Now i get following exception when i try to perform a

[2020-08-18 15:09] jakob-ledermann commented on #283
The SpinWait was originally a Thread.Sleep, but that is not available in .Net Standard 1.3.

I don't like situations, where the most convenient way to use it has some hidden endless loop or simliar behaviour.
Providing the API with an optional CancellationToken parameter, which is None is in my opinion the same as providing an default CancellationToken which never cancels.

If we rely on the readt

[2020-08-18 22:16] jakob-ledermann commented on #287
If I recall correctly the last two bytes of the message are parsed as error class and error code by wireshark. I did not yet find a list of error codes and meanings or I might have added parsing them and providing more usefull messages. Maybe wireshark is able to provide a text error message.
I had a problem where I thought the configuration was correct, but I forgot to push the hardware configura

[2020-08-19 05:09] lemonfunk commented on #287
Yes Put/Get is enabled. I'm not sure if some kind of firewall / network issue could be a reason? Siemens TIA works fine between the computer and S7. I have a KTP400-HMI connected to the SPS (if this has any influence)

[2020-08-19 05:28] FalcoGoodbody commented on #287
I have to admitt that since the last version 0.6.0 (?) I also get this message very often now on different readings from PLCs (all S7-1500). I mostly read classes or words. With the version before (0.4.0) that did not occure.

Btw: it is good to see that some people started to push the development of this great library! Thank you all for efforts

[2020-08-19 09:54] lemonfunk commented on #287
Shame on me!
BTW: 0.4 gives an array index error instead of the above

BUT: It seems it really was a problem with the PUT/GET option? It was activated, shown as active during the online connection with TIA and i also updated the code several times, but maybe the put/get status was'nt yet pushed to the SPS?

I just tried to activate the HTTP server to check if the SPS gehts this change and now it w

[2020-08-19 10:30] FalcoGoodbody commented on #287
Thank you!
So there will be an update to the library sometime today?

[2020-08-19 10:35] lemonfunk commented on #287
No in my case it seems that the problem was a configuratuion issue of the S7 and not a s7.net+ issue

[2020-08-19 10:35] #287 closed

[2020-08-19 10:37] FalcoGoodbody commented on #287
In my case the problem seems to be something other. The messages just occure with the newer version of the library.
PUT/GET-permission is active since ever...that can not be the problem

[2020-08-19 11:18] jakob-ledermann commented on #287
@lemonfunk My guess is you did transfer the software to the PLC but somehow missed to transfer the hardware to the PLC. I had a simliar error and took a few hours of searching to find this problem. In my case there were some surrounding conditions which prevented the transfer of the hardware.

@FalcoGoodbody can you open a new issue and also test with Version 0.5.0? Could you also describe the val

[2020-08-19 13:14] FalcoGoodbody commented on #287
I will do, thanks

[2020-08-20 05:42] FalcoGoodbody opened #294 "getting exceptions when reading bytes with single request"
Since I am using the version 0.6.0 I am getting execptions when reading values from a DB in a S7-1500.

The expection is as follows:

   bei S7.Net.Plc.AssertReadResponse(Byte[] s7Data, Int32 dataLength)
   bei S7.Net.Plc.ReadBytesWithSingleRequest(DataType dataType, Int32 db, Int32 startByteAdr, Int32 count)

My internal log-file adresses often the same line of code as follows:

[code]
The connec

[2020-08-20 06:02] scamille commented on #294
This seems to be because of the stricter response integrity checks from 0b6226327b5f62138f4ee2583f690f6c89393e26 . Those are a good thing because otherwise you would not be sure that the communication was successfull.

The underlying cause is probably the RedExact problem which we have been discussing these past days, where a tcp stream can return early with less data than requested.

[2020-08-20 06:43] FalcoGoodbody commented on #294
Thank you.
I just want update the information I have got while testing version 0.5.0 and 0.4.0.

With version 0.5.0 the exception is excatly the same.
With version 0.4.0 it is an "index out of range" exception

   bei S7.Net.Plc.ReadBytesWithSingleRequest(DataType dataType, Int32 db, Int32 startByteAdr, Int32 count)
   --- Ende der internen Ausnahmestapelüberwachung ---
   bei S7.Net.Plc.ReadBytes

[2020-08-20 10:13] mycroes commented on #294
We're looking into fixing this. I will be on holiday for a week, I'm not sure if I'm picking up any changes or PR's in that time, but otherwise I intent to fix this soon after. These messages are really useful though because now there's actually something we can diagnose when people report issues.

[2020-08-20 13:37] scamille opened #295 "Guarding against multiple requests at the same time."
#289 started a small discussion about having multiple requests at the same time with S7.NetPlus causes problems because its design is inherently sequential.

@jakob-ledermann

My 2 cents:

As far as I understand it, the S7 protocol would allow sending a "identifier" with each request, and you can expect to get that identifier back in the response from the PLC.

S7Net.Plus just always sends the sam

[2020-08-20 20:13] mycroes commented on #295
I intent to add a threadsafe version that will lock internally. The disadvantage of async locks around the calls to S7NetPlus is that you also lock around message building and result parsing, while internal locking would only need to take care of the stream Read/Write. I do think related improvements should be made as well though, but either way it's something I plan to fix one way or the other.

[2020-08-24 12:50] berkturkmen opened #299 "Struct read/write"
Hello,
I need a very urgent help. If you have please could you share me struct read and wtire example code?

[2020-08-25 20:46] scamille commented on #135
https://stackoverflow.com/questions/8067493/if-getfields-doesnt-guarantee-order-how-does-layoutkind-sequential-work has some more/same discussion about this.

There is also a link in there pointing to https://github.com/dotnet/runtime/issues/19732 which confirms that LayoutKind.Sequential is required.

[2020-08-25 21:43] scamille commented on #135
I started a PR for this. The main question is if it should enforce the struct types to have [StructLayout(LayoutKind.Sequential)] or not. I can't find any statements saying that the ordering is messed up in practice, even though in theory the compiler/runtime could reorder things.

Question is: Is there any evidence that this ever caused a problem at all, or is it purely a hypothetical problem?
(A

[2020-08-25 21:56] scamille commented on #171
PR #292 is related to this

[2020-08-26 05:37] FalcoGoodbody commented on #299
Hello @berkturkmen ,

I use to define a class in C# for any struct I want to read from the plc.
But I can give you an example how I did before:

[code]

[2020-08-31 03:48] zhongjanwen opened #301 "字符串在类或结构模式无法读取"
如若类或结构中有字符串这样的变量，将无法读取，因为他在计算字节时会出错

[2020-09-04 19:09] mycroes commented on #301
Please post your questions in English.

[2020-09-04 19:09] #301 closed

[2020-09-04 19:10] mycroes commented on #294
Can you retest against 0.7.0?

[2020-09-04 19:10] mycroes commented on #283
Should be fixed in 0.7.0!

[2020-09-04 19:12] mycroes commented on #273
Please retest using 0.7.0. If it doesn't fix your issue, the exception might provide more detail with regards to what is going wrong.

[2020-09-04 19:14] mycroes commented on #270
@ZombieAllen I ran into the same issue when updating the build infra, but that should be fixed. Also, @timverwaal's PR is merged, so I'm closing this issue. Feel free to reopen if you still run into issues.

[2020-09-04 19:14] #270 closed

[2020-09-04 19:16] mycroes commented on #256
Can you retest this against 0.7.0? Several issues that might be related to your problem have been fixed, so I expect this issue might be fixed now as well.

[2020-09-04 19:19] mycroes commented on #243
Closing, feel free to reopen if you're still running into problems with how this changed (`LastErrorCode` vs Exceptions).

[2020-09-04 19:19] #243 closed

[2020-09-04 19:20] mycroes commented on #262
Hi @MikeK-10, can you retest against 0.7.0?

[2020-09-04 19:23] mycroes commented on #251
@sudak-91 I think you can now read IW20, can you test this on 0.7.0?

[2020-09-04 19:31] mycroes commented on #253
@AthanasiosT your original question was whether you can read/write OB1, I think that should work since one of the past releases. I'm closing this because I expect it's fixed and @FalcoGoodbody gave a good alternate solution, but feel free to reopen if you need more help.

[2020-09-04 19:31] #253 closed

[2020-09-04 19:32] mycroes commented on #250
Please retest against 0.7.0, possibly fixed or providing a more useful exception.

[2020-09-04 19:34] mycroes commented on #299
Closing, @FalcoGoodbody provided a concrete sample, I do hope to one day provide some proper samples as part of this repository.

[2020-09-04 19:34] #299 closed

[2020-09-05 22:24] bressallg opened #305 "Dotnet Core 3.1 - Linux Issue"
I can't connect S7-1200 PLC when the program is running on Linux. No matter if the PLC exists or not in IP Address,
on Linux the error returns instantly.
Running the same project on Windows (console) works.
It seems that on Linux there is not a waiting time when you try to connect the PLC, while on Windows program it takes about 20s before return error, when there is no answer from the host.
Could

[2020-09-06 07:17] scamille commented on #305
Interesting..I haven't really tested this on Linux yet but should be easy to do.
Unfortunately the integration tests are windows only using a snap7 server.

Anyway:
- are you sind the synchronous Plc.Open().function?

I suspect this might be related to some timeout setting. There should be nothing special in S7NetPlus besides standard .Net Tcp client socket calls, so no particular reason to not wo

[2020-09-06 10:01] scamille commented on #305
Try setting ReadTimeout = 0; and WriteTimeout = 0; before calling Open()

[2020-09-06 13:10] scamille commented on #305
Added linux UnitTest and fixed Timeout problem in #306

[2020-09-06 17:29] bressallg commented on #305
Ok, working now! Thanks!

[2020-09-07 11:16] FalcoGoodbody commented on #294
I compiled this morning with version 0.7.0 and started the application at 7 o´clock am. Now it is around 1 o´clock pm and the application took aroun 1.800 data logs from the different PLCs (one each 10 seconds).

[2020-09-07 11:28] scamille commented on #294
Glad to hear. Do you monitor any abnormal execution times for your test?

What I mean is assuming the communication you perform usually takes 400ms, are you able to observe outliers if it sometimes takes lets say 1s or longer?

[2020-09-07 12:10] FalcoGoodbody commented on #294
no I do not monitor any execution times at the moment. The application is logging more than 300 different values from 10 different PLCs each 10 seconds, some each 10 minutes and store it in a MSSQL database. I just checked the timestamps from the database entries and it looks like the logging is working fine. The timestamps differs only for some milliseconds.

I am "new" to C# programming, this is

[2020-09-07 12:17] scamille commented on #294
Well I would assume that when the entries in your database appear somewhat exactly every 10 seconds, then that should be good enough.
One could probably also do some SQL magic to extra the interval between each successive entry. But that's a bit above my SQL skills as well :-)

I just wanted to ask about this since you appear to have such a large real-life test laboratory set up, which is great fo

[2020-09-07 12:31] FalcoGoodbody commented on #294
well let me see what I can do ;-) You are interessted in the time each communication need do be done? For each of the 10 plc separated and/or the overall time?
I think we can use our "large real-life test laboratory set up" here to some tests for you. So I can help a little bit instead of only using this library ;-)

[2020-09-07 12:57] scamille commented on #294
Well either the time it takes to execute the communication, or just the interval between sample.
Should definitely be grouped by PLC.

The new code in 0.7.0 does have some changes which do better TCP stream reading, but that could also mean longer execution time (instead of failure, which is good) and it would be interesting to see if there are sometimes hikkups. Of course that then also depends o

[2020-09-08 08:39] FalcoGoodbody commented on #294
[Mappe1.xlsx](https://github.com/S7NetPlus/s7netplus/files/5187103/Mappe1.xlsx)
[App.log](https://github.com/S7NetPlus/s7netplus/files/5187104/App.log)

[2020-09-08 09:41] scamille commented on #294
The exceptions in your log come from the underlying .NET Socket, and they will get the error message from the operating system. So not much we can/want to do here, it just looks like your PLC or network connection for that specific PLC is sometimes down for about 10 to 20s. The first reconnection attempt does not succeed, only the second 20s after the initial read error does. After that it works a

[2020-09-08 15:12] scamille opened #310 "Improve Feedback when reading unavailable DB or reading too many bytes"
When reading a DataBlock from the PLC that does not exist, or more bytes than exist in that DB, the error message is quite cryptic.

The idea is to figure out where/how in the S7 protocol such failures are communicated and turn that into a better Exception message.

[2020-09-08 15:13] scamille commented on #310
Reading a DB that does not exist gives me:
```"Invalid response from PLC: '32-03-00-00-00-00-00-02-00-04-00-00-04-01-0A-00-00-00'."```

[2020-09-08 15:33] scamille commented on #310
Reading past the end:
```Invalid response from PLC: '32-03-00-00-00-00-00-02-00-04-00-00-04-01-05-00-00-00'.```

[2020-09-08 15:39] scamille commented on #310
Current check in code is:
[code]
So I think we can add a enum containing possible values for Byte 15 of the response data.
0xff would be OK
0x0A would be DB does not exist / not accessible
0x05 requests read too long.

And of course a bit more sophisticated logic to check that and give the appropriate error message.

[2020-09-08 20:08] mycroes commented on #310
https://github.com/mycroes/Sally7/blob/develop/Sally7/Protocol/S7/ReadWriteErrorCode.cs 😉

[2020-09-08 20:15] mycroes commented on #294
Thanks for the info guys. Good to hear the issue is solved. It's quite interesting that you were actually running into this while I don't seem to encounter this issue with Sally7 which takes the old approach from S7NetPlus of reading once only, and we're actually using this in production to control machines (so not just reading, but a lot of writing as well) even at some 24/7 facilities. Does mean

[2020-09-08 20:19] mycroes commented on #239
Hi @Mallowan, I'm closing this issue because the problem is solved. If you run into additional problems, feel free to keep commenting here (and I will of course re-open if required).

[2020-09-08 20:19] #239 closed

[2020-09-08 20:24] mycroes commented on #235
Sorry for leaving this without response for so long, but yes, you're absolutely right about this. I'm not sure if it should round to an even number of bytes as well, but I think it might. Marking this as a reminder, let me know if this has high priority for you.

[2020-09-08 20:27] mycroes commented on #274
Can you retest this against latest S7NetPlus (0.7.0)? It should at least provide a better exception message if it still fails.

[2020-09-08 20:28] mycroes commented on #272
Hi @Mallowan, Can I close this issue? If not, can you provide a minimal sample that fails?

[2020-09-08 20:31] mycroes commented on #271
Closing this because the issue seems fixed. Also, S7NetPlus 0.7.0 has improved network communication and better exception messages on failures, so please upgrade first if issues persist.

[2020-09-08 20:31] #271 closed

[2020-09-08 20:37] mycroes commented on #263
Hi @Hefaistos68, There currently is no such support. I wouldn't mind adding them, but as long as I've been a maintainer for S7NetPlus I've been struggling to devote enough time to the issues and PR's in the first place. Also, I don't have permanent PLC access so I can't easily test features like these, which makes it even harder to add support.

If you have C# experience you could try to port the

[2020-09-08 20:58] mycroes commented on #233
Please retest against 0.7.0, in worst case it at least provides more meaningful exceptions.

[2020-09-08 21:00] mycroes commented on #252
0.7.0 has some major improvements and better exception message on errors, so please retest.

[2020-09-08 21:02] mycroes commented on #208
Just spotted the `plc.IsConnected` usage, unfortunately that kills the connection. Please retest this without `plc.IsConnected` and preferably against a newer S7NetPlus version.

[2020-09-09 05:59] scamille commented on #235
As far as I know a UDT also always starts at an alignment 2 bytes, or in other words at an even address.
The same is true for for data types with size 2 or more, at least for S7-1500.

So assuming the C# struct tries to mimic the S7 one without the need for filler bytes, we should also handle that.

Probably does not happen that often since you PLC programmers don't like to waste bytes or even bit

[2020-09-09 06:07] shuvendu2018 opened #312 "Connecting to a "S7 200 smart" PLC."
Hello Expert,

Can you please share a example code(C#) to connect with "S7 200 smart" PLC. Does it require any configuration in PLC side.

[2020-09-09 06:09] scamille commented on #208
IsConnected does not kill your connection I believe, only IsAvailable might.

The main problem here should be fixed in version 0.7.0, so just try again with the latest version please.

[2020-09-09 08:53] FalcoGoodbody commented on #294
Sorry for opening this issue again but I just want to inform you, that I am getting exceptions for a while which disappear after a some time.
`2020-09-09 10:46:27.0057|INFO|S7.Net.PlcException: Received 15 bytes: '32-03-00-00-00-0A-00-02-00-01-00-00-05-01-FF', expected 19 bytes. ---> S7.Net.PlcException: Received 15 bytes: '32-03-00-00-00-0A-00-02-00-01-00-00-05-01-FF', expected 19 bytes.
   bei S

[2020-09-09 09:26] SmackyPappelroy commented on #274
It works in 0.7.0! So this issue is resolved

tis 8 sep. 2020 kl. 22:28 skrev Michael Croes <notifications@github.com>:

[2020-09-09 09:59] mycroes commented on #294
@FalcoGoodbody, no I was wrong, I'm not sure if there was an issue with IsConnected before, but calling IsAvailable after connecting defintely was broken. You are using S7NetPlus 0.7.0, right?

[2020-09-09 10:13] mycroes commented on #274
Thanks for testing!

[2020-09-09 10:13] #274 closed

[2020-09-09 10:45] FalcoGoodbody commented on #294
right.
I changed my code a little bit in that way, that I now close the connection to the plc if this execption occurs. Let´s see how this works.

[2020-09-09 10:55] scamille commented on #294
Just as a note: I do read/write single-bytes in my production code as well ("handshakes" to see if the PLC has new data), and that does work just fine in general.

Your message is quite strange. You get 15 bytes, which is the core response, with 0xff at position 14 which indicated status OK.

Since you request exactly 1 byte, I do think 18+1 = 19 is the correct amount of bytes to expect, since the

[2020-09-09 13:31] FalcoGoodbody commented on #312
Hello @shuvendu2018 ,

I am not 100% sure but I think it is not possible to connect to a S7 200.

[2020-09-09 14:02] FalcoGoodbody commented on #263
Hi @Hefaistos68 , Hi @mycroes ,

SZL are only available for S7-300/400. They are no longer supportet for S7-1200/1500.
With the new S7-1200/1500 SIEMENS changed the way how the module and device-states can be read-out of the CPU and they substituted the SZL. If some want to have this information in the plc, one need to read out these information first with the blocks "ModuleStates" and "DeviceStat

[2020-09-09 14:04] FalcoGoodbody commented on #247
Hi @emarinirc ,

there was an update of this library some days ago (0.7.0) which includes some major upgrade in the TCP-communication.
Maybe you can give it a try retest with this version?

[2020-09-09 14:07] FalcoGoodbody commented on #238
Hi @Pacheko,

there was an update of this library some days ago (0.7.0) which includes some major changes in the communication.
Maybe you can give it a try and retest with this version?

[2020-09-09 14:10] FalcoGoodbody commented on #234
Hi @Equino3108,

it is possible to read strings from a plc. Check the issue #239 . There is an example provided.

[2020-09-09 14:11] Hefaistos68 commented on #263
@FalcoGoodbody Thanks, this is important information. Didnt know that. In this case, it might be interesting to add support for the Module and Device States.
While I do have permanent access to various Siemens PLCs, I dont know s*** about them. Just have to use them.

[2020-09-09 14:18] FalcoGoodbody commented on #176
Hi @mycroes ,

I pick this "issue" because I am using the S7Net+ library very intensive and like it much.
My C#-skills are maybe something between beginner and advanced level and I do not feel that this is enough to support you and the others working on this library.
But maybe I can assist with updating the documentation/wiki? Would be finde do support in that way to give something back.
Do you mi

[2020-09-09 14:20] FalcoGoodbody commented on #148
I have access to S7-1500 and S7-300.

[2020-09-09 14:22] scamille commented on #263
Thanks for writing this down. I was wondering why the newer PLC regressed the amount of information one can get through the S7 protocol.
If those Module and Device stats are not directly accessible through the S7;protocol it might still not sense to integrate them into S7NetPlus.

I guess someone could write a struct for it, but it would need to come with a lot of documentation so that people usin

[2020-09-09 14:22] FalcoGoodbody commented on #263
You can also have a look into #119.

[2020-09-09 14:27] scamille commented on #176
Question is where do we want the documentation to go?

The docx/pdf seems a bit outdated and hard to keep in sync.
Maybe we want to use something like readthedocs to create documentation?
Or just put everything into the wiki.

[2020-09-09 14:31] scamille commented on #148
@mycroes it might be possible to get all the Snap7 unit test working on a arbitrary Up/plc-type. That way this nice set of tests could be run against a exhaustive set of true Place.

[2020-09-09 17:05] shuvendu2018 commented on #312
Hi FalcoGoodbody,
Thanks for your quick reply.
I think "S7 200" and "S7 200 smart" are two different PLC model. I could not find any DB address in "STEP7 -Micro WIN/SMART" which is the programming software of "S7 200 smart". I want to read the "VW##" address from PLC.

I have gone through snap7 document and there I find that "S7 200" require tsap address instead of Rack and slot no. I am little co

[2020-09-09 17:35] FalcoGoodbody commented on #312
TSAP is nearly the same. If I remember correctly it looks like 03.02 for example.
03 defines that you are going to communicate with a pc or OPC-Server
02 defines the the rack 0, cpu in slot 2

For more information have a look here:
https://www.tanindustrie.de/pl/Help/ConfigClient/tsap_s7.htm

It is some years ago since I have got a S7-200 and never ever heard of a S7-200 Smart. But if you do not s

[2020-09-09 17:48] FalcoGoodbody commented on #176
I would suggest to use the wiki, or? PDF is outdated, readthedocs is new to me but should not be a problem.

[2020-09-09 17:57] FalcoGoodbody commented on #235
Correct UDTs always starts at an alignment 2 bytes because S7 works word-oriented. Also variables within an datablock from type word, int, dint and real always start at even address.

[2020-09-09 18:19] scamille commented on #235
Can you explain what optimizing data blocks really does on the Plc?
Is it just rearranging things, so that serialization gets more complicated?
Can you still read the whole DB as once byte-array, assuming you know the optimized total size?

The problem, besides the effort to implement would definitely be figuring out how Siemens does this DB optimization. If there is some well-defined algorithm it

[2020-09-09 18:26] scamille commented on #176
I personally strongly prefer something with structured text like Markdown, like for example the wiki.

I haven't used ReadTheDocs myself as well, just thought it worth mentioning.

https://dotnet.github.io/docfx/tutorial/docfx_getting_started.html is also a possibility if we want to focus on the API.

[2020-09-09 18:30] FalcoGoodbody commented on #235
Optimized Datablocks are very good evolution in the S7 plc world.
When using optimized data blocks the memory usage of the data block is managed by the system. There are no spaces between the variables and one can create structs in a way they want.

A good explanation gives the programming guideline from SIEMENS which can be found in englisch language [here](https://cache.industry.siemens.com/dl/f

[2020-09-09 18:38] FalcoGoodbody commented on #176
Well I, as absolutely beginner here on Github, then should start with the wiki. It looks very simpel and easy to use.
Any hints what to do when starting editing the docu?

[2020-09-09 18:39] mycroes commented on #235
There's a document (by Siemens) about optimized vs non-optimized datablocks. There's a few things I remember (about optimized datablocks):

- Data is (re-)ordered by type, I believe larger variables first and then smaller to the end, all bits joined together so space is saved.
- The order of bytes wthin variables is different, because the endiannes of the PLC differs from previous series. This mig

[2020-09-09 18:44] FalcoGoodbody commented on #235
yes it is more complicated when you want to read to a PC program. For the plc-programmers it is much more easier now.
But anyway it is a special thing by TIA. A lot of other software already support this like some OPC-Server software (for example TANI, INSEVIS, and so on).

And you are correct. They re-ordered the data by type from large to small.

As said this is maybe something for the far futur

[2020-09-09 18:46] scamille commented on #176
Yeah: on the right, click on Add Custom Sidebar.

There create some sensible layout for the documentation. Maybe: Home/Introduction, Getting Started, Examples, etc.

Then for each section add a page to the wiki and write something :-)

https://github.com/simulationcraft/simc/wiki is an example which I know quite well.

[2020-09-09 18:56] scamille commented on #235
Well that does not sound too complicated in theory. Ordering by Size of VarType is quite easy (I love LINQ), and converting with LittleEndian is a lot easier since one can just use System.BitConverter which is nearly always little Endian as well.

@FalcoGoodbody: Can you test the following:
Create a optimized DB with Byte[100] in it, and then see what happens when you peform Plc.ReadBytes and Plc.

[2020-09-09 19:03] FalcoGoodbody commented on #235
For sure I can. Will do so tomorrow when back at work.

What do you mean with "write and read all chunks..." ? Sorry I do not know this word

[2020-09-09 19:14] scamille commented on #235
I just meant if you can read/write all entries at all indexes throughout the array. Couldn't come up with a better word for the sections which together build an array.
https://en.wikipedia.org/wiki/Array_data_structure says: ```an array, is a data structure consisting of a collection of elements```

[2020-09-09 19:17] FalcoGoodbody commented on #235
Thank you.
Array is clear for me...chunks not but it is ;-)
Will test for you tomorrow

[2020-09-09 19:45] mycroes commented on #312
Actually TSAP addresses are always used, but for most PLC's there's a 'free' connection that can be used from any source IP which is (apparently) based on slot and rack parameters. In TIA portal there's a network topology view where connections can be configured, you can also read the TSAP's there. I don't know how this works for STEP7-Micro. Also, I don't know what VW addresses are, but I'm not a

[2020-09-09 19:54] mycroes commented on #148
The issue with the unit tests is that they rely on specific addresses. OTOH the main difference between the PLC types is in the connection setup phase, so just begin able to establish a connection already covers the most important part.

Either way, I guess @FalcoGoodbody already tested 0.7.0 against S7-300 and S7-1500? @aetasoul could you test S7NetPlus 0.7.0 against the ET200SP and S7-1200? Anyo

[2020-09-09 20:14] aetasoul commented on #148
@mycroes I leave tomorrow morning at 4 for the holidays and I return on the 22nd, as soon as I get home I run the tests

[2020-09-09 20:20] mycroes commented on #148
Thank you @aetasoul, enjoy your holidays!

[2020-09-09 20:25] mycroes commented on #176
Thanks guys, both of you have already been helping out a lot lately, it really feels like the project is getting back into shape thanks to you guys. You're both a big motivation to invest more time in the library and managing the project.

[2020-09-09 20:30] mycroes commented on #235
I don't think you can access optimized datablocks using the current 'methods' of the S7 protocol. Also, ordering is only possible if you know all defined fields in the datablock, so you can't read a single variable without knowing all the other variables. I guess that's also the reason that TIA portal doesn't show offsets anymore if the datablock is optimized 😉

@FalcoGoodbody is the source for th

[2020-09-09 20:34] FalcoGoodbody commented on #235
yes it is available...even on Github

https://github.com/dotnetprojects/DotNetSiemensPLCToolBoxLibrary

[2020-09-09 21:48] mycroes commented on #235
@FalcoGoodbody could you by any chance test if you can read an optimized datablock from an S7-1500 using DotNetSiemensPlcToolbox? If that works I'll make sure to add it to S7NetPlus as well...

[2020-09-10 05:40] FalcoGoodbody commented on #148
I have already tested with S7-1516, S7-1512SP (ET200SP CPU) and S7-300. That are the PLC types I have access here

[2020-09-10 05:44] FalcoGoodbody commented on #235
For sure I will.
Maybe on today or on Friday.

[2020-09-10 06:04] FalcoGoodbody commented on #235
@scamille I just tried to read 100 bytes from the optimized data block an I imediately get an exception

`
S7.Net.PlcException
  HResult=0x80131500
  Nachricht = Invalid response from PLC: '32-03-00-00-00-00-00-02-00-04-00-00-04-01-05-00-00-00'.
  Quelle = S7.Net
  Stapelüberwachung:
   bei S7.Net.Plc.ReadBytesWithSingleRequest(DataType dataType, Int32 db, Int32 startByteAdr, Byte[] buffer, Int32

[2020-09-10 06:54] FalcoGoodbody commented on #235
@mycroes I am sorry but I do not understand how I can use this library (DoNetToolbox) . There is nearly no docu (or I can not find it) and when I import the whole github code, I get messages that some projects could net loard correctly and I can not compile or use one of the projects included in the solution map. I do not know how to solve this or what I am doing wrong

[2020-09-10 08:41] mycroes commented on #148
Thanks @FalcoGoodbody!

[2020-09-10 08:51] mycroes commented on #235
@FalcoGoodbody OK, thanks anyway. The library is a bit of a mess (as is S7NetPlus as well, to be honest, but we're working on that), so I'm not sure either. I'll see if I can write something that should work, then maybe you can test it. I might be able to test this myself as well, but I don't even have TIA portal installed so I'd still need to rely on someone else to prepare the PLC.

[2020-09-10 11:09] FalcoGoodbody commented on #235
Well as I mentioned before this should not be a high priority point to work on. Lets remember it for the far future.

[2020-09-10 12:15] FalcoGoodbody commented on #263
I checked the amount of data and the way one can read out Device State, Module State, Identification and Maintenance Data and the Status LED the S7-1200/1500 series offer.
The amount of data is not sooo much but one need to do some programming effort on plc-side.
For example: you can read out the device states of an I/O-system, lets say one PROFINET system. On plc-side you have to call the functio

[2020-09-10 12:42] Hefaistos68 commented on #263
I am only wondering, what are the Siemens Engineers drinking/smoking when they design a system?

[2020-09-11 07:10] FalcoGoodbody opened #313 "Update docu writing datatyp StringEx question"
Hey there,

I was actually looking into the datatyp class of StringEx.
There is a method "ToByteArray" which converts a string into a S7-string with the neccessary 2-byte header.
Can someone show me if, where and how this can be used ? I could not find it in the code, sorry.
In the serialization class only String is used, but not StringEx.

I was wondering if with one can use this method, it would

[2020-09-11 07:30] scamille commented on #313
Ok so String looks more something for a Array of Char... / C-String variable, while StringEx corresponds to S7 String type with 2 byte header.

I think this should be first cleaned up in code before you bake it into the documentation. Some Serialization code does not support any string at all (Types.Struct for example)

I would go with the assumption of .NET string == S7 String. For "Char[] / C-St

[2020-09-11 07:42] FalcoGoodbody commented on #313
Yes....we could say that the normal string is only a Char[] which also exists in S7.
StringEx corresponds fully to S7-string.
Would be nice to have this (StringEx) functional in the library because this is an important use-case in my opinion.

[2020-09-11 07:49] scamille commented on #313
I personally have no strong preferences about Serialization stuff, so whatever makes more sense to correspond to a .NET string in S7 should be chosen. And I am also no SPS programmer, so no idea what a modern program should use. I have seen both used on SPS programs I transfer data from.

There is also the possibility of WString, which would be a more natural match for .NET string content since bo

[2020-09-11 08:48] FalcoGoodbody commented on #313
Well from the view of a plc programmer it is usuall use-case to get strings written in the plc and handle them correctly.
Often you get articel data into the plc like articel no., customer order-id or something and you have to track these data with the production process.
If you get only a Char[] you have to do the conversion into a string niside the plc which is annoying. And you need correct str

[2020-09-11 12:43] Jason-Jelks commented on #295
It sounds like you are opening and communicating via a single channel connection. I certainly experienced this issue because we use the Class.cs function exclusively and are reading/writing blocks of 3000+ bytes at a time which can take a little bit longer to complete. I got around this by opening multiple channels to the PLC (max of simultaneous 31 channels, tested on S7-1200).

If the client ope

[2020-09-11 12:46] Jason-Jelks commented on #295
As an addendum to my comment, I have not been able to open the Unit Test associated with the S7.NET project, so all of the testing I have been doing is with a live S7-1200.

[2020-09-11 12:59] Pacheko commented on #238
Good Morning,

I am reading synchronously, but now I have 2300 tags.
I am in 600 to 800 ms of reading.
I will not say it is good, but for so many tags it is acceptable.

The solution at the time to improve this was to read the dbs as follows:

  listDataItem.Add (new DataItem () {DataType = dataType, VarType = varType, DB = db, BitAdr = bit, Count = count, StartByteAdr = startByte, Value = new Obj

[2020-09-12 17:32] scamille commented on #313
I added #315 to rename StringEx to something more sensible.

string serialization seems available through Read/Write DataItems. As said it could be added struct/class serialization with the help of https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.stringlengthattribute?view=netcore-3.1 but I don't see this as high priority. Maybe someone else want to give it a try.

[2020-09-14 13:45] FalcoGoodbody commented on #238
Thanks for that hint.
I tried to read multible vars and it works fine.
Even reading StringEx (S7-String @scamille ) worked really well.

I then measured the time it took to read 7 variables, each another datatype, synchronously with the standard method and converting them. After that I did read the same 7 variable with "ReadMultipleVars" and it was soooo much faster. Wow.

With standard method and

[2020-09-14 15:22] scamille commented on #238
Well reading variables separately has a very high network overhead and multiple round-trips for each call, so it is expected to get a high time there.

ReadMultipleVars tries to read multiple variables in a single request. Those variables can even be in different DB's and whatnot. But there are some low restrictions on the maximum amount of variables and total size you can read (basically nothing

[2020-09-14 18:13] paulosscruz opened #320 "Error reading/writing data from PLC S71200"
Hello,

I am testing the communication of my software with a PLC of the model S7 12000, and I have problems reading or writing data.

This is my code:

[code]

This is the exception I get:

**StackTrace:**    em System.Net.Sockets.NetworkStream.Read(Byte[] buffer, Int32 offset, Int32 size)
   em S7.Net.TPKT.Read(Stream stream) na C:\Users\paulo.cruz\source\repos\s7netplus-0.7.0\S7.Net\TPKT.cs:linh

[2020-09-14 18:34] scamille commented on #320
The exception comes from the underlying socket, saying that the connection was closed by the remote host (the PLC, or whatever you are connecting to here).
The recent changes should not have anything to do with it.

Did you follow the extra steps described in https://github.com/S7NetPlus/s7netplus/wiki/S7-1200-1500-Notes about GET/PUT and protection settings?

cc @FalcoGoodbody

[2020-09-14 22:01] Pacheko commented on #238
Does anyone know if I can communicate with logo8! with this library?

[2020-09-15 02:25] paulosscruz commented on #320
First, thanks for the feedback!

Yes, all the extra steps informed in the documentation have been carried out.

Is there anything else I can do to isolate the problem and try to identify it?

An additional information for this, is that this exception is generated only when trying to read or write some data, after the connection with the PLC it appears as connected and available.

[2020-09-15 05:11] FalcoGoodbody commented on #238
I am not really sure. There is an other issue #179 where this already discussed but it seems as if it is not possible.

[2020-09-15 05:13] FalcoGoodbody commented on #320
Do you use "IsAvailable" method? This seems not to work acutally so please get rid of it and only use "IsConnected".
The data block is not optimized?

Do you mind to show us the data block and the C# code?

[2020-09-15 05:46] scamille commented on #320
Stack overflow answer for your error message: https://stackoverflow.com/a/2582070

But I really have no good explanation why this is happening here. As @FalcoGoodbody mentioned check for the DB being unoptimized,.and maybe just try out a completely different DB as well.

[2020-09-15 07:17] FalcoGoodbody commented on #238
@scamille is there a method "WriteMultipleVars"? Could not finde one.

[2020-09-15 08:30] scamille commented on #238
```public async Task WriteAsync(params DataItem[] dataItems)``` seems to be able to write a list of DataItems.

[2020-09-15 08:44] MikeK-10 commented on #262
Hi, still get the failures, error message now is:
"Couldn't establish the connection to 192.168.1.20.
Message: TPKT header is incomplete / invalid. Received Bytes: 0 expected:4"

Restarting the project allows successful re-connection for a short period (30s to 1min)

[2020-09-15 09:54] trofimich opened #322 "Package restore failed. Rolling back package changes for 'S7NetPlus'. Error NU1108 Cycle detected."
Hi!

I've just created a new WPF project for .Net 4.8 in VS 2019 and tryed to add S7netplus package in NuGet and two errors:

Error		Package restore failed. Rolling back package changes for 'S7NetPlus'.
Error	NU1108	Cycle detected.
  S7NetPlus -> S7netplus (>= 0.7.0).	S7NetPlus	D:\TestProjects\S7NetPlus\S7NetPlus.csproj	1

Screenshot is attached
![Capture](https://user-images.githubusercontent.com

[2020-09-15 09:55] #322 closed

[2020-09-15 10:29] mycroes commented on #238
Please test, I added the required ID's for logo8 which should permit connecting. I'm closing this issue though (because it's fixed), feel free to continue the discussion in #179 with regards to logo8, or open a new issue.

[2020-09-15 10:29] #238 closed

[2020-09-15 10:31] mycroes commented on #320
@paulosscruz Are you getting the error on `Open` or on `Read`?

[2020-09-15 10:43] FrancescoCalugi opened #323 "Optimized protocol"
Hi everyone,
more and more frequently I experienced Profinet PLCs with this optimized protocol setup, i.e. another type of addressing variables. Is there some code to read variables with this addressing type or at least some documentation about it?
Thanks

[2020-09-15 11:44] paulosscruz commented on #320
@FalcoGoodbody , thank you very much!

The "IsAvailable" method does not seem to work correctly, after removing it the reading and writing functioned normally.

I appreciate the attention.

[2020-09-15 11:46] #320 closed

[2020-09-15 18:41] FalcoGoodbody opened #324 "Feature Request/Improvement/Enhancement: WriteMultiple"
When testing some functions to update the documentation I became aware of that there is really good working "ReadMultiple"-method but no "WriteMultiple".
One can use "Write"-method to write multiple variables to the plc. But at "Write"-method you need to provide an array of DataItem. At the "ReadMultiple" you need to provide a List<DataItem>.

As I am a not a soo advanced C# progammer it would be

[2020-09-16 06:03] FalcoGoodbody commented on #323
Hi @FrancescoCalugi ,

with the S7-Net+ library it is not possible to read variable from an optimized data block.

[2020-09-16 06:55] mycroes commented on #324
Hi @FalcoGoodbody, basically it comes down to this; when you do a write on the protocol level there's no distinction between writing a single value or a multitude of values. As such, the `Write` method accepts a `params DataItem[] items`, which means you can pass in as many items as you want as arguments (that's what `params` is for). Honestly there's no good reason why `ReadMultipleItems` doesn't

[2020-09-16 06:58] mycroes commented on #323
Even more than that, we currently don't know what it would actually take to write optimized data blocks and if there's any open source implementation that actually supports this. It's something I want to investigate, but I've looked into it before and at that time couldn't figure a lot more than that it isn't supported in the protocol as used by S7NetPlus but actually requires a whole lot more com

[2020-09-16 07:05] FrancescoCalugi commented on #323
I supposed that, please let me know if you find something new about it. Thanks a lot.

[2020-09-16 07:11] scamille commented on #324
More abstractlly said we should have a symmetrical API between read and writes and also between async and synchronous functions.

I am sure we will get there eventually, I can take a look at it after current changes are integrated.

[2020-09-16 07:59] mycroes commented on #324
That'd be great. Obviously I also don't mind doing it, but time is usually the issue. I intend to catch up on PR's again this evening.

[2020-09-16 08:06] FalcoGoodbody opened #325 "wrong addressing when using Write() to write multiple data items"
given is a data block with the following variables
![errorWrite](https://user-images.githubusercontent.com/22148745/93308693-df685080-f802-11ea-9d63-6abbaeaa3c17.png)

in C# I added for each variable a dataItem
[code]

I assigned values to the data items
[code]

I use `Write()` to write the items to the plc
[code]

As you can see in the screenshot the values are not written correctly to the plc. T

[2020-09-16 12:38] FalcoGoodbody opened #326 "wrong addressing when using Write() with single variable WORD or INT"
I just testet to write a single value to a S7-1515-2 PN plc.
[code]
and also tried
[code]
The value is always written into DB83.DBW148 instead of DB83.DBW146.

Update: I just created a new data block with only 2 variables. If the first one is an INT or a WORD `Write()` failse.
If the first one is a DINT or DWORD `Write()`works nearly.
I get an exception:
[code]

If I place another variable after t

[2020-09-16 18:12] #305 closed

[2020-09-16 18:36] scamille commented on #326
I can't really understand your strange string-based addresses as a non-PLC programmer. (They are also not really documented, right?)

Can you write an example using the first version of Write that you have (```myPLC.Write(DataType.DataBlock, 83, 146, 100);```) which matches the displayed DataBlock?

[2020-09-16 18:41] scamille commented on #325
As far as I understand, S7NetPlus uses the Type of the value object to serialize DataItems, and mostly ignored the VarType. See https://github.com/S7NetPlus/s7netplus/blob/develop/S7.Net/Protocol/Serialization.cs#L14

So because you are writing ints to all those variables instead of ushort (=Word), short (=Int), unsigned (=DWord) and int (=DInt), you get these results.

I can't really say if this

[2020-09-16 18:53] #310 closed

[2020-09-17 05:42] FalcoGoodbody commented on #326
My fault guys...sorry.
I was a little bit confused yesterday.
Everything works fine until you use the correct value conversion.
If you write `myPLC.Write("DB85.DBW4",22)` the 22 is interpreted as an C# INT which is a DInt in S7.
If you write `myPLC.Write("DB85.DBW4",varValue)` and varValue is a short everything is correct.

It is the same when using ´myPLC.Write(DataType.DataBlock, 83, 146, 100);´

[2020-09-17 05:42] #326 closed

[2020-09-17 06:00] scamille commented on #326
Maybe S7.NetPlus should validate that the var type with the type of the value before doing anything.

[2020-09-17 07:03] scamille opened #327 "Investigate MaxPDUSize calculations."
As discussed in #314 there might still be something wrong with how the maximum PDU size is calculated when establishing a connection.

This ticket is intended to split this off into a separate ticket.

Main relevant part so far from the other issue:

_Originally posted by @mycroes in https://github.com/S7NetPlus/s7netplus/pull/314#discussion_r489749807_

[2020-09-17 07:59] FalcoGoodbody commented on #325
Well I also did a mistake here when asigning the values to the data items.
Instead of:
[code]
one should do the correct conversion:
[code]
and then everything is fine.

Thank you for your advice

[2020-09-17 07:59] #325 closed

[2020-09-17 08:18] FalcoGoodbody commented on #326
Maybe...would be a nice feature

[2020-09-17 13:44] SmackyPappelroy opened #328 "My logging application stops reading values in 0.7.0"
I updated my logging application from 0.1.9 to 0.7.0.
After running the application for 2 days I received 2 Exceptions. After the first one i received the second one all the time.
![image](https://user-images.githubusercontent.com/65800614/93479198-546b8100-f8fc-11ea-807f-29be3640213a.png)

I had to rewrite my code whenever I receive a PlcException with ErrorCode == ErrorCode.WrongNumberReceivedBy

[2020-09-17 14:33] scamille commented on #328
I assume the first one is happening because of some networking problem, so S7.NetPlus runs into a timeout. That is to be somewhat expected when doing network communication.

What should not happen of course is that after the  initial exception you can not continue doing normal operations. The connection should be either fully functional, or if we can not recover S7.NetPlus should tear down the who

[2020-09-17 14:50] SmackyPappelroy commented on #328
I fully agree with what you wrote! Do you have any idea what the first exception might be?
If so I can catch it an do a reconnect.

[2020-09-17 15:34] scamille commented on #328
IsConnected definitely does no longer open a new socket. (IsAvailable still might, but you should not use that).

@mycroes I suspect that we need to do something extra in cases where we receive invalid data which does not match the underlying tpkt / cotp protocols, or just generally when receiving EOF/timeouts on the stream.
Either flush the stream or tear i down completely. The first one is defin

[2020-09-17 16:34] SmackyPappelroy commented on #328
First of all thank you very much for taking time to help my problem.
My issue is that I want to have an exception when I can't read or write. If I check for "IsConnected" at all read or writes, and try reopening the connection the actual error might be lost in the application.
I want to have an exception, so I can act accordingly.
My suggestion is that the developers might expand the PlcException

[2020-09-18 05:06] FalcoGoodbody commented on #328
@SmackyPappelroy can you please show your code how do you access the PLC exception and error code? I would like to implement it as well. Thanks in advance

[2020-09-18 06:19] SmackyPappelroy commented on #328
@FalcoGoodbody  I just looked at my logging application and my fix has not worked and was not able to catch the correct exception.
I had to revert back to S7.NET version 0.1.9, and try to replicate the problem in 0.7.0.
I will come back when I find a solution that works.

[2020-09-18 18:01] RubenFarfan08 opened #329 "Cant Read S71500"
hi,
i am testing with s71500

but when i read variables i cant
![image](https://user-images.githubusercontent.com/70863183/93629225-8ab50900-f9ad-11ea-8d6c-13f8c1c12dca.png)

![image](https://user-images.githubusercontent.com/70863183/93629313-b33d0300-f9ad-11ea-9131-39af119ec3f2.png)

![image](https://user-images.githubusercontent.com/70863183/93629483-01520680-f9ae-11ea-952d-2b5a5c57cbac.png)

a

[2020-09-18 19:17] FalcoGoodbody commented on #329
@RubenFarfan08 please check the also the conversion page in the documentation and read carefully the S7-1200-1500 notes. As I can see on your screenshot you are trying to read from an optimzed data block which is not supported by this library.
Please change the attributes to non-optimized, activate PUT/GET communication and set the access level to full. Follow then the docu and the conversion page

[2020-09-18 19:25] FalcoGoodbody opened #330 "How to access the slack-channel?"
Is the slack channel still active? Do I a need an invitation to get access?

Could someone please bring me update? ;-)
I am at the MakerVsVirus workspace already and would like to enter the S7Net+ workspace if it exists.
Maybe we could communicate there a bit more faster?

Thanks in advance

[2020-09-21 09:53] FalcoGoodbody commented on #328
@SmackyPappelroy I just find out how to address the PlcException.ErrorCode.

[code]

[2020-09-21 20:54] mycroes commented on #330
No, it's not active (it still exists though), I'm not sure if you need an invitation, but it should be at http://s7netplus.slack.com. However, as mentioned, it's not active. There doesn't seem to have been anyone there for over a year. I'm also not a Slack user, so I only ever used it for S7NetPlus back in the days when we setup the GitHub organization. Not sure if it's faster to communicate, it m

[2020-09-21 21:24] scamille commented on #330
We could also use the discussion functions in github, assuming we would get membership to the organization (which does not mean you have to grant any team membership with permission for now).

I also do not use slack, and don't think I would add yet another communication app just for this project.

We can also just keep discussing in public issues. There is no reason not use them for strategic dis

[2020-09-22 05:10] FalcoGoodbody commented on #330
Ok thank you for your answers.
It seems as if it is better to keep everything at is and to use discussions.

[2020-09-22 05:10] #330 closed

[2020-09-24 07:44] SheepChao opened #331 "Plc.IsAvailable{get;} cause disconnection with plc."
`bool PlcOK=Plc.IsAvailable;`

this could cause disconnection with the plc.

[2020-09-24 09:45] hongphucbk opened #332 "Connect S7-200 TPKT header is incomplete / invalid. Received Bytes: 0 expected: 4"
I try connect to S7-200 using ethernet module CP 243-1 but has error.

![image](https://user-images.githubusercontent.com/35132643/94128901-e3d8dd00-fe84-11ea-8814-993cd6dc29a5.png)

![image](https://user-images.githubusercontent.com/35132643/94128965-fa7f3400-fe84-11ea-96e7-74701357f877.png)

I think default TSAP in S7-200 is difference with S7.net
![image](https://user-images.githubusercontent.c

[2020-09-24 10:53] FalcoGoodbody commented on #331
This is a known behaviour. The maintainer of the library are working on this.
I think in future version it will not be available annymore.

Please do not use `Plc.IsAvailabe` and use `IsConnected` instead

[2020-09-24 10:56] FalcoGoodbody commented on #332
please see #322
This problem should be solved in Version 0.7.0.
Can please update to the newest one and retest?

[2020-09-24 10:59] FalcoGoodbody commented on #329
@RubenFarfan08 could you solve your problem? Does it work now?

[2020-09-24 12:46] SmackyPappelroy commented on #329
@RubenFarfan08 Youre problem might be that your DB is optimized. Uncheck that tick-box in TIA portal and try again

[2020-09-27 19:03] SmackyPappelroy opened #333 "XML-comments when using Nuget package"
Why am I not seeing the XML-comments when using the S7Net Nuget package?

[2020-09-27 19:37] mycroes commented on #333
Because I failed to include it... Will add them when I have some spare time.

[2020-09-28 08:04] FalcoGoodbody commented on #327
@scamille : may I help here with testing or logging the data when establishing a connection (WireShark or so? )

[2020-09-28 08:09] scamille commented on #327
Yes you might be able to test various PLC types. But this would require a testable version with the changed PDU size calculation.

The test would then be to just see if a large read/write calculation works or not.

I'll see what I can do.

[2020-09-28 08:12] SmackyPappelroy opened #334 "My logging application reads wrong values from PLC after a while"
I have a logging application that uses S7Net 0.7.0.
I log a number of values from different PLCs. After running my application for at least an 30 minutes, the values I recieve using:

public object? Read(DataType dataType, int db, int startByteAdr, VarType varType, int varCount, byte bitAdr = 0)

are not the correct tags. For instance if I log one tag in "DB0.DBW0" and another in "DB0.DBW2" the va

[2020-09-28 08:42] FalcoGoodbody commented on #327
I can test S7-1516F, S7-300 and S7-1500SP plc. If I can help and test, please don´t hesitate to contact me. Would be nice to have a little explanation then for the test

[2020-09-28 08:51] FalcoGoodbody commented on #334
@SmackyPappelroy can you show us the code from the plc where the values are written to the DB0? What type of plc do you use?
Did you check the values in the plc after these 30 minutes? Can it be possible that an DBD is addressed inside the plc for these values?

[2020-09-28 08:55] SmackyPappelroy commented on #334
Hello @FalcoGoodbody!
The PLC-code is correct. For the provided trend curve, that value is always increasing.
The values I am seeing when it is wrong, is other tags I am logging.
Only at 12:00 am the value is set to zero for the trend curve tag. The problem is not lying in the PLC. It is either wrong in my code or something wrong with the S7.Net read function.

[2020-09-28 08:58] scamille commented on #327
Well the MaxPdu size is simply a limit used for creating S7 messages. It is negotiated during connection establishment, and then used for the remaining session when eg. reading data.

If the calculated MaxPDU Size is too large, the PLC will probably just respond with an error.

[2020-09-28 09:05] FalcoGoodbody commented on #334
hmm...In your code you are trying to read a String?
What is this function `MyPlc.ReadS7StringtoString`? I do not know that such a construct exists.

Did you try to read the values with for example `ushort result = (ushort)plc.Read("DB1.DBW0");`

[2020-09-28 10:03] SmackyPappelroy commented on #334
I have a method that pings the Plc at 10 second intervals. If I can't ping I do a Plc.Close() and then a Plc.Open().
If Plc.IsConnected() == true I resume my logging.
But I believe that the problem might be that even though I can't ping the Plc, Plc.IsConnected() == true.
Thats why my data is corrupted. If this is the problem that is a major issue. Can someone please test this!

[2020-09-28 10:42] FalcoGoodbody commented on #334
I put all my `myPlc.Open()`code in a try-catch and handle the `PlcException`.

I would like to test it for you but unfortunately I can not disconnect the plc´s in production.
How should someone test the behaviour you described?

[2020-09-28 10:51] SmackyPappelroy commented on #334
I have a S71500 plc available, and will do a test this evening. I will get back to you with the results.

[2020-09-28 11:50] FalcoGoodbody commented on #334
I just looked into the code and found at `PLC.cs´ line 115 that there is some work to do.
The comment say "TODO: actually check communication by sending an empty TPDU
So at the moment there is no real check.
I googled a bit and found maybe a first step which could be integradet:
[code]

If this ok we could do a Pull-Request

[2020-09-28 12:33] SmackyPappelroy commented on #334
@FalcoGoodbody Great!
I will make a Unit test with this code this evening.
I will also make a test with the old code. I will get back to you with the results of the tests

[2020-09-28 12:46] scamille commented on #334
I don't think this has anything to do with the underlying problem.

IsConnected can always be only a hint if the connection is alive or not. Even with your improved version, when you start the Read after calling IsConnected with a successful return value, the connection might already be terminated by your operating system or the PLC.
So you always have to assume that your read/write can fail becau

[2020-09-28 20:19] SmackyPappelroy commented on #334
I was able to see the exception thrown from the Plc class when the data started to be corrupted. As I mentioned before the network on which the Plc's is, is very bad, so thats probably why not anyone has found this error before.
The exception I receive is and PlcException with ErrorCode.WrongNumberReceivedBytes
What I do now in my application is that I close the Plc and dispose of the Plc object a

[2020-09-29 05:25] FalcoGoodbody commented on #334
Well I check all my readings and writings from and to the plc and and if an PlcException occurs, I only close the connection and open it again before the next reading or writing.
There where a lot of improvements in the last versions. I started with using 0.4.0 last year and I am now on 0.7.0.
I have to admitt that I am very satisfied with version 0.7.0.
Yes there are now a lot more situations whe

[2020-09-29 06:27] SmackyPappelroy commented on #334
Thank you @FalcoGoodbody for good feedback.
I will try your approach and closing and reopening the connection as soon as I receive a PlcException.
I will run my application today and see if that fixes the problem.
Regarding the network, they customer is changing the switches and troubleshooting the network, but it is a loooong process, and the logging has to work in the meantime.

[2020-09-29 18:22] SmackyPappelroy commented on #334
@FalcoGoodbody My application has been running steadily for  10 hours now! When I get a PlcException I close the plc and wait a few seconds  (so the network has time to stabilise) and then open the plc again! This seems to be working so far 🤞

[2020-09-30 13:54] FalcoGoodbody commented on #334
@SmackyPappelroy congatulation! I wish you the best and hope it is still running.
I made my last changes in error- and exception handling 28.09.2020 3:30 pm and the program is still running. Logs every 10 seconds more than 300 values/structs/classes. Actually the 17.675 entry was done since the restart.
Looks very stable at all

@mycroes I think this issue can be closed.

[2020-09-30 14:18] #328 closed

[2020-09-30 14:29] scamille opened #336 "Close connection on Stream EOF or other exception"
@mycroes There have been some issues recently (#334 and #328) where the user had trouble to continue operating after communication problems occurs.

The solution from @FalcoGoodbody was to manually force Close() after certain exception, which seems to work fine for him.

The reason I am opening this issue is that I don't think we should burden the user with having to manually closing the PLC conne

[2020-10-01 09:07] FalcoGoodbody commented on #336
Hello together,

I just want show a whole method I use to read values from one plc.
There is everything included which made the application real stable.

[code]

[2020-10-01 14:47] SmackyPappelroy commented on #336
Do you think there is any negative effects, if s7.net always plc.close() after a PlcException? @scamille

[2020-10-01 15:36] scamille commented on #336
For your use case, it should be fine. All it means is that you are closing the connection and connecting again, even if you don't have to. All that does is add some delay for the reconnecting. If your exceptions because of network problem are rare, that shouldn't really make any difference since during normal operation this will never occur.

This ticket is intended for a solution in the S7.NetPlu

[2020-10-01 16:55] SmackyPappelroy commented on #336
That was what I meant! Why the library does not close the connection if you have an exception from the networkstream!

[2020-10-03 09:26] aetasoul commented on #148
All ok on S7-1200

[2020-10-13 19:45] rjanak commented on #336
Not sure if my issue is related to this, I'm doing multiple calls to the PlC, it works fine most of the time but it stops working for some calls but other calls are fine. I've added a client.Close() Client.Open clause when the client.IsConnected is false. The exception log says "A connection attempt failed because the connected party did not properly respond after a period of time, or established

[2020-10-14 07:43] SmackyPappelroy commented on #336
@rjanak If you have issues with the network I don't think it is a good solution to close and open the connection in the same scan.
Close the connection, and wait some time and then try to open it again. So the network has time to stabilize

[2020-10-14 08:20] rjanak commented on #336
@SmackyPappelroy thanks, I will try that. So basically this must be network related issue.

[2020-10-14 08:22] SmackyPappelroy commented on #336
That or Plc related! You can't make to many requesrs to the PLC at the same time

[2020-10-14 09:54] rjanak commented on #336
@SmackyPappelroy I'll keep that in mind. The thing is there are 5 pumps operating currently which are to monitored in real time for the amount of water delivered (in gallons). So im polling continously within a duration of 300 milliseconds. Ill increase the duration and try limiting the connections to the PLC and see. Thank You.

[2020-10-14 11:28] rjanak commented on #336
@SmackyPappelroy I see, but I have too many reads, and I have made separate connection for each pumps.
Also I have checked wireshark capture I see some packets with [TCP segment of a reassembled PDU] could that be indicative of any problem.

[2020-10-14 11:41] SmackyPappelroy commented on #336
@rjanak There is a parameter in the Plc settings how much computing power you want the Plc to use for communication. Default is 20 % I think. I usually boost this one to 50%.
![image](https://user-images.githubusercontent.com/65800614/95983577-25283100-0e22-11eb-8e92-958809d60852.png)

The Plc does not prioritize communication so it is good to boost this parameter. That might help

[2020-10-14 11:45] rjanak commented on #336
@SmackyPappelroy thank you.

[2020-10-17 10:12] scamille commented on #336
@mycroes What is your opinion on this? We really need to start a discussion here before doing anything. The real world experience with closing the connection manually is definitely helpful, but I still think part of it should be handled by the library itself, assuming we can clearly detect when a connection is in a invalid state.

[2020-10-21 06:31] FeigelChina opened #339 "WrongNumberReceivedBytes"
When I try to read DB from PLC S300, the method of ReadBytesWithSingleRequest throws a exception "Invalid response from PLC". How to solve the problem. HELP!!! thanks a lot.

[2020-10-21 07:29] #339 closed

[2020-10-21 07:37] FeigelChina opened #340 "How to read all the data from DB at one time"
If I try to read all the data from DB1 at one time, what should I do? DB1 has various types of value such as the real, word and so on. Every type also has various values. All the values are distributed on the DB1. Is there easy solution to read all the data from DB1?

[2020-10-21 07:39] 757846197 commented on #340
You can use Readclass to read all the data from DB1

[2020-10-21 07:42] 757846197 commented on #340
/// <summary>
        /// Reads all the bytes needed to fill a class in C#, starting from a certain address, and set all the properties values to the value that are read from the PLC.
        /// This reads only properties, it doesn't read private variable or public variable without {get;set;} specified.
        /// </summary>
        /// <param name="sourceClass">Instance of the class that will s

[2020-10-21 07:44] 757846197 commented on #340
For example 👍 siemensPLC.readDB(db161, 161, 0);

[2020-10-21 08:13] FeigelChina commented on #340
So  I need to create a class generated from DB1 by myself. Is there a auto generation mapping the data types of DB1 to the class's properties?

[2020-10-21 08:29] matteomezzanotte opened #341 "Connection with multiple PLCs"
Hi, I'm developing an application which should read and write data from multiple PLCs. Is it possible open several connections simultaneously? If not, what could be a solution? Thanks.

[2020-10-21 08:44] SmackyPappelroy commented on #341
You can open as many connections as your PLC will allow! S7.Net uses the S7-Communication protocol

[2020-10-21 09:16] matteomezzanotte commented on #341
Yes I know, but can I open many connections with more than one PLC ?

[2020-10-21 10:12] SmackyPappelroy commented on #341
One connection per Plc object @matteomezzanotte

[2020-10-21 10:15] matteomezzanotte commented on #341
So, through many Plc objects I can establish many connections with different Plcs

[2020-10-21 10:30] SmackyPappelroy commented on #341
Exactly @matteomezzanotte

[2020-10-21 11:09] FalcoGoodbody commented on #340
There is no auto generating mapping to create a class from a plc data block.
You need to create a class for your own or you can also read a list of data items.
Have you had a look in the wiki?

[2020-10-21 20:47] arturonvz opened #343 "The S7String type does not properly return Extended ASCII characters"
The S7String type does not properly return **Extended ASCII** characters like the letter **Ñ** and accented vowels (áéíóú àèìòù).
I recommend changing line 33 of the S7String.cs file to a byte [] to char [] conversion and then creating a new string with those characters. I solved it by changing that line like this:

Original:
`return Encoding.ASCII.GetString(bytes, 2, length);`

Change:
[code]

[2020-10-21 21:02] arturonvz commented on #343
I attach how the change was for me and how it works for me in the application that I am developing.

![2020-10-21_14h47_58](https://user-images.githubusercontent.com/13890139/96785703-70a38780-13ac-11eb-8237-98f336eed246.png)
![2020-10-21_14h59_18](https://user-images.githubusercontent.com/13890139/96787048-5b2f5d00-13ae-11eb-8371-148be314b400.png)

[2020-10-21 21:07] scamille commented on #343
Do you know what exact encoding S7 PLCs use?

It is a bit hard to get good information on .NET Convert.ToChar, but as far as I can tell it uses the system text encoding.

My assumption would be that the PLC uses Latin1. Or can this be configured?

[2020-10-21 22:18] arturonvz commented on #343
I believe that S7 PLCs handle the string only as an ASCII character array, they don't seem to use some kind of text encoding.
I made a small correction in my code because it was not taking the complete string, with this it is working correctly:

[code]

![image](https://user-images.githubusercontent.com/13890139/96792826-65eeef80-13b8-11eb-810a-c6473e5d6d21.png)

[2020-10-22 09:01] scamille commented on #343
hmm it is not like you can convert binary data to a string without some sort of encoding. ASCII is definitely a text encoding.

But you are talking about umlauts here, and ASCII does not contain those. I strongly supsect that the PLC uses something like https://en.wikipedia.org/wiki/Windows-1252 where the values from 128 to 255 map to the special Umlaut characters you are seeing.

[2020-10-22 10:49] SmackyPappelroy commented on #343
I would really appreciate if we update the encoding in the library! I had to rewrite the code for string in order to send åäö

[2020-10-22 16:12] arturonvz commented on #343
The problem is that Encoding.ASCII gets an encoding for the ASCII (7-bit) character set. This object doesn't include Extended ASCII (128-255) and puts question marks for any of these special characters.

In the S7-1200 (and of the other models I also believe), the strings are an arrangement of 8-bit chars, so it allows these special characters from 128 to 255. In Spanish and other languages these

[2020-10-22 16:26] scamille commented on #343
I am sure I can resolve the .NET fix for you without too much trouble, that is not the problem here. But before doing that, the following questions need to be fully and definitely answered, from someone with PLC knowledge/connections. That really has nothing to do with C#/.NET :)

- Which encoding is used by Siemens S7 PLCs? Does this hold for all PLC models?
- Is that encoding always fixed, or do

[2020-10-22 17:34] arturonvz commented on #343
I did not find any information about the enconding for Siemens S7 PLCs, but it is the default for the STRING data type. It can not be changed.
I did a test forcing the ASCII and Extended ASCII values ​​into two variables.
ASCII **0 to 31** and **127** are not printable.
ASCII **32 to 126** matches the standard.
ASCII-Ext **128 to 255** does not fully match Code page 437. Siemens is a German brand,

[2020-10-22 18:40] scamille commented on #343
Have you tried Latin1? https://en.wikipedia.org/wiki/ISO/IEC_8859-1
ncoding.GetEncoding("iso-8859-1")

https://support.industry.siemens.com/cs/document/17980308/how-do-you-have-specific-language-character-sets-(e-g-cyrillic)-displayed-in-s7-200-text-displays-?dti=0&lc=en-WW

lists quite a few encodings, not sure if that really applies here.

[2020-10-22 19:40] SmackyPappelroy commented on #343
I can make a unit test tomorrow, that writes all characters to a DB and reads them back! If all characters are the same we should be good

[2020-10-23 20:19] barnabaskisstdk commented on #197
Hi,

I have a same problem, and the WriteClass can't handle Lreal datatype.
Thanks in advance

[2020-10-23 20:28] barnabaskisstdk opened #344 "WriteClass bug"
Hi,

1. The WriteClass method write the data into the PLC memory but never come back,stick into itself, so I have to terminate the program.
2. THe WriteClass method can't handle the LREAL datatype.

Pls help
Thanks

[2020-10-24 15:04] SmackyPappelroy commented on #343
I have tried all the encoders in "Encoding.GetEncodings()". The one @scamille suggested (CodePage = 1250) is the most correct. It is correct up to character[158], after that my unit test fails.

[2020-10-25 09:32] scamille commented on #343
Have you also tried doing your unit test with the Convert.ToChar(byte) method?

I really don't want to hinder a solution here, I just fear that without making the encoding used independent of your .NET system that solution will only work if you set your OS to German, and might break if you set it to something else.

[2020-10-25 11:11] SmackyPappelroy commented on #343
I tried with conerttochar and I alsi tried setting my OS to german! I am all out of ideas @scamille

[2020-10-26 13:44] pahager commented on #204
Hi, can you describe please how to use  ConcurrentQueue and Synchronization? I'm trying to read value of DB in one Thread and writing in another Thread and getting the same error as you: TPKT is incomplete / invalid exception. How to fix it?

[2020-10-27 06:35] FeigelChina commented on #340
as far as I know, some softwares can obtain the whole address books of PLC so that they can track all the values.

[2020-10-27 16:47] Briasoft opened #345 "Unable to connect so SIMATIC S7 1500"
Using the following code
`                    _S71500 = new Plc(CpuType.S71500, this.txtIp.Text, Convert.ToInt16(this.txtRack.Text), Convert.ToInt16(this.txtSlot.Text));
                    _S71500.Open();
`
I receive back an exception: "couldn't establish a connection on <IPaddress>:102"
I've tryed even with a direct cable attached to the network module of the PLC to avoid network isues, but the

[2020-10-28 11:04] barnabaskisstdk opened #346 "OpenAsync with timeout function"
Hi,

I would like to ask whether there is some possibility to set some timeout under OpenSync. I tested the method and approx. after 20 seconds I got error message when the PLC is not ready. How can I parametized it?, or would you be so kind and build in this parameter in the OpenAsync method? i.e OpenAsync(int timeoutInMillisecond)

thx in advance.

[2020-10-28 20:09] FalcoGoodbody commented on #345
Did you turn offed the access level an turned on PUT/GET Access as described in the wiki?

[2020-10-28 20:12] FalcoGoodbody commented on #344
I am sorry but I actually did not tried to write a class back to the plc.
Can check this week maybe

[2020-10-28 20:14] FalcoGoodbody commented on #346
@scamille, @mycroes any chance there?

[2020-10-28 20:17] FalcoGoodbody commented on #340
But it is not implemented in this library.
As far as I know the optimized protocoll is not documentated and Siemens keep it like a secret. Companies which are building OPC-Servers like TANI or Softing are able to read also optimized data blocks but I do not know how they do it.
I think for this library it is maybe a long-time goal.

[2020-10-28 21:44] scamille commented on #346
Cancelling a connection attempt is a bit of a tricky thing, as far as I understand it.
The NET functions for example don't even offer CancellationToken support, see https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient.connectasync?view=netcore-3.1 before net5.

There are tricks like https://stackoverflow.com/questions/14635422/how-to-stop-the-socket-connect-function-if-it-stuck

[2020-10-29 06:45] Briasoft commented on #345
Thanks for reply, the PLC has been set up from another firm, they told me that PUT and GET are enabled, I'll ask them about the access level. Could the SECOMEA device create connection problems?

[2020-10-29 08:02] barnabaskisstdk commented on #346
Hi,

Thanks for your answer.

I can stop the OpenAsync, if I use timeout under 20 sec. When I use for example 30000 milliseconds, my timeout priority will be lower than the OpenAsync "own" priority, and the OpenAsync method will be stopped after around 20 sec.

                if (await Task.WhenAny(SiemensPLC.OpenAsync(), Task.Delay(10000)) == SiemensPLC.OpenAsync())
                {

[2020-10-29 08:08] scamille commented on #346
You need to increase your operating systems default socket connection timeout value to get a longer timeout.

[2020-10-29 09:27] FalcoGoodbody commented on #345
What is a

device?

[2020-10-29 09:41] Briasoft commented on #345
Is a remote connection device that the contructor uses to gain remote access to the plant, and il fisically bridged to PLC ethernet unit. I'm guessing that there is a problem between the ethernet module and the PLC unit.

[2020-10-29 10:04] barnabaskisstdk commented on #346
I tried many ways but without success. I have Win 10 Pro, and set TcpInitialRTT and TcpMaxConnectRetransmissions parameters in the system registry.
Default values: 3 and 2 which give the 21 sec (3+6+12)

Would you be so kind and help me which another way should I try it?

Thx in advance.

[2020-10-29 10:51] FalcoGoodbody commented on #345
so it´s like a switch or a router??
possible that you need to configure this correctly

[2020-10-29 11:14] Briasoft commented on #345
I've tryed even with this device disconnected, plugging directly into the ethernet module but the problem still persists. Now the error message is changed to Comunication interrupted at transport level

[2020-10-29 12:08] scamille commented on #346
I don't have any particular knowledge about this.
Google gave me for example this stackoverflow answer: https://stackoverflow.com/questions/22341885/increase-timeout-for-system-net-sockets-socket-connect

[2020-10-29 12:11] scamille commented on #345
S7 protocol uses TCP protocol, and by default Port 102.

You definitely need to ensure that you can reach the PLC through those means. Having a successful ping would be the first test, but you also need to ensure that Port 102 is not blocked by your firewall.

[2020-10-29 12:40] barnabaskisstdk commented on #346
Hi,
 I solved the problem.
I set the netsh interface tcp set global initialRto=3000
The Max SYN Retransmissions = 4

The default op. system timeout is 93 sec (3+6+12+24+48)

Thx for your initial help.

Process:

CMD in admin mode
netsh interface tcp set global <for help>
netsh interface tcp show global

TCP Global Parameters
                ----------------------------------------------

[2020-10-29 12:59] Briasoft commented on #345
The PLC answers at ping, and using telnet I can open a session on port 102, bytheway when I call the open function it seems that somehow the PLC is firewalled, even with a direct cable connected to the ethernet module. The inner error of the exception says wrong IP

[2020-10-30 09:08] FalcoGoodbody commented on #345
What about the access level? Coud you check if it is turned off?

[2020-10-30 12:53] Briasoft commented on #345
I've asked, is set to full access, complete control (Answer from the manufacturer)

[2020-11-02 09:21] ulichx commented on #331
`IsConnected `doesn't work the same as `IsAvailable`. If the connection drops for any reason (eg: I remove the ethernet cable for testing) **after I connect to a plc**, there is no way to check it without `IsAvailable`. Without checking the current status of connection, `IsConnected `always returns `true `until I `Close()` the connection.

For me the workaround solution is; inside `if(Plc.IsAvaila

[2020-11-02 09:34] Markus0911 opened #347 "Connection to WinAC RTX 300"
Hi, iam trying to connect to a Siemens Microbox 427D with WinAC RTX 300.
Unfortunately it is not working. Connection error.
In the Code i put: plcDriver = new S7NetPlcDriver(CpuType.S7300, ipAddress, 0, 2);
Is there a mistake? Or is it not possible to connect to WinAC?
Thanks for help.

[2020-11-02 11:53] SmackyPappelroy commented on #331
if you get an exception from the plc object that is related to the connection, you could just try and ping the plc and then connect. That way you know if the ethernet cable is removed @ulichx

[2020-11-02 11:58] OOOOO1 opened #348 "I found some mistakes"
Using ReadStruct and ReadClass to read the data read by UInt32 is incorrect
![错误一(1)](https://user-images.githubusercontent.com/59185414/97865794-bc0f4b80-1d45-11eb-9608-708854ae6066.PNG)
![截图2](https://user-images.githubusercontent.com/59185414/97865808-c0d3ff80-1d45-11eb-8f78-99d1a2b8de46.PNG)

[2020-11-02 14:51] ulichx commented on #331
@SmackyPappelroy I will try it as soon as possible. No matter what `IsAvailable` gives me headaches. I avoid it as much as I can. Sometimes my workaround works, sometimes `Open()` after `IsAvailable` gives an error. After some repeated `try{}`s sometimes it connects, sometimes doesn't etc.

So, I can ping the PLC while it's connected, to check if it's still a solid connection, right? It doesn't br

[2020-11-02 15:13] SmackyPappelroy commented on #331
IsAvailable opens a new NetworkStream and therefore breaks the connection! I don't know why it is still left in the code! A ping is harmless! It doesn't say anything about the connection, but at least you know that the cable is connected

[2020-11-03 15:59] Briasoft commented on #345
I've found a similar issue [#128 ] that seems to be related to mine, but I'm using a SIMATIC S7 1500 CM. There could be a similas problem on this one?

[2020-11-06 16:35] #345 closed

[2020-11-06 16:36] Briasoft commented on #345
The problem has been solved, there was a network problem on the managed switch that closes the port 102

[2020-11-12 22:15] VerbovenNick commented on #295
Do you meand with "multiple channels" that you are constructing multiple PLC instances //Plc(CpuType cpu, string ip, Int16 rack, Int16 slot// in your .net application?  I am countering the same issue, it could happen that more than one Writeclass or Readclass are initiated at the same time.  Thank you

[2020-11-13 02:25] Jason-Jelks commented on #295
Regarding the 'Class' R/W specifically; This all depends on which Siemens PLC you are connecting to of course. The S7-1200 can accept up to 32 simultaneous client connections that are all reading and writing simultaneously on different threads (I tested and verified this), although the performance is terrible if you max out the PLC's connections. The S7-1500 can accept a lot more. I have found tha

[2020-11-13 12:52] VerbovenNick commented on #295
HiThank you for the detailed answer!I have application with s7-300 plc.Do you mean with 2 connections, 2 plc instances in your .net application?ThxVerzonden vanaf mijn Galaxy
-------- Oorspronkelijk bericht --------Van: Jason Jelks <notifications@github.com> Datum: 13/11/20  03:25  (GMT+01:00) Aan: S7NetPlus/s7netplus <s7netplus@noreply.github.com> Cc: VerbovenNick <nverboven@r2d-engineering.be>,

[2020-11-13 13:18] Jason-Jelks commented on #295
Yes that is correct. You will have to govern when the instance you are going to perform your read/write is actively performing another request, as multiple read/write request into the same instance at the same time could be disastrous.

I will take a moment to also indicate that the S7.NetPlus does not, and cannot, perform validation to ensure that the TYPE you are writing to matches. Only that yo

[2020-11-20 01:27] FeigelChina opened #350 "value conversion"
how to read the address like DB2119.DD32?
From the Wiki, I don't find the related value conversion about "DD".
When I read the source code, it does not mention the situation in case of "DD". Look at the attached screenshort.

![image](https://user-images.githubusercontent.com/55540524/99744381-8ecae780-2b12-11eb-9f30-a9923fa701f7.png)

[2020-11-27 02:27] zhongjanwen opened #351 "关于ReadClass,ReadStruct中读取字符串报错"
ReadClass,ReadStruct中不能读取字符串，如果有字符串就会报错。写字符串没有测试，可能也是有问题 。希望能修复这个功能

[2020-11-27 06:10] SmackyPappelroy commented on #351
Bra fråga, läs dokumentationen @zhongjanwen

[2020-11-27 07:20] FalcoGoodbody commented on #350
Hello @FeigelChina ,

what datatype in S7 should DD be?
A double word is DBD.

Can you show an example of the data you want to read?

[2020-11-27 07:23] FalcoGoodbody commented on #348
Hello @OOOOO1 ,

can you describe the mistake you think you have found a little bit more detailed?
I can not unterstand correctly from the pictures.
You do not use "ReadStruct" or "ReadClass" at all in the pictures...

[2020-11-27 07:27] FeigelChina commented on #350
Hello @FalcoGoodbody
The level 1 co-workers give me the wrong data address. They left out a letter "B".  There is no datatype in S7 should DD be.
Thank you very much!

[2020-12-03 06:00] shrepat opened #352 "Databinding Mismatch while reading Class Struct"
Hello,

I am trying to access my DB from TIA to my WPF GUI c# Project. While binding the class I happen to notice mismatch of values while binding the class and accessing the structure.
The TIA DB looks like this with their current values.
![Sample_DB](https://user-images.githubusercontent.com/56634414/100970326-ac5c7000-355a-11eb-992c-366d334b261f.png)

When binding it on my WPF app. The binding

[2020-12-03 07:26] scamille commented on #352
Can you please share the code of how you read the data? Both the class and the function reading into it.

And do you have turned of data block optimization? See https://github.com/S7NetPlus/s7netplus/wiki/S7-1200-1500-Notes#s7-12001500-notes

[2020-12-03 09:47] shrepat commented on #352
@scamille Hi,

Thanks for responding. Sure. The code is
Apologies. Hopefully it is not too long to read. Do let me know if you would want to fix the code.
TIA
[code]

The above code is my HMIDB Class. I read this on my ViewModel as follows:

[code]

In my WPF xaml- I bind it using dataContext as
[code]
The PLC Class code is:
`plcDriver.ReadClass(DataViewModel.Instance.db1Read, 61, 0);`

[2020-12-03 10:16] shrepat commented on #352
Also,

yes optimised data access is unchecked.

[2020-12-03 10:55] FalcoGoodbody commented on #352
@shrepat ,

I am not sure if this can be the reason but as I can see you want to read multiple S7-Real values from the plc.
According to the wiki the datatype in C# within the class needs to be float when using the "read-class"-method.

Maybe you can give it a try?

[2020-12-03 11:53] shrepat commented on #352
Yes,

I tried float instead of double earlier. The problem remained even then. I am not sure how to use read multiple items. I will look into it and see if that fixes the issue.

Thanks.

[2020-12-03 13:31] scamille commented on #352
I am pretty sure you need float / System.Single to match 32bit S7 Real data type.
Please try again with this, and if it is still not working we can continue looking at other possibilities.

[2020-12-03 13:36] scamille commented on #352
I am not sure if it is caused by only showing a snippet of your code, but you I can't really match the grid.Rows between your labels and content. E.g

[code]

[code]

With Grid.Row=25 and Grid.Row=0

[2020-12-04 03:16] shrepat commented on #352
Yeah sorry, I had to swap different grid values just for code. It is only a snippet of the entire code. Mine had around 30 samples I had to take only 5 due to space concerns.

[2020-12-04 03:32] shrepat commented on #352
I just tried replacing the double with float type for the real values. Still the same error.

[2020-12-04 07:09] scamille commented on #352
Hmm it might be realted to #300  . In effect, the ordering of properties we get through reflection is not guaranteed to be the same order in which you declared those properties in your class. But that hasn't been a problem in practice so far.

Can you try creating a more simple struct.
struct HMIDb1ReadData {
public float Sample1;
public float Sample2;
...
}
and read into that using Plc.ReadStruct

[2020-12-06 14:12] sonduter opened #353 "Autoreconnect"
Hi everyone. I have a project with Visual C# and mutiples s7_1200. I have a problem when one of PLCs disconnects because of ưeak network then my application not working.

[2020-12-14 13:45] tadej-ihs opened #354 "Can't read PLC DB Tag of "Array[0..2] of myDataType""
DB in TIA PORTAL
![image](https://user-images.githubusercontent.com/67745166/102086015-b8c4b080-3e17-11eb-80e0-fb2333a23115.png)

My Model object named TestDB3
---------------------
![image](https://user-images.githubusercontent.com/67745166/102090408-bd8c6300-3e1d-11eb-96a4-7376cabdd773.png)

Json result of ReadClass function
----------------
![image](https://user-images.githubusercontent.com/677

[2020-12-14 15:20] scamille commented on #354
Please try out using this as a replacement for you thirteen class:
[code]

My guess is that calculation of adresses is not correct in S7NetPlus, and it does not align correctly to the even adresses.

[2020-12-15 06:55] tadej-ihs commented on #354
Hi!

Your quess is correct. It now works fine.

It means that "array[0..x] of bool" is inclined to mistakes correlated to addresses or better say "PLC offsets". With included " dummy" byte secound array item reads from right values.

Thanks a lot!

[2020-12-15 07:15] #354 closed

[2020-12-15 07:28] scamille commented on #354
As far as I understand it, UDTs are always of an even size. So if you have a odd number of bytes in it (like you have with your 2 bools, which make up 1 byte), the size of the UDT is still 2 bytes and not 1.

Automatic calculation of this is probably something that should be added to S7NetPlus as a improvement. When something like this is implemented, the solution with the Dummy byte should still

[2020-12-18 18:02] SalgadoDs commented on #344
I had the same situation, I've modified a little bit the library to "Solve" this problem, I have two ways to kind of solve it, the first one is in the async process, im not quit experienced in async processes so i think this solution can be improved since it works good if you only do some writes, lets say write data with a button, but if you continuously write to plc it gets stuck after some write

[2021-01-04 17:57] Pallo100 opened #355 "Xamarin & .NET Standard 2.0"
**Good Year!!!** Sorry for the inconvenience, I would like to create an APP to send commands to my S7-1215 PLC. If I create a UWP everything works correctly but if I create an APP with Xamarin .NET Standard 2.0 or 2.1 I get the following error:

{System.ArgumentException: Value does not fall within the expected range.
  at System.Net.Sockets.Socket.SetSocketOption (System.Net.Sockets.SocketOptionL

[2021-01-04 19:28] mycroes commented on #355
Hi @Pallo100,

I believe this issue is already fixed, but not yet released. Unfortunately I tend to be short on time, as such the release carrying those features has been missing.

In more detail with regards to the issue, originally I used `System.Threading.Timeout.Infinite` for read and write timeouts, but that apparently breaks on Mono. It's been changed to a plain `0` now, which should work wi

[2021-01-04 19:54] mycroes commented on #355
Just released [v0.8.0](https://github.com/S7NetPlus/s7netplus/releases/tag/v0.8.0). Should be available from nuget.org within an hour or so. Closing this issue, feel free to reopen if it persists with 0.8.0.

[2021-01-04 19:54] #355 closed

[2021-01-04 20:43] Pallo100 commented on #355
Thanks!!! this fix work for me. IOS 12.5 and Android 9

[2021-01-05 12:51] SmackyPappelroy commented on #333
@mycroes I am glad to see a new version of S7.Net (0.8.0), but the XML-comments don't seem to be working in the Nuget-package in this version.

[2021-01-05 12:56] mycroes commented on #333
Thanks for reminding, will try to make some more time this week so I can fix this as well. Let's leave this issue open until it's fixed 😉

[2021-01-05 21:29] mycroes commented on #333
Hi @SmackyPappelroy, just released 0.8.1 which includes documentation. Should be live on NuGet already!

[2021-01-05 21:29] #333 closed

[2021-01-06 20:19] SmackyPappelroy opened #357 "OverflowException in 0.8.1"
I am developing a new application and am getting an overflow exception after a while when trying to read a tag. This application in developing stage so it might be an error on my part. But I don't get why. Any ideas?
<img width="1073" alt="Skärmbild 2021-01-06 211752" src="https://user-images.githubusercontent.com/65800614/103816067-b0514580-5064-11eb-9047-821fd8d443d2.png">
<img width="1006" alt=

[2021-01-07 12:56] SmackyPappelroy commented on #357
I was able to resolve this issue myself by including a thread-lock, due to the fact that I read values on a seperate thread as well. This was my fault

[2021-01-07 12:56] #357 closed

[2021-01-07 14:26] mycroes commented on #357
Great. One tip, use the async API and use proper async constructs, that'll make your life a lot easier in the long run. Still requires synchronization in that case, but you can create an exclusive task queue for async operations in like 20 lines of code. Are you creating something as a hobby project, or professionally? I'd be willing to invest some time in a mobile sample application, so if you wa

[2021-01-07 14:50] SmackyPappelroy commented on #357
I am developing an application for analyzing "Cleaning In Place"-systems in food processing industries. At the moment it is just on a hobby level. I need to get it to work properly before I implement this on a professional scale. I am a beginner to intermediate programmer so I am not that good at it ;)
I have refrained from using the async API, due to the fact that I think it is like a "virus" onc

[2021-01-08 21:36] hydudajan opened #358 "Is is possible to write values to the input area to the PLC?"
Hey guys,

First of all, I have to say that this project is really great.
Now to my question. Is it possible to write a value in the input area of the PLC?

I would like to use my PLC to test my logic and build a simulation for it with C #. For a conveyor system, for example. In this simulated system there would also be sensors whose values I would like to use as inputs in the PLC as usual.
So are

[2021-01-11 07:35] midelav opened #359 "S7netplus async reading data"
Dear all,
I am working on a UWP C# project to communicate with PLC S7-300. The driver is s7netplus v0.8.1
I need to read data from 3 different PLCs and also 2-3 DBs from each one.
I have written some test functions using ReadClass and it is working fine as long as I am on main thread. If I change the code just like below to run the reading task async, after a while (timer do this job every 500ms),

[2021-01-11 07:46] scamille commented on #359
Make sure you are synchronized per plc object. You cannot access the same (plc, connection) in parallel with the S7 protocol, and S7NetPlus does not automatically take care of it for you.

Either use some locking mechanism, or create a queue from with task from which you only process one at a time, etc.

[2021-01-11 07:46] midelav opened #360 "Access PLC in other C# project pages- S7netplus"
Dear all,
I working on a UWP C# application to communicate with S7-300 PLC, and the driver is S7netpuls v0.8.1
If I set a PLC instance on main page and try to write values in PLC, every thing works fine. But I need to Write PLC values from other pages. The issue is that if I define a new plc instance in other pages and try to run this example code: SamplePlc.Write("DB5.DBX7.6", true);  because of

[2021-01-11 08:03] FalcoGoodbody commented on #358
Hey @hydudajan,

the input-area of a plc can not be written.
In generall there are sensor devices or something connected to the physical inputs.
If you try to set the input it will be overwritten by the plc with the actuall state of the physical input within the next cycle (< 10ms).
One can only use a so called force-table within the IDE of SIEMENS to force the inputs to specific logical value.
Bu

[2021-01-11 11:40] hydudajan commented on #358
I am working in automation industry here in Germany. So i am used to these PLC'S and know about the force table. But i thought about setting the inputs, like my normal input-modules would.
But when we are not able to write to inputs, i need to rethink my solution.

Thank You

[2021-01-11 11:40] #358 closed

[2021-01-11 17:59] hydudajan commented on #360
In my opinion you should create a Static "PLC Manager" class. This could contain a public static PLC property, which can then be accessed from any other class. Establishing a connection could also be done in this PLCManager class.

[code]

[2021-01-12 08:19] midelav commented on #359
Thanks for your quick answer, but how can I do this?

Another question is that there is a readAsync function in S7netpuls, how about it? is it helpful in this case?

[2021-01-15 03:14] Siloen opened #361 "how to Connect multiple PLCs with Dependency injection in asp .net core"

[2021-01-21 13:38] peymanmajidi commented on #204
What does TPKT stand for?

[2021-01-25 10:27] stonellearning opened #364 "read plc DB error"
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.Sockets.NetworkStream'.
   at System.Net.Sockets.NetworkStream.ReadAsync(Byte[] buffer, Int32 offset, Int32 size, CancellationToken cancellationToken)
   at S7.Net.StreamExtensions.ReadExactAsync(Stream stream, Byte[] buffer, Int32 offset, Int32 count)
   at S7.Net.TPKT.ReadAsync(Stream stream)
   at S7.Net.C

[2021-01-25 10:28] stonellearning commented on #364
System.IO.IOException: Unable to read data from the transport connection: 由于线程退出或应用程序请求，已中止 I/O 操作。.
 ---> System.Net.Sockets.SocketException (995): 由于线程退出或应用程序请求，已中止 I/O 操作。
   --- End of inner exception stack trace ---
   at System.Net.Sockets.Socket.AwaitableSocketAsyncEventArgs.ThrowException(SocketError error, CancellationToken cancellationToken)
   at System.Net.Sockets.Socket.AwaitableSocke

[2021-01-25 10:29] stonellearning commented on #364
System.OverflowException: Arithmetic operation resulted in an overflow.
   at S7.Net.TPKT.ReadAsync(Stream stream)
   at S7.Net.COTP.TPDU.ReadAsync(Stream stream)
   at S7.Net.COTP.TSDU.ReadAsync(Stream stream)
   at S7.Net.Plc.ReadBytesWithSingleRequestAsync(DataType dataType, Int32 db, Int32 startByteAdr, Byte[] buffer, Int32 offset, Int32 count)
   at S7.Net.Plc.ReadBytesAsync(DataType dataType

[2021-01-25 10:30] stonellearning commented on #364
How can I solve it?

[2021-01-26 03:09] stonellearning commented on #364
2020-11-18 09:06:34,893 [26] ERROR: read plc DB:32 error
S7.Net.TPKTInvalidException: TPKT is incomplete / invalid
   at S7.Net.TPKT.ReadAsync(Stream stream)
   at S7.Net.COTP.TPDU.ReadAsync(Stream stream)
   at S7.Net.COTP.TSDU.ReadAsync(Stream stream)
   at S7.Net.Plc.ReadBytesWithSingleRequestAsync(DataType dataType, Int32 db, Int32 startByteAdr, Int32 count)
   at S7.Net.Plc.ReadBytesAsync(Dat

[2021-01-26 09:48] mycroes commented on #364
There recently was someone else that ran into the `OverflowException`, I believe the cause was related to multithreaded access to the PLC instance in that case. Also, you're just posting a bunch of stack traces, that isn't really helpful. Maybe you could share an excerpt of the code you're using? Also, I'd recommend you start with something small like a console program to read one variable only. Y

[2021-01-27 00:54] stonellearning commented on #364
2021-01-20 16:01:47,188 [5] INFO : read plc DB:51 error
System.OverflowException: Arithmetic operation resulted in an overflow.
   at S7.Net.TPKT.ReadAsync(Stream stream)
   at S7.Net.COTP.TPDU.ReadAsync(Stream stream)
   at S7.Net.COTP.TSDU.ReadAsync(Stream stream)
   at S7.Net.Plc.ReadBytesWithSingleRequestAsync(DataType dataType, Int32 db, Int32 startByteAdr, Byte[] buffer, Int32 offset, Int32

[2021-01-27 00:55] stonellearning commented on #364
public async Task<byte[]> ReadBytesAsync(int db, int startByteAdr, int count)
        {
            try
            {
                using (plc)
                {
                    if (!plc.IsConnected)
                        plc.Open();

                    return await plc.ReadBytesAsync(DataType.DataBlock, db, startByteAdr, count);
                }
            }
            catch (Exceptio

[2021-01-27 00:55] stonellearning commented on #364
public async Task<byte[]> ReadBytesAsync(int db, int startByteAdr, int count)
        {
            try
            {
                using (plc)
                {
                    if (!plc.IsConnected)
                        plc.Open();

                    return await plc.ReadBytesAsync(DataType.DataBlock, db, startByteAdr, count);
                }
            }
            catch (Exceptio

[2021-01-27 18:26] mycroes commented on #364
You shouldn't be having a `using` block there, would start by removing that.

[2021-01-28 04:01] stonellearning commented on #364
Like "return await plc.ReadBytesAsync( db, startByteAdr, count);"
but  datatype parameters are required in methods

[2021-01-28 06:09] mycroes commented on #364
No, I'm talking about the `using` block. Are you a C# developer, or are you just using C# to try out S7NetPlus?

[2021-01-28 07:55] stonellearning commented on #364
I am a C# beginner，I need to use C# to read the value of DB block with PLC DB block

[2021-01-28 08:04] stonellearning commented on #364
![image](https://user-images.githubusercontent.com/76717577/106107650-23d90500-6182-11eb-88df-731dd4561e7e.png)
I don’t  add the using block，as shown in the picture

[2021-01-28 08:22] mycroes commented on #364
Your original code is this (would be nice if you'd also had just pasted the code properly instead of a screenshot):
[code]

I only took the part within the `try` block, because that's the relevant part. The code from above should become this:
[code]

I can't promise it'll work then, because this is just a small excerpt from the code, but this is definitely wrong and will cause at least one of the

[2021-01-28 08:22] #364 closed

[2021-02-03 10:26] dhakh commented on #344
it works,thanks!

[2021-02-04 06:21] FalcoGoodbody commented on #352
I just would like to share my code how I am reading class from plc:

The class:

[code]

the declaration:
[code]
read class from plc:

[code]

I then write the values of the class into a database and show them on a ASP.Net website:

[code]

[2021-02-04 11:25] shrepat commented on #352
Hello all,

Thank you for all the assistance. The issue has been identified to be coming from INotifyPropertyChanged and not from the ReadClass. When I bind with INotifyPropertyChanged, the values get jumbled and mismatched. I tried displaying the class as is with the notifyproperty and without it and noticed it. We would like to bind it to our xaml UI WPF program which is where this problem occur

[2021-02-04 11:26] shrepat commented on #352
Hello,

Yes this is very similar to how we read the class now and is working seamlessly.

Thank you and appreciate you for sharing the code.

Regards,
Shreyas

[2021-02-04 12:51] scamille commented on #352
Maybe set it up like this:

[code]

And in your UI bind like this: ```Text="{Binding Data.Value}"```

[2021-02-05 09:22] djp4nd4 opened #366 "S7-300 vb.net DINT negative conversion"
Hi, I'm trying to read a negative DINT 32bit from a DB, following documentation.
Documentation for C# says:
Read S7 Dint, you need to use ConvertToInt():
int result2 = ((uint)plc.Read("DB1.DBD60")).ConvertToInt();

In vb.net if I use:
quota = Convert.ToInt32(plc.Read("DB32.DBD6"))
i receive error "Value was either too large or too small for an Int32"

If I use convert.ToInt64 i receive error "arit

[2021-02-05 22:54] mycroes commented on #357
Hi @SmackyPappelroy, sorry for my (very) late response. I'm currently working on a graphical application to read data from S7 and Modbus connections. Although I'm currently developing it around [Sally7](/mycroes/Sally7) it could work with S7NetPlus just as well. I hope to have a very barebones prototype soon, which should then at least support PLC connection configuration and reading variables. Yo

[2021-02-07 21:18] mycroes commented on #366
Hi @djp4nd4,

This should work, even though the implementation of the method isn't great (and that's an understatement).

Wait, you read the documentation which tells you to use `ConvertToInt()`, which is an extension method in S7NetPlus, but instead you're using `Convert.ToInt32()`, which is a method from .NET Framework itself?

I can hardly imagine that, given the number from the last example.

[2021-02-07 21:18] #366 closed

[2021-02-08 09:39] mycroes commented on #361
Not an S7NetPlus issue, no details, I suggest you use something like StackOverflow for an answer.

[2021-02-08 09:39] #361 closed

[2021-02-08 09:41] mycroes commented on #360
Having a PlcManger is a good idea, however there's no reason for the PlcManager to be static. You could just as well have this as a single instance in your application and apply DI/IoC to inject it into the services where you need it. Either way, I'm closing this issue because it's not S7NetPlus related.

[2021-02-08 09:41] #360 closed

[2021-02-09 12:02] tolgacakir commented on #234
Hi,
`ReadStruct`/ `ReadClass` methods do not support **strings**, it should be written to the **document** or **wiki** page.
Will `ReadStruct`/ `ReadClass` methods support **strings**?

[2021-02-09 19:50] scamille commented on #234
#365 would also enable support for string in struct/classes. Note that this requires adding annotating your string type and capacity, since that can't be inferred from your string alone.

Datetime support in struct/class would also require some annotations to tell S7NetPlus which S7 datetime type to use (there are multiple). And anyway, someone would have to implement it.

You can of course use th

[2021-02-12 15:05] n0kx opened #368 "ErrorCode: ReadData. Received error from PLC: Object does not exist."
I have a S7-1500 PLC with 1 DataBlock on it. I can connect with no errors but when I execute any command to receive data I get ErrorCode "ReadData" with the message "Received error from PLC: Object does not exist."

For example, the following gives me that error...

`byte[] data = PLC.ReadBytes(dataType: DataType.DataBlock, db: 1, startByteAdr: 0, count: 5)`

Any ideas on what could be going on? T

[2021-02-12 21:50] n0kx commented on #368
Turns out my DataBlock was not 1 but instead 131 and not in the default slot of 0. Problem solved.

[2021-02-12 21:51] n0kx commented on #368
Turns out my DataBlock was not 1 and the PLC was in slot 1 instead of the default of 0. Problem solved.

[2021-02-12 21:51] #368 closed

[2021-02-25 19:39] Wobeam opened #369 "Sync Open() doesn't complete"
Hello  everyone,
In older projects I used  v.0.1.9  for them it was taken already assembled dll which had location  _s7netplus-0.1.9/nuget-pack/lib/net45/s7net.dll._
It worked decently.
Today, just out of curiosity I've tried to add to solution S7.Net class library. Then made needed references to S7.Net class library.
To my surprise there's a huge difference at behaviour. Seems this works but it i

[2021-02-26 03:49] hiiWZY commented on #312
@mycroes  @FalcoGoodbody
Hello, this is the S7-200 smart connection  request  info, I got it from WireShark and this worked very well for me.
`
case CpuType.S7200SMART:
  bSend1[13] = 0x10;
  bSend1[14] = 0x00;
  break;
`

[2021-02-26 16:17] mycroes commented on #369
I have no idea what differences you're talking about, please explain...

[2021-02-26 16:44] Wobeam commented on #369
Ok,

- if take ready to use dll here  _s7netplus-0.1.9/nuget-pack/lib/net45/s7net.dll._  the data exchange in App is stable.
- if assemble dll by yuorself using s7netplus-0.1.9  S7.Net Class library - this dll shows very unstable results. The data exchange breaks  a few tims per minute.

I have no clue what could be a difference between these DLLs.

[2021-02-27 00:02] mycroes commented on #369
Not that I know of. There might be differences due to debug or release configuration and probably you're using a newer compiler than what 0.1.9 was built with, although I doubt that would matter much.

However, 0.1.9 is three years old. It has a few defects that have been fixed and overall reliability should be better, so please just use a recent release instead.

[2021-02-27 17:25] Wobeam commented on #369
@mycroes,
followed your advice and ended up with dll  v7.0.
the version 8.0 has thrown a fail as per picture attached.
What could be a reason between 0.1.8 - 7.0 that cause a fail?

thanks.[
![all threads](https://user-images.githubusercontent.com/61907152/109394795-e52d9a80-7939-11eb-8bdb-31c8efa3ddf7.png)
](url)

[2021-02-27 17:59] mycroes commented on #369
The latest is 0.8.1, and what you're showing is not a failure (did you even read the message?) I can imagine however that you're using IsAvailable to check for the connection state, which you shouldn't be doing anyway. No property check can ensure that the next call will succeed, so just make the call and handle exceptions appropriately. IsAvailable was breaking the connection for a long time, I'm

[2021-02-28 09:13] Wobeam commented on #369
@mycroes,
this message I read and it saud me nothing useful

I'm not using IsAvailable at all.

With the simplest connection code below I went through all available Dlls beginning with 0.1.8 and ending with 7.0 . They all are workable. The data exchange takes place with all of them.

[code]
However, beginning with v.8.0 the piсture is changing to the opposite,
There are not data exchange and any e

[2021-02-28 09:32] mycroes commented on #369
I guess you're making these calls from the ui thread, there might be an issue there with regards to how the sync api now just invokes the async api. Could you change the method to be async and use the OpenAsync method? If that works, I have an idea about what to look for.

[2021-02-28 10:07] Wobeam commented on #369
@mycroes,
if I got you correctly

I did as follows:
[code]
However, the issue still persits.

[2021-02-28 10:56] mycroes commented on #369
That's right. Could you try to connect using a command line application to see if the issue relates to the fact that this is on the ui thread at all?

[2021-02-28 11:33] scamille commented on #369
Hmm so you suspect that the different synchronization context in a gui application might break the sync calls?
We probably never tested that, since unit tests behave like command line applications.

 Unfortunately I don't have that much experience/knowledge about this. Shouldn't ensuring that there is ConfigureAwait(false) used everywhere internally fix the problem?

[2021-02-28 12:37] Wobeam commented on #369
@mycroes,
again, if I got you correctly,

**this** picture below has been made with v7.0.

![ConsoleApp_basedOn_v 7 0](https://user-images.githubusercontent.com/61907152/109418606-5a50ac80-79da-11eb-94b6-d9507f642037.png)

**this** picture below has been made with v 8.0

![ConsoleApp_basedOn_v 8 0](https://user-images.githubusercontent.com/61907152/109418637-853b0080-79da-11eb-80d9-597b68bebeeb.pn

[2021-02-28 16:52] scamille commented on #369
S7 Real maps to .NET float / System.Single, while LReal maps to .NET double / System.Double

[2021-03-02 22:37] Wobeam commented on #369
Ok, thanks.
what about integers?
Plc side     .Net side
Int              ?
DInt           ?

[2021-03-02 22:54] mycroes commented on #369
Types of matching size, so:
Int => `System.Int16` or its alias `short`,
DInt => `System.Int32` or its alias `int`.

[2021-03-03 10:17] Wobeam commented on #369
Hello,
at early version there have been done an opportunity to read ErroreCode
as follows:
`if (errCode != ErrorCode.NoError) throw new Exception(plc.LastErrorString);`
It was quite helpful.
What about the lattest ones? They don't have that. So how to handle with such kind of errors?

thanks.

[2021-03-03 10:23] mycroes commented on #369
That's been changed to throw relevant exceptions internally. Returning error codes and LastError properties are more C-like, they're not considered good practice in C#. Changes have been made to make the library more conformant with what is common practice in the C# world.

[2021-03-03 20:48] Mallowan commented on #369
@Wobeam, I would note that reasonable questions you are asking here. I had same doubts.
Reffering  to the fist your post, may I ask how you appreciate this library. Is there something running at industrial area based on this lib and made by you?

[2021-03-04 05:30] Wobeam commented on #369
Hi,
you know I used an early version a couple of years ago. This works decently up to now despite of I hvave been the world's worst C# programmer at that time. Today I am also bad but not so much as two years ago.  )
Now there's a task to make something else. Much water has gone under the bridge an we have v8.1 here available.
I can not tell anything about reliability of the lattest one.
The only

[2021-03-04 06:54] mycroes commented on #369
@Wobeam I'm actually working on a [UI](https://github.com/mycroes/PlcMonitor) for interacting with PLC's, the part that manages the PLC connection is at [src/UI/Models/Plcs/Plc.cs](https://github.com/mycroes/PlcMonitor/blob/main/src/UI/Models/Plcs/Plc.cs).

It's the first time I'm managing concurrency based on observables, but it works reasonably well. There's probably a 100 approaches you can tak

[2021-03-04 07:02] scamille commented on #369
I had a quick look at the ConfigureAwait settings, and I do think we are all covered.

@Wobeam without an actual error message / stack trace it is hard to understand what your actual problem is. Your picture is just showing some local variables while you are debugging, but nothing about the actual problem you encountered.

[2021-03-04 07:07] Wobeam commented on #369
@scamille,
seems I solved issues with types convertation. I left App running and organized constant data exchange for a night. so far there have not been any hangs. So I'm going to encrease traffic load.
fingers crossed.)

[2021-03-07 18:26] bolt-b opened #370 "Can't migrate to lattest version. Need an explanation."
Hello guys,
untill now we had 0.1.8 version implemented in the project. And it worked fairly fine.
It is time to make another application and we came accross with some challenges.
Early versions allowed to read multiple DB as per example code below.

[code]

Now, it seems not a workable way to read multiple data blocks. Or?
Could someone help us to migrate to lattest version? Basically the questio

[2021-03-07 19:43] mycroes commented on #370
First off, you're missing any technical detail about what's going wrong. Do you get exceptions? Do you get incorrect data? Does your cat explode on read of DB2? You're saying that the question basically is about multiple reads, but I don't see any actual question.

Secondly, you might be running into the same issues as in #369. To start, check if your real variables are mapped to C# float and not

[2021-03-07 21:29] bolt-b commented on #370
We read a dozen of classes by a way as in the first post.  Before migration to 8.1 I left only two classes (for the sake of simplicity) to be read and replaced all doubles with floats, thanks to #369 that is helpful.
There are not any exceptions there.
Based on my observations I would say that library lost its reliability. At least in my particular case.
To be more concrete, it may connect to 1500

[2021-03-07 21:54] mycroes commented on #370
As stated in my previous reply, I still don't know if your cat explodes. You're not detailing anything yet. There's no class layout, there's no code that fails, there's no detail of any exception whatsoever.

The fact that your UI freezes could be due to issues surrounding the synchronization context (even though there shouldn't be any) or the fact that you're performing calls on the UI thread tha

[2021-03-07 21:56] mycroes commented on #369
Closing this issue because it seems fixed now, feel free to continue discussion or open new issues if other problems arise.

[2021-03-07 21:56] #369 closed

[2021-03-08 10:30] bolt-b commented on #370
@mycroes, hi
this is communication part of the code
[code]

Can you explain what you meant by _cat explode_?
Also how to catch any exceptions when there are not any fails while debugging and when UI simple freezes after a while?
I can judge about library behaviour only by taking as a base the observations performed while application launching and starting.

[2021-03-08 11:17] Wobeam commented on #370
hello everyone,
@bolt-b  I am from #369 you have recenly mentioned here.
let me put my two cents in your discussion.
I wrote that I used 0.1.9, however as it turned out in fact I used 0.1.8!
Because, devs confused at that time and had put to 0.1.9 nuget the version 0.1.8.
It may be easily checked by means of comparison both dll sizes. So  I couldn't  use 0.1.9 as a connected project. That was a re

[2021-03-08 12:28] FalcoGoodbody commented on #370
@bolt-b may it possible that you use the wrong rack number for your S7-1500? I checked my code and everywhere I connect to a 1500, the rack number is 1 and not 0 as it is in the hardware configuration in TIA-Portal.
Can you check that please?

[2021-03-08 12:37] mycroes commented on #370
@bolt-b With _cat explode_ I simply mean the you're not providing anything to go by (you know, cats shouldn't explode when you connect to a PLC). Even now you're just pasting part of your code, but then you complain about UI freezing while there's no UI interaction in your code sample nor is there any UI interaction in S7NetPlus. Also, you're saying your UI freezes _after a while_, so what actuall

[2021-03-08 14:52] Wobeam commented on #370
@FalcoGoodbody hello and thanks for the input,
 Upon slot,
 it doesn't matter much as it was a couple years ago and now. Seems it doesn't affect communication at all.
Also take a look at intellisense below.
![slot](https://user-images.githubusercontent.com/61907152/110336370-d9c32900-8035-11eb-8acc-299bd0d4b196.png)
Intellisense recommends both to be zeros. You can safely replace 1 with 0 and your

[2021-03-08 15:27] mycroes commented on #370
It actually does make a difference for S7 1500:
![image](https://user-images.githubusercontent.com/122017/110341506-b050d000-802a-11eb-8ba4-4c03bb09f50d.png)

I'm not sure what ID's the PLC accepts, I always use `03:01` if I want an unconfigured TSAP, which would be the same as passing `0` for rack and `1` for slot.

[2021-03-08 15:49] bolt-b commented on #370
Guys,
having in TIA portal : rack 0 and slot 1 did some tests.
-playings with rack caused always exceptions as "couldn't establish conneextion with 20.20.20.2". So, to play with rack is prohibited ). It must be exactly as in TIA.
@Wobeam you are right, playings with slots don't affect at all.

@mycroes,

I have  two loops in plc each produces i+0.1, and i+1 at its output.
The application just gets

[2021-03-08 16:11] mycroes commented on #370
@bolt-b I'm not sure how I should phrase this, because it doesn't seem to land: what is it you're doing, technically? Again there's a complete lack of technical details, which probably is the only thing that matters in this case.

- What is your target platform?
- What framework are you targeting?
- Are you using a timer to read data?
- If yes, what type of timer are you using?
- What thread is ac

[2021-03-08 16:51] bolt-b commented on #370
it is 4.5.2 (btw, 0.8.1 is also targeting 4.5.2 by default)

WPF App (.Net Framework)

Yes I am. It's System Timer.

I created a class library and connected it to solution. This class library has a class where I make a connection to plc.

This is quite big application, so my answer  -yes. Yet while troubleshooting others are disabled.

An event subscribed to a timer, then it is being broadcasted t

[2021-03-08 17:44] bolt-b commented on #370
@mycroes
simply amazed,
-launched app based on 0.1.8
-then launched app based on 0.8.1
this a marvel, both are working!
It looks like 0.1.8 something configured for 0.8.1. Perhaps Windows socket or so or configured plc . )
If app based 0.8.1 launch separately it freezes after ~3 sec.

[2021-03-08 18:36] mycroes commented on #370
What type of timer exactly? There's `System.Timers.Timer`, `System.Threading.Timer`, `System.Windows.Forms.Timer` and two others, they all start with `System` and end with `Timer` (but have very distinct behavior). Also, how many timer instances/events/callbacks are you using?

That doesn't say anything about the thread that accesses the PLC instance.

The size of the application doesn't need to h

[2021-03-08 18:58] TechByte-300 commented on #370
I am sorry, let me take the opportunity since this branch looks alive.
May I ask something?
Does the lattest version keep the older way for writing bits?
And it must look as follows?

`sampleplc.Write("DB33.DBX0.1", 1);`

[2021-03-08 19:10] mycroes opened #371 "Writing bits with 0.8.1"
I am sorry, let me take the opportunity since this branch looks alive.
May I ask something?
Does the lattest version keep the older way for writing bits?
And it must look as follows?

`sampleplc.Write("DB33.DBX0.1", 1);`

_Originally posted by @TechByte-300 in https://github.com/S7NetPlus/s7netplus/issues/370#issuecomment-792993722_

[2021-03-08 19:11] mycroes commented on #371
@TechByte-300 Yes, I don't see any reason why it wouldn't work. Don't hijack other issues for your own questions.

[2021-03-08 19:44] bolt-b commented on #370
@mycroes,

[code]

I can't answer because I don't know what you mean by _synchronization primitive_ .

That's hard to say.

Nobody disputes, so I wrote at header "Can't migrate... please help."
I believe that since 0.1.8 the lib has been changed somehow, so methods and conception I used while building of app don't fit anymore.
So I should do something with this.
Again, you may not believe in that,

[2021-03-08 20:50] mycroes commented on #370
Do you have only this single timer instance? Or do you create this per DB you're reading or something similar?

I think [this](https://wiki.osdev.org/Synchronization_Primitives) could provide some insight, but I'll try to explain it really short. Let's assume you're reading data from the PLC and reading takes 1 second (I know it's a lot faster, but the scale is not important for the example). Now

[2021-03-09 06:36] FalcoGoodbody commented on #370
Good morning @all

maybe I can provide a little testprogram which uses lib-version 0.8.1 and a timer to read and write a) multiple variables using a item list and to read b) a class within another DB inside the plc.
The plc is a S7-1515-2 PN which is in slot 1.
It is running since nearly 6:30 o´clock this morning without any exceptions.
Parallel to this little program my main logging is also runni

[2021-03-09 07:53] bolt-b commented on #370
@mycroes, @FalcoGoodbody  and others, Hi

I made **simplified** conception of a timer usage which has proven its reliabilty at industrial area since 0.1.8 appears here at "Releases" section. Weirdly enough 0.8.1 doesn't work in this context.

![app conception](https://user-images.githubusercontent.com/80217182/110435588-408f2380-80c4-11eb-9bfb-9895d8b9d22b.png)

@FalcoGoodbody thanks for input esp

[2021-03-09 09:03] mycroes commented on #370
@bolt-b This looks fine, I don't see any issues here as far as library usage is concerned. I'm wondering though how do you create the timer and how do you propagate your viewmodel events? The `System.Timers.Timer` documentation explicitly states you should set it's `SynchronizationObject` property to the form or control you're updating unless the timer is part of the UI, which it isn't, because it

[2021-03-09 16:18] scamille commented on #370
https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatchertimer?view=net-5.0 could be an easy solution to ensure that the timer event runs on the UI thread.
Whether that is desirable when using synchronous S7NetPlus API is another question, it might make your GUI less responsive. But for that, async/await is probably a better solution anyway.

[2021-03-12 04:08] coollyteng opened #372 "PLCAddress.cs"
PLCAddress.cs-> Parse(...)->default->case "Z" case"C"->dataType = DataType.Timer  shouldbe dataType = DataType.Counter

[2021-03-12 07:18] scamille commented on #372
I was able to create a pull request through the Github website :-)

[2021-03-12 18:54] bolt-b commented on #370
@mycroes, hi
Continuing our conversation,
Beginning with 0.1.9  it is implemented COTP an TPKT classes.
Could you tell me in short what was a reason(s) of their implementation?

[2021-03-12 19:41] mycroes commented on #370
0.2.0 was my first release, which was 2 months later than the release introducing the COTP and TPKT classes, so I can only guess. Logically they were added as a means to apply separation of concerns and to isolate some protocol parts so they're not all over the codebase (as still is the case with many other stuff in S7NetPlus).

Perhaps you know that besides current maintainer of S7NetPlus I also

[2021-03-12 19:46] #372 closed

[2021-03-12 19:55] mycroes commented on #234
I'm leaving this issue open for now (#365 will address the string part when merged), there's no reason why DateTime couldn't be implemented in a similar fashion to how #365 implements string reading (except for the fact that it's simply not necessary to specify a length for DateTime).

[2021-03-13 01:26] coollyteng opened #374 "Read Struct arrays"
ReadStruct->Can the ReadStruct function read struct arrays?->Struct[]

[2021-03-13 01:34] coollyteng opened #375 "VarType enum"
.net core->NuGet:Vartype is missing S7WString type

[2021-03-13 18:31] bolt-b commented on #370
@mycroes,
Sure, you are right. Something reproducible is here [https://github.com/bolt-b/Examples](url).

How do I set/reset bits while reading? Could you make changes?
0.1.8 handled this easily, in comparison with 0.8.1 an usage of which hangs the App while writing.
-currently 0.8.1 is referenced to the project.
-you can easily switch over to 0.1.8. It is in project folder.

[2021-03-13 19:43] mycroes commented on #370
Hi @bolt-b,

OK, so I took a look at your sample. First off, reading seems to work, the UI doesn't hang and I get values in the UI. However, I'm amazed it works at all, since you're not doing the UI updates from the UI thread. It might be MVVMLight is handling that for you (although my quick peek at it didn't seem to indicate that it does), but if it doesn't then this alone could be reason enough

[2021-03-15 18:04] ismdiego opened #376 "Bad ByteLength for S7Strings and S7WStrings"
There is still a little bug pending fix with both S7Strings and S7WStrings. The calculated ByteLength is bad.

- S7Strings: If the reserved value is odd, it needs to add a +1 to pad with words
- WS7String: In Plc, the function VarTypeToByteLength does not include the VarType.S7WString case, and so it returns 0 instead of the right (varCount * 2) + 4 it should.

I will create a Pull Request for the

[2021-03-15 21:35] mycroes commented on #370
OK, so there's 2 things that made me reconsider concurrent requests (which would also handle concurrency in general):
1. Issues like this one, it's semi-hard to correctly use the library to begin with even though the fix doesn't need to be large
2. Performance

As for the first point, it's pretty obvious, it would make usage of the library easier if it could handle concurrency internally. The seco

[2021-03-16 06:33] scamille commented on #370
Btw I am using https://github.com/StephenCleary/AsyncEx for async locking of S7NetPlus. Works like a charm, and very easy to use with using/IDisposable.

[2021-03-16 06:33] TechByte-300 commented on #344
Confirm, WriteClass simply became  a disaster. It hangs up everything and everytime.

@SalgadoDs, do you use modified method as is or also being wrapped in Task.Run method?

thanks.

[2021-03-16 11:33] SalgadoDs commented on #344
I use it as it is, I dont need to continuously write, just write values once every user press button for example, I also created some other functions like dimensionStruct and readstructadvanced, writestructadvanced which reads also strings to TIA portal specific sizes, it is easier to use since works with arrays, structs, strings, etc, didnt test with Lreal, but for mw works, only created struct l

[2021-03-16 15:12] bolt-b commented on #370
@scamille,
it's getting so that I must dip my App in _async_ entirely.
The other day came to the code as follows:

Seems damn freezings stopped. It needs to be tested comprehensively, though,
However, the _locker_ and _await_ are not compatible. The C# devs  say "to avoid" so called _deadlocks_.
So it is impossible to use, say, _WriteClassAsync_ in a pair with _locker_.

**This works like a charm,

[2021-03-16 15:36] mycroes commented on #370
@bolt-b The latter will work fine, however you'd be better off moving it into a wrapper for the PLC instead of applying it anywhere you use the PLC (which simply put is applying DRY to your codebase). I had some ideas to change how communication in S7NetPlus currently works, I might take a stab at changing that this evening. In that case it'd also be easy to apply a synchronization primitive from

[2021-03-16 16:24] bolt-b commented on #370
@mycroes,

**concerning teerminology:** concurrent reads/reequeests - you mean when two or more DBs are being read? Or constant reading of many DBs and occasional writing while reading?

ocassionally I look through all issues here, closed and opened. People use this lib differently. Some people perform a single reading once an hour and that all, some people trying to build some sort of SCADA or al

[2021-03-16 19:09] mycroes commented on #370
In case of concurrent requests multiple requests can be send before the first requests has been responded to. Siemens PLC's actually support this, during connection negotiation a maximum number of concurrent requests can be negotiated, although I've never seen it higher than 3. What S7NetPlus and Sally7 traditionally have been doing (or expecting, because the libraries don't enforce it) is sending

[2021-03-17 08:32] mycroes commented on #347
Hi @Markus0911, I don't know, should the WinAC RTX 300 resemble an S7 300?

[2021-03-17 08:50] mycroes commented on #344
Just a quick reply in hope to save people from copying this nonsense. The only thing that might have an actual effect is removing of async calls, even though I'm not sure what's currently breaking the sync calls that use async calls underneath. The facade with `Task.Run` and the `CancellationTokenSource` is just utter bullshit. It might put enough of a delay on stuff so that concurrency no longer

[2021-03-17 11:56] SalgadoDs commented on #344
Task.run didnt do the job for me, wroked better with backgroundworker...

Just post your code master and that will prevent people trying to solve problem... Or do whatever you want, im working fine with my solution, im continuously reading and writing to plc and no problems, I also tried to solve with timeout in cancellation token in library functions but was pointless, so do what you want, fix it

[2021-03-17 16:43] thombrink opened #380 "Using ReadMultipleVars with more than 20 data items throws an index out of range exception"
When using more than 20 'DataItem' objects in a 'ReadMultipleVarsAsync' request, it throws the following exception:

`S7.Net.PlcException: Index was outside the bounds of the array. ---> System.IndexOutOfRangeException: Index was outside the bounds of the array. at S7.Net.Plc.ParseDataIntoDataItems(Byte[] s7data, List`1 dataItems)`

All 'DataItems' were of type 'VarType.Bit'.

Is this a known limi

[2021-03-17 19:44] scamille commented on #380
Do you have multiple concurrent requests happening to the same PLC instance?

The exception message indicates that something about the data received is broken / does not match with what is to be expected, and concurrent PLC access is one of the likeliest reasons for that.

[2021-03-17 19:47] thombrink commented on #380
It's a single unittest (to a test server), so there are no other instances. If I lower the amount of DataItems to 19, it instantly works like expected.

[2021-03-17 20:03] scamille commented on #380
Hmm yeah after studying the code some more, I think the Size Limit check in https://github.com/S7NetPlus/s7netplus/blob/051091919fa80b03989f4375e364ebc4b02aabe7/S7.Net/PLC.cs#L185 is underestimating the amount of response data required.

=> So yes it is a limitation of the S7 protocol. S7NetPlus is just not pro-actively doing the correct limit checks to warn you against that.

[2021-03-17 20:17] thombrink commented on #380
Ah oke I see. Still wondering tho: the PDU size is set to a fixed number (240), because the it seems to choke on sizes above 256. The raw network stream returns 140 bytes in total, which is well below the limit. That doesn't seem richt?

Besides that: isn't there a way to notify the plc that we have read the buffer and are ready to read the next one?

[2021-03-17 20:18] scamille commented on #380
Or maybe https://github.com/S7NetPlus/s7netplus/blob/051091919fa80b03989f4375e364ebc4b02aabe7/S7.Net/PLCHelpers.cs#L243 is just wrong. I don't see why Byte and Bit should get extra padding even on even addresses.

At least it does not match the size calculation in the link I posted earlier.

[2021-03-17 20:21] scamille commented on #380
What Data Items are you reading exactly? 20 x 1 Single Bit per Data Item?

[2021-03-17 20:27] scamille commented on #380
[code]
Gives an error. I'll take a closer look.

[2021-03-17 20:48] scamille commented on #380
@mycroes Do you have an idea why this might happen? The test I posted makes it easy to replicate.

For me it looks like the PLC is just not sending back enough data, with no apparent reason. Parsing of the first 20 data items works correctly.
You might know more if there is some special S7 protocol limitation or something causing that.

[2021-03-18 08:12] bolt-b commented on #370
@mycroes hi,

This is simple assuming based on observations.
There are few Siemens guys who might tell you how this actually behaves.
Because those guys who writes you oficial answers on your requests are mostly moonlighting students, say, from Bangalore.
Those guys who develops for Siemens at this area are simple not available for mere mortals.

Generally speaking thanks for real help.

I don't a

[2021-03-18 08:18] mycroes commented on #370
Are you locking on the same object instance everywhere (for both reads and writes)? I can imagine all of this breaks when there's no synchronization at all, but it simply doesn't make sense no matter whether the async code is called using async locking primitives or the sync code is called using the `lock` statement. I must admit I don't actually use S7NetPlus, so I would probably be the last one

[2021-03-18 08:21] bolt-b commented on #370
yes, I am.

[2021-03-18 08:22] mycroes commented on #370
Could you perhaps update your sample with the `AsyncLock`? I can take another look at that...

[2021-03-18 08:28] thombrink commented on #380
I ran the sample you posted above against the shally7 package which @mycroes wrote and got the following exception: `System.Exception: 'Expected ItemCount 22, received 20.'`. So I guess it's a limitation of the s7 protocol.

[2021-03-18 08:55] thombrink commented on #380
I dug a little deeper and found out that the sharp7 package has a S7Client class which contains the following property: `'public static readonly int MaxVars = 20;'` I believe that says enough.

[2021-03-18 09:15] scamille commented on #380
That is definitely a pretty strong hint at 20 being the limit :-)
What S7 PLC Type are you testing this on? If this also happens on a S7-1500, I assume this is some limit set by the protocol / server itself. If this only applies to older PLC types, it might make sense to find out the limit on the newer types as well.

[2021-03-18 09:21] thombrink commented on #380
I'm not sure wich type, because I'm using the test server.

For now I have made the following simple workarround to request more than 20 variables:

[code]

[2021-03-18 09:34] scamille commented on #380
If you have access to some Chunk(int chunkSize) Linq function, you could write it like this:
[code]

Anyway, I'll prepare a fix to give a exception with proper Message directly in AssertPduSizeForRead.

I can also imagine enhancing ReadMultipleVarsAsync by automagically taking care of splitting up the requested work load so that the end user does not have to worry at all about it. Maybe just divid

[2021-03-18 09:46] thombrink commented on #380
Chunk would indeed be a nice solution. When implemented correct, it should cause almost no performance impact. The dataitems argument however should not be restricted to lists for that matter.

I'm not sure what advantage we would get by dividing the items?

Before I implement a more robust solution, I would like to know what @mycroes thinks about this problem in general.

[2021-03-18 10:04] scamille commented on #380
Well besides the 20 items limit, there is also the PDU Size limit restriction based on the actual data amount you are trying to read.

I guess more appropriate would be to iterate through the list of data items until you hit the ceiling (either because of size or 20 data items), and read the items you so far have accumulated.

Repeat that for the tail until done.

[2021-03-18 18:24] bolt-b commented on #370
made another upload and something deeesribed at issues section.

[2021-03-26 22:19] mycroes commented on #370
While I couldn't reproduce your issue using your sample yet, I've been hard at work implementing concurrent requests in Sally7. I intend to migrate that solution to S7NetPlus as well, might have some time to do that this weekend.

[2021-03-27 17:44] bolt-b commented on #370
@mycroes, answered you at rep.

[2021-03-29 18:30] #344 closed

[2021-03-29 19:12] #376 closed

[2021-04-09 14:10] petrzima opened #383 "Reading data can hung thread forever"
Class StreamExtensions method ReadExact waits infinitely when there are no bytes in stream. NetworkStream.Read is blocking until there are some data in stream.

[2021-04-13 07:04] zzzdddyyy opened #384 "ReadBytes Exception"
Function:
       I want read 1 byte from DB1,actually,DB1.0  is 1,0,0,0,0,0,0,0; The return value of this method should be [1],just 1 bytes,but somtimes i receive 15 bytes.
code:
        `byte[] rePLC_Status = MyPLC.ReadBytes(DataType.DataBlock, 1, 0, 1);`
Exception:
        S7.Net.PlcException:“Received 15 bytes: '32-03-00-00-00-07-00-02-00-01-00-00-05-01-FF', expected 19 bytes.”

[2021-04-13 10:04] TienLam1993 opened #385 "How to handle error with PlcExeption?"
Anyone can give me instructions on how to use PlcExeption to handle errors effectively?
How I can improve this code to know exactly what kind of problem I am facing?
For example, I want to know whether the CPU type is wrong or the Ip address is wrong. Just like in the older versions where I can check in the Open().ErrorCode

             try
            {
            plc = new Plc(cpu, textboxIp.T

[2021-04-17 06:15] mabc666 opened #386 "ReadStructAsync has a problem that i can not put bool in the last of struct"
I put some bool in the last of struct and it also have a lot of other type  in the front of that bool. It causes exception IndexOutOfRangeException

[2021-04-17 07:20] mabc666 commented on #210
the author round the size of struct it looks like a bug and hasn't been fixed  yet.
you can round up the size of struct
`return (int)Math.Ceiling(numBytes); `
It can slove this problem

[2021-04-17 07:20] #386 closed

[2021-04-17 07:23] mabc666 commented on #386
Beause GetStructSize return a round up size of the struct

[2021-04-17 07:50] mabc666 opened #387 "Ask for a Concurrent Version"
My app has a read task that  circularly read a lot of db block and i wannna send some values into db at same time. I guess that's going to be a problem. Is it right?

[2021-04-17 08:23] scamille commented on #387
Yes the Plc object can only be used by a single thread at a time. So you need to queue your write command somewhere in between your reads, but you can't do it concurrently.

You could try using 2 separate PLC objects, butthat might not always work, depending on your PLC.

[2021-04-17 08:46] mabc666 commented on #387
thanks for your answer .
I really like the library your wrote. I used to wrap the snap7 to support concurrent, i think it's a useful thing that we can use this library like idiots.

[2021-04-18 05:08] wangzhongkui commented on #329
Read(DataType, 78, 0, VarType.Dint,16,)

[2021-05-06 07:12] pierCartes opened #389 "PLC out of range error"
when reading an array of bit i get an out of range error i found that this line is retuning the wrong value i think that some ( ) are missing between "varCount + 7"

https://github.com/S7NetPlus/s7netplus/blob/d10c15b80f7a8fd9a393fae17690fdaf219dfc1d/S7.Net/PLCHelpers.cs#L187

[2021-05-07 06:51] dattatrayshindebuck commented on #249
Hello @FalcoGoodbody,

I am facing the same issue as @nayanavv is facing.

I am using multithreading to write and read bytes and that has nothing to do with functions working properly.

I would like to Answer your previously asked questions.
The adresses in your PLC are correct? The DB1 exists? - **Yes**
Does the method "WriteBit" works? - **No. I tried to debug my program. The step of writing bit

[2021-05-07 08:54] mycroes commented on #249
Not to rain on your parade, but S7NetPlus is not (currently) thread-safe. You could very well be right about the `WriteBit` method though. Can you share the code you're using? I'm guessing it's a minor issue. I'm a bit short on time for the larger tasks at the moment, but I expect I could fix this this evening if I have a sample. Might actually be related to the original issue at hand (`SetBit` pe

[2021-05-07 09:17] dattatrayshindebuck commented on #249
using S7.Net;
using System.Linq;
using System.Threading;
using System.Windows;

namespace WPFSiemens
{
    public class PCtoPLC
    {
        public bool IsConnected = false;
        public bool Kill ;
        Plc SiemensPLC = new Plc(CpuType.S71200, "192.168.8.254", 0, 1);
        WPFSiemens2.DB_ausgange db_Ausgange = new WPFSiemens2.DB_ausgange() ;
        WPFSiemens2.DB_Eingaenge dB_Eingaenge =

[2021-05-07 09:23] dattatrayshindebuck commented on #249
Many thanks for the support. Below is my code snippet.

using S7.Net;
using System.Linq;
using System.Threading;
using System.Windows;

namespace WPFSiemens
{
public class PCtoPLC
{
public bool IsConnected = false;
public bool Kill ;
Plc SiemensPLC = new Plc(CpuType.S71200, "192.168.8.254", 0, 1);
WPFSiemens2.DB_ausgange db_Ausgange = new WPFSiemens2.DB_ausgange() ;
WPFSiemens2.DB_Eingaenge dB_Ein

[2021-05-07 15:39] FalcoGoodbody commented on #249
Well I use "WriteBit" with success and "WriteBytes" as shown in the 1st example and as follows:

[code]

I do not use "WriteBytes" any often because I mainly read information from the PLCs.

[2021-05-10 08:25] dattatrayshindebuck commented on #249
@FalcoGoodbody  Thank you for extended replies.

WPFSiemens2.DB_Eingaenge is a C# class structure I have used to create variables. I started with the idea of writing the whole class to the PLC but I did not find that method intelligent. One has to think a lot before making class with addresses very similar to the PLC database.

[2021-05-10 18:32] #389 closed

[2021-05-10 18:32] mycroes commented on #389
Thx @pierCartes! Fixed, will be included in next release.

[2021-05-10 19:04] #249 closed

[2021-05-10 20:02] #385 closed

[2021-05-11 12:00] vladimir-metralight commented on #359
Create one lock object for Plc access:
`private object _locker = new object();`

For every read and every write, use lock block like this:

[code]

This way only one thread at a time will try to read or write the plc and other threads will wait until the lock is released.

[2021-05-22 12:05] jaydeep6720 commented on #312
My error while opening port to S7 200 SMART PLC

"PlcException: Couldn't establish the connection to 192.168.2.1.
Message: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.."

My code for opening port

Plc _S7200 = new Plc(CpuType.S7200, "192.168.2.1", 0, 1);

        public MainWindow()
        {
            InitializeComponent();

[2021-05-27 06:15] jaydeep6720 opened #392 "While Writing Integer Value;"
//Below code is to write VW2 address
        private void button1_Click_1(object sender, EventArgs e)
        {
            int VW0 = int.Parse(txbVW0.Text);
            s7200.Write("DB1.DBW0", VW0);
        }

Above code writes Value of VW2 in S7 200 SMART PLC.
Remaining everything is OK.

[2021-05-27 11:51] jaydeep6720 opened #393 "Multiple call ways"
Hello all
Below mentioned function is working fine. but the point is i need to call this same function for more then 100 times.
is the anyway in which i can write this as a function or class and useit for 100 variable ??

var M22 = ROT.Read("M22.0");
            bool M22r = Convert.ToBoolean(M22);
            if (M22r==true)
            {
                btnDEXP.BackColor = Color.ForestGreen;

[2021-05-31 18:15] mycroes commented on #393
@jaydeep6720 I'm not sure what you're asking. What's stopping you from creating a method that does what you've written above?

[2021-05-31 18:21] mycroes commented on #392
@jaydeep6720 I'm not entirely sure what your question is, but one minor detail that I'm not sure about the implementation in S7NetPlus is that you're writing an `int`, which is 4 bytes, while a word is 2 bytes. I'd say the `Write` method should take care of writing only the addressed variable (so 2 words only), so let me know if that's what you're talking about...

[2021-06-01 02:41] jaydeep6720 commented on #392
Dear sir
I want say that when i write VW0 absolute address from S7 net plus, in PLC it is writing VW2 instead of VW0,

Sent from my iPhone

[2021-06-01 06:21] mycroes commented on #387
@mabc666 #394 should solve this. If you want you can give the code from the PR a spin to see if it works.

[2021-06-01 18:43] mycroes commented on #392
Dear @jaydeep6720,

As I guessed, this is related to the fact that the value is written, regardless of the specified type in the address. Small explanation, `INT` in Siemens is a 16 bit (2 bytes) signed integer, `int` in C# is a 32 bit (4 bytes) signed integer. As a result, your data ends up in byte 4 if it's less than 256, in byte 3 and 4 if it's less than 65536 (as a result of how the data is st

[2021-06-01 18:43] #392 closed

[2021-06-01 18:50] mycroes commented on #384
Hi @zzzdddyyy,

The 15 bytes received are part of the total message, which includes a header before the actual response. If it's only 15 bytes (instead of the expected 19). What's strange though is that the last byte should be the result code given by the PLC, and `FF` is the code for success. Is there any chance you're having concurrent access (multiple threads) to the PLC instance? That's curren

[2021-06-02 19:43] mycroes commented on #383
Hi @petrzima, You can set `PLC.ReadTimeout` to let it timeout. Otherwise this behavior is to be expected / intended.

[2021-06-02 19:43] #383 closed

[2021-06-02 19:44] mycroes commented on #387
@mabc666, I'd say go have fun with v0.12.0, it should now work with multithreaded access just as well.

[2021-06-02 19:44] #387 closed

[2021-06-02 19:45] mycroes commented on #384
Hi @zzzdddyyy, please retest this with v0.12.0.

[2021-06-02 19:46] mycroes commented on #375
I'm assuming this is with an older package version, before S7WString support was merged, feel free to reopen if that's not the case.

[2021-06-02 19:46] #375 closed

[2021-06-02 19:50] mycroes commented on #374
No it can't. I'm not saying it'll never be added, but you'd have to define the array length using attributes or assume the array length. The latter is really error-prone, given the C# experience of the S7NetPlus userbase that's something I'd rather avoid.

[2021-06-02 19:50] #374 closed

[2021-06-02 19:50] #371 closed

[2021-06-02 19:55] mycroes commented on #370
Hi @bolt-b, it's taken ages, but I've just released v0.12.0, which adds synchronization on PLC calls. I'd love to hear if that solves your issues. In short, all locking etc. can now be removed, it shouldn't matter if you're using sync or async calls (though in all fairness, all sync calls will be executed sync while the internal queueing is using async, so it still applies `.GetAwaiter().GetResult

[2021-06-02 19:56] mycroes commented on #359
v0.12.0 now has internal synchronization to avoid concurrency issues.

[2021-06-02 19:56] #359 closed

[2021-06-02 19:58] #348 closed

[2021-06-02 19:59] #341 closed

[2021-06-02 19:59] #331 closed

[2021-06-02 20:00] #329 closed

[2021-06-02 20:08] mycroes commented on #332
Late to the show, but yes, I think your assesment is correct. Any chance you can test the code from #395?

[2021-06-02 20:08] #351 closed

[2021-06-02 20:09] #350 closed

[2021-06-02 20:10] #340 closed

[2021-06-02 20:11] mycroes commented on #312
Hi @jaydeep6720 any chance you can test this with the code from #395?

[2021-06-02 20:13] mycroes commented on #295
I think this is now solved with the release of v0.12.0, thus closing the issue. Don't hesitate to respond if there are still questions.

[2021-06-02 20:13] #295 closed

[2021-06-03 01:53] ooowuyaooo commented on #332
Hi bro
you means here the lcoal and remote TSAP should be the same as 10.01 ? if set other values it can not be connected?

[2021-06-03 06:11] mycroes commented on #332
Hi @ooowuyaooo,

The screenshot from @hongphucbk shows the TSAP's are 10.01 and 10.00, if I understand the image correctly the PLC side is 10.01 and local 10.00. These values are quite essential in the S7 protocol, if they're incorrect the PLC will just close the connection (as evidenced by the exception). If the TSAP's from the screenshot are correct, the remote TSAP should be 10.01 (or `0x10`, `

[2021-06-03 06:37] jaydeep6720 commented on #312
Dear Michel
my mobile number is +919375822001.
I have whatsapp enabled on this number.
you can send me links of code to test so i can test any Siemens code with
any Siemens PLC model.
THanks & regards
Jaydeep

On Thu, Jun 3, 2021 at 1:42 AM Michael Croes ***@***.***>
wrote:

[2021-06-03 06:49] jaydeep6720 commented on #312
Test Results for changed Code:
Initialised code
Plc ROT = new Plc(CpuType.S7200, "192.168.2.1", 0, 0);

ABocde is not connected to S7200 SMart PLC having an onboard Ethernet port.
If i change PLC Cpu type to 300, it is very well performing all operations;

 Plc ROT = new Plc(CpuType.S7300, "192.168.2.1", 0, 0);

Also wants to inform you that all Siemens PLC uses integer as 16bit data
type, so upda

[2021-06-03 07:22] jaydeep6720 commented on #393
found the way. :)
forgot to update here.

[2021-06-03 07:22] #393 closed

[2021-06-03 08:27] ooowuyaooo commented on #332
Hi @mycroes
First thank you for you codes it really helps me a lot.
yes i mean that TSAP values can be setted at will such as (local 12.01 remote 12.02), so are there availble to add this TSAP to the siemens s7-200 connection string ? like   Plc s7200plc = new Plc(CpuType.S7200, "10.136.176.3", 0, 2,"local tsap","remote tsap");
now everytime with the different TSAP i have to make lots of the dll f

[2021-06-03 08:45] mycroes commented on #332
@ooowuyaooo Yes, I'll add an option to specify TSAP's.

[2021-06-03 08:56] ooowuyaooo commented on #332
@mycroes
OK thanks
one thing i am not sure you know or not is  what we talked in this topic are all with siemens s7-200 & CP243 module (because old type s7-200 doesn't has the ethernet port so it need CP243 to extend one ethernet port ) not the s7-200 Smart(it has the ethernet port on the cpu)..
the s7-200 Smart works well with the current string.
regards,
edis

[2021-06-03 08:57] ooowuyaooo commented on #332
@mycroes
OK thanks
one thing i am not sure you know or not is  what we talked in this topic are all with siemens s7-200 & CP243 module (because old type s7-200 doesn't has the ethernet port so it need CP243 to extend one ethernet port ) not the s7-200 Smart(it has the ethernet port on the cpu)..
the s7-200 Smart works well with the current string.
regards,
edis

[2021-06-03 16:24] jakob-ledermann commented on #295
I agree. AFAIK in commit 5318f94dd71b960c0771c4bb57615e3b42e7ee09 (tagged as v0.12.0) it should no longer be possible to trigger to original issue.

The TaskQueue is a very interesting implementation.
A minor change I would have included would be the removal of StreamExtensions.ReadExact and all callers (as far as I see TPDU.Read in COTP.cs is unused and not intended as public API for library user

[2021-06-03 18:51] mycroes commented on #295
Hi @jakob-ledermann,

Thank you, it's actually the first time I'm writing it like this, because I used to do something similar using `Task.ContinueWith(...)`, however that requires `lock`ing while this can use `Interlocked.Exchange(...)`. I guess this will work fine though. I actually wanted to use Nito.AsyncEx, but it wasn't available for all S7NetPlus target platforms. Either way, from what I sa

[2021-06-03 21:35] jakob-ledermann commented on #295
Sorry, yes TPDU.Read(Stream) is still used by TSDU.Read(Stream), which in turn is unused.

Maybe deadlock is not the best word (as it is normally used with blocking threads). I mean it is possible all communication to the PLC is unable to make any progress (and therefore send its request), when a Request remains unanswered. I am not sure if the ReadTimeout on the NetworkStream is respected by the

[2021-06-04 20:42] mycroes commented on #332
Hi @ooowuyaooo,

#396 now adds support for the following: `var plc = new PLC("192.168.1.10", new TsapPair(new Tsap(0x10, 0x00), new Tsap(0x10, 0x01));`. Could you give that code a spin to see if it works for you for S7 200? Rack and slot are normally only used to calculate the TSAP addresses, which in all cases except `Logo0BA8` and `S7200` are actually equal. Per [@jaydeep6720 in PR 395](https://

[2021-06-04 20:49] mycroes commented on #262
Hi @MikeK-10, perhaps it's a good idea to retry with 0.12.0. I've now implemented synchronization in the library, which is something that was really missing for a lot of people. Not sure if your issue relates to that, but if it's still not fixed then I'll remove the retest label and we can see what we can try next.

[2021-06-04 20:50] mycroes commented on #273
Closing, as this issue lacks any detail. Feel free to reopen if the issue persists with S7NetPlus 0.12.0.

[2021-06-04 20:50] #273 closed

[2021-06-04 20:51] #272 closed

[2021-06-04 20:53] mycroes commented on #264
Let's answer this properly now. S7 and Profinet are entirely different. There are libraries available for Profinet communication and there are vendors that sell dedicated hardware for Profinet. Perhaps the latter also support the S7 protocol in some cases, but the protocols don't share any technical details.

[2021-06-04 20:53] #264 closed

[2021-06-04 20:54] mycroes commented on #259
I would recommend to use separate addressing instead. Closing this issue, feel free to re-open if more questions arise.

[2021-06-04 20:54] #259 closed

[2021-06-04 20:55] mycroes commented on #250
Closing, please reopen if the issue persists with S7NetPlus 0.12.0.

[2021-06-04 20:55] #250 closed

[2021-06-04 20:58] mycroes commented on #241
Hi @elisabetta2016,

Not sure if you were still expecting an answer, but no, I won't add COM interop to S7NetPlus. I don't think it's well-suited for COM interop, you could however just write your own wrapper and expose that.

Regards,
Michael

[2021-06-04 20:58] #241 closed

[2021-06-04 20:59] #230 closed

[2021-06-04 21:00] mycroes commented on #214
This should be fixed now. I feel stupid for missing this issue report as I had to run into this myself as well....

[2021-06-04 21:00] #214 closed

[2021-06-04 21:01] mycroes commented on #221
Hi @Styxer,

Sorry for my late reply. There's no good reliable way to support arrays in structs or classes because their length isn't fixed in C#. It's a feature that has been requested occasionally, it's not one I'm very eager to implement...

Regards,
Michael

[2021-06-04 21:03] mycroes commented on #208
Also, this would probably be fixed by #396 when you specify TSAP's manually, because from what I understood the S7 200 doesn't support a fixed set of TSAP addresses as most newer PLC's do...

[2021-06-04 21:04] mycroes commented on #194
Hi @ccirstea,

Any chance you can retest this against S7NetPlus 0.12.0?

[2021-06-04 21:04] mycroes commented on #186
`IsAvailable` no longer exists, yay!

[2021-06-04 21:04] #186 closed

[2021-06-04 21:05] mycroes commented on #153
Taking care of this in #396.

[2021-06-05 04:04] jaydeep6720 commented on #332
Dear Michele
I want to add one information as you knew already.
Connecting to S7200 (With CP 243-1) & S7200Smart may differ as i don't have tested with S7200( CP243-1).
May be we can give a trial to connect.
CP243-1 is a bit costly part so in solution Siemens has launched S7200Smart which no needs of CP for Ethernet access.
S7200 is Conventional PPI plc & CP243-1 needed to be initialized with prop

[2021-06-05 10:26] mycroes commented on #332
I'm not a 100% sure, but from what you can find online the rack and slot numbers definitely matter. I also read that for S7 300 the slot number is always 2.

You're partially correct about the fact that the PLC's don't care about rack or slot for S7 communication, they do however care about the TSAP addresses during the Connection Request phase, which is exactly the only thing that S7NetPlus uses

[2021-06-05 16:03] scamille commented on #380
@thombrink Can you say what specification your "test server" had when you stumbled upon this problem? Was that a real PLC, or just another Snap7 instance?

[2021-06-05 19:54] jaydeep6720 commented on #332
Dear Bro
I said S7200 doesn’t bother about rack slot.
Actually Slot & rack no’s are for S7 300 & above PLCs as these are PAC plcs means they required Backplane bus for communication compulsory.
Due to this backplane architecture , they support High IO (input output) capacities especially Analog ios.
S7200 is modular series PLC means all Input output addresses are fixed list & supporting IO capacit

[2021-06-06 19:26] #131 closed

[2021-06-06 19:27] #120 closed

[2021-06-06 19:30] mycroes commented on #94
This has been fixed for a while now, there's some checks in place to validate the read response.

[2021-06-06 19:30] #94 closed

[2021-06-06 19:36] mycroes commented on #154
The IsConnected property of `PLC` now reflects the `IsConnected` state of the underlying `TcpClient`. #349 will actually add to that by having the connection closed on errors.

[2021-06-06 19:37] #171 closed

[2021-06-06 19:42] #197 closed

[2021-06-06 19:46] mycroes commented on #198
Still needs to be fixed, relevant code location is PLCHelpers.cs line 246 (reminder for self).

[2021-06-06 19:46] #201 closed

[2021-06-06 19:53] mycroes commented on #231
Hi @Crane49,

I was wondering if you're still affected by this issue? For one, multiple connections using the same TSAP's won't work, so to do that you'd have to setup additional connections in TIA yourself and use those ID's, that does require the changes in #396 as well though...

[2021-06-06 19:59] mycroes commented on #232
Has been fixed for quite a while, closing.

[2021-06-06 19:59] #232 closed

[2021-06-06 20:00] mycroes commented on #233
Closing due to missing feedback, feel free to reopen if required.

[2021-06-06 20:00] #233 closed

[2021-06-06 20:01] mycroes commented on #247
Closing due to missing feedback, feel free to reopen.

[2021-06-06 20:01] #247 closed

[2021-06-06 20:03] mycroes commented on #251
Should've been fixed for a while now, closing. Feel free to reopen if there's still issues reading IW.

[2021-06-06 20:03] #251 closed

[2021-06-06 20:06] mycroes commented on #275
This might also be affected by #349.

[2021-06-06 20:12] mycroes commented on #294
Affected by #349.

[2021-06-06 20:15] scamille commented on #198
Ok I found out it just needs to be always aligned to 2, which you also have implemented like this at https://github.com/mycroes/Sally7/blob/812f97064e42a12bbdf49d1fda1b975d48810ac1/Sally7/S7ConnectionHelpers.cs#L171

I will fix this.

[2021-06-06 20:22] scamille commented on #294
It might also be resolved by the synchronization added in 0.12.0

[2021-06-06 20:51] #198 closed

[2021-06-06 20:52] mycroes commented on #198
@scamille Didn't see this message yet, but really nice how you're fixing this with code I've written somewhere else 😜

@bauerju It's taken a while, but the fix will be part of the next release.

[2021-06-06 21:01] mycroes commented on #294
So basically this needs retesting against 0.13.0 (for which I hope to get some feedback before releasing).

[2021-06-06 21:24] mycroes commented on #295
Cleanup in #398.

[2021-06-06 21:29] mycroes opened #399 "Default connection timeout"
Currently unset, could use a default value. Thinking about 10 seconds default, anyone could override if that's not enough. Users of the library are more likely to wait for the 10s timeout than a 1m timeout, so I'd rather set this low by default. Was also shortly brought up in #295.

@scamille @jakob-ledermann Any opinions on this?