[2013-02-09 19:40] killnine opened #1 "Explicit, additional CPU Type support (S7-1200, S7-1500, etc...)"
The existing CPU Types may work for other devices, but I don't know for sure. For example, using the S7300 type allows me to communicate with an S7-1200 just fine.

Other CPU types I would like to investigate:

+ S7-1200
+ S7-1500
+ ET200M
+ SIMOTION Controllers

[2013-03-08 14:05] VagrantKm opened #2 "Bug : ReadBytes(DataType dataType, int DB, int startByteAdr, int count)"
//dataType = S7400
// DB = 8 ,
// startByteAdr=0
// count = 300

Byte[] readBytes=ReadBytes(DataType dataType, int DB, int startByteAdr, int count)

if ( count > 222 )
{
     readBytes =nulll ://???? bug
}
else
{
readBytes =readBytes ;
}

[2013-03-13 13:32] pietervp opened #3 "Push based change notification"
Would it be possible (probably depends on hardware being used) to let the PLC send updates about register changes automatically to listeners?

As far as I know, if I want to monitor all the DB's in a PLC, we have to poll for the db values. So is there a way to turn this around? If so, could we implement such a 'listener'?

[2013-04-17 09:36] GiordanoEsi opened #4 "Read Limitations"
Good morning,

I just started to study the library s7Net, but I noticed that there are limitations to read to a maximum of 222 bytes. Has anyone solved the problem, or knows why, while communicating via socket you have this problem?

thanks a lot
Best Regards

[2013-05-06 08:58] potatopp opened #5 "If many variables are need to refresh in time,how can I do?"

[2013-10-09 16:58] tanner-wood opened #6 "Reading Boolean and String"
I have string and bool values inside of a datablock and am unable to read them. The read method accepts an integer byte offset but my string and bool values are decimal based offsets. How do I read these?

![s7netplus strings and bools](https://f.cloud.github.com/assets/2664082/1299505/05648240-3104-11e3-8a53-6a83fc172404.png)

[2013-10-10 09:08] danielblixt opened #7 "Can't get it to work with Logo!"
Hello!

Is there anyone out there that has got it to work with Siemens Logo! ?
I've tried different setups but can't get it to work. I would be pleased with help with this!

Best regards
Daniel Blixt
Sweden

[2013-10-10 14:54] #5 closed, assigned to nobody

[2013-10-10 14:55] #4 closed, assigned to nobody

[2013-10-31 21:19] tanner-wood opened #8 "Continuous monitoring of isAvailable and isConnected"
I am attempting to monitor the isAvailable and isConnected properties of the plc object using a timer running in a windows service.

The default of ping.send is a 1000ms timeout. My timer runs at 100ms to watch the plc connection and available properties. My plc logic runs on a 200ms timer so I want to be able to catch the lost connection between iterations of the plc logic.

I modified the isavai

[2013-11-13 12:59] Endeavoury opened #9 "Profibus"
Hallo Killnine,
I'm trying to make a connection through profibus cable to my s7 plc. Do you have any tips to make this work?

Greetings,
Roy Gerritse

[2013-11-13 18:46] #9 closed, assigned to nobody

[2014-02-20 13:28] LampD opened #10 "send/recive S7 project"
Hy I'm quite new to S7 programming but we do a project in school which contains a S7-300. I have a CPU312C and a CP 343-1 LEAN. I tried to send an recive a struct but it didn't work. Do i have to use the FC6 and the FC5 in the S7 program to make it work?
Does anyone have an excample of an S7 program?
Please oversee any spelling or grammar mistakes, I usually speak German.
Thank you very much

[2014-04-09 17:40] aitech opened #11 "How reiabile is s7netplus"
Hi!

Is anyone using s7netplus in any sharp applications? 24/7?

Best Regards

[2014-08-10 08:51] SultanGeek opened #13 "Number of PLC variable read at same time"
Hello everybody,
i use recently netplus for create an scada application under C#.So i want to know if i can create a polling program with a timer that poll for example 100 PLC variable at same time and display it in Windows form label.
The maximum bytes number that i what to read is 200 bytes.
What is the reliability of S7.NET for doing a something like that?
I never use this libray before i used

[2014-09-09 17:59] murtagh38 opened #15 "Bug : Have to connect with TIA to use library"
Hello there,

I use the library for a project with ~10 S7-1212C. It works nearly fine, but it stills a bug :
The connection with the PLC works only if I was connected with it by TIA Portal at less one time. This means not to reboot the computer or I have to launch and connect each time with TIA.

I actually don't know why. If you have an answer or the same problem, please let me know right here.

[2014-10-28 15:00] gutzi opened #16 "VarType.Bit"
Read Data with VarType.Bit is it not possible;

object data = plc.Read("M0.0");

This Type is not defined in the switch instruction on the method "public object Read(DataType dataType, int db, int startByteAdr, VarType varType, int varCount)"

[2014-11-13 15:04] aitech opened #17 "Problem with S7-312C with CP343-1 Lean"
Hi!

I have used S7.Net for several projects now and it works great.

But now I have a project where I need to communicate with a 312C equipped with a CP313-1 Lean card (tried both version 2.2 and a 3.0 card), and I cant get it to work.

When I try with the example I only get "ERROR: Device is available but connection was unsuccessful!". I cant find any problem in the setup for the CP-card or CPU.

[2015-01-21 11:07] ErikWahlstrom opened #20 "Performance estimate?"
Sorry to post here but did not find anywhere to post general questions.

Anyway, do you have an estimate on how long a read cycle and write cycle of a byte in the PLC will require? Does it vary a lot and if so do you have any ideas as to why?

I am currently using a OEM library from Siemens to read and write to the PLC but the communication speed is not that good. We are using a Sinumerik system (

[2015-01-21 19:10] killnine commented on #20
To be honest, I haven't done any real benchmarking with S7Net to see how it performs. For me, it's always been 'fast enough'. What performance metrics are you looking at where your current solution isn't sufficient?

[2015-01-22 05:33] ErikWahlstrom commented on #20
For us now a read cycle can vary from 10 milliseconds up to 100 millseconds or worse. With the current API we can read many variables during the same read but the amount of variables/data does not affect the cycletime that much. We have a vision system on the PC (PCU with windows) which needs to react as soon as possible. We are communicating via variables to start a vision command. The communicat

[2015-01-26 14:32] mesta1 commented on #20
To optimize the read-write time you need to know how the protocol works, the less requests you make, the faster the communication is.
Let's say that the fastest approach is to save all the HMI values in a single DB, then read the DB as bytes, then make all the conversions by hand.
Another fast approach is by using the ReadClass feature, but there is some overhead due to the reflection that is used

[2015-01-26 16:05] killnine commented on #20
Exactly. We generally create 'readblocks' where we consolidate key data
into a single place to grab it all at once. We also version the read blocks
so, as the program matures, we can parse it correctly on the back end.

There's a fixed amount of overhead, as Mesta noted, so there may just be a
floor at which you really can't retrieve much faster. 10-100ms is probably
within the margin of networkin

[2015-01-26 20:23] ErikWahlstrom commented on #20
Thanks for the replies!

The current library has the ability to read/write chunks of data in one operation which executes almost as fast as reading just single values. We use this whenever it is possible but for this particular problem it's not an option. We have to do some handshaking to make sure the operation (Vision evaluation) starts, executes and gets a result. So typically we listen for a v

[2015-02-01 11:00] olesa79 commented on #1
This works for me for connecting to S7-1500 (fixed values instead of rack/slot).  It's the only change I had to make.

 case CpuType.S71500:
                        // Eigener Tsap
                        bSend1[11] = 193;
                        bSend1[12] = 2;
                        bSend1[13] = 0x10;
                        bSend1[14] = 0x2;
                        // Fremder Tsap

[2015-02-01 11:13] olesa79 opened #21 "Negotiated PDU Size"
This is my modified Open-code which supports negotiated PDU size.  The original code hardcodes an effective 222-byte PDU size (240-18).  S7-400 supports 480-18 and I believe S7-1500 supports 960-18.
This code requests highest possible PDU size and PLC will respond with its highest supported size which is saved to the PDUSize property.

I am using this code successfully with 300 and 400 PLCs and I'

[2015-02-01 11:30] olesa79 opened #22 "No license"
Can you add a license to this software?  I'm finishing an installer for my software that includes S7.NET+ and would like to have a license giving me the right to use this code :)

BTW - Jürgen was using a MIT License for his original work.

[2015-02-02 12:19] mesta1 commented on #21
Thanks! I will add it then make a pull request.

[2015-02-02 12:21] mesta1 commented on #22
I will add a MIT license in the next pull request.

[2015-02-02 15:13] killnine commented on #22
Thanks, @mesta1. I was looking into different licenses and not sure which would be best. I'd like this project to be open for personal and commercial use.

[2015-02-02 21:29] mesta1 commented on #21
I checked the code but i need more information to merge it.
Actually i don't know the value of CpuType.S71500 and how do you use PDUSize in the code.
If you can provide the full source, i can make the merge.

[2015-02-02 22:06] mesta1 commented on #22
The original code was under MIT license, so we can't change it.
You can find the original license here: https://s7net.codeplex.com/license

[2015-02-03 07:57] olesa79 commented on #21
The only relevant part for PDU is the last two bytes of bSend2 (0x3 0xC0) which requests max PDU size from PLC.  Bytes 25/26 in the response is the PLCs PDU.

A single read-request can request at most PDUSize-18 bytes.  I often read several kilobytes from a datablock so I need to make multiple read requests where each request is at most PDUSize-18.
For a S7-300 which has a PDU of 240, each request

[2015-02-25 17:22] jogibear9988 commented on #20
For Information:

Every Read Request to a CPU can be PDUSize - 18 Bytes wich is a header. It does not matter wich Library you use (this one, libnodave, mine,...). The perfomance bottleneck mostly will be the CPU wich need's time to answer the request. From more different areas you read, less bytes you can read at once. For each request to another area, you have to reduce the read size with 6 bytes

[2015-02-25 17:24] jogibear9988 commented on #17
if you use wireshark with the s7comm plugin, moste bytes in the s7 communication will be explained. Maybe then you find why your change works (in the wirkeshark nightly builds the s7comm plugin is already integrated!)

[2015-05-18 15:07] mergoktas opened #24 "This library has no support for String data type"
This library has no support for String data type although  it is defined as VarType. It is not possible to read or write class or structure containing string data. Am I wrong?  There is no case in switch staments for "String" data type for converting from byte array to struct/class in source codes. Otherwise how?

Besides, comments documentation like this
        /// <summary>
        /// Gets the

[2015-05-27 19:41] neohist commented on #21
Thks for the help i update the code so pls i wanna contribuite with the comunity:

 public ErrorCode Open()
	    {
		    byte[] bReceive = new byte[256];

		    try
            {
			    // check if available
                if (!IsAvailable)
                {
                    throw new Exception();
                }
            }
		    catch
            {
			    LastErrorCode = ErrorCode.IPAddr

[2015-05-27 19:42] neohist commented on #21
and in Enums class: me update with this:

public enum CpuType
    {
        S7200 = 0,
        S7300 = 10,
        S7400 = 20,
        S71200 = 30,
        S71500 = 40,
    }

[2015-05-27 21:21] killnine commented on #21
I haven't looked at this yet, but if you wrap it in a pull request I can take a closer look and get it merged.

[2015-06-16 09:38] combinu opened #25 "WrongVarFomat"
Hi,

I have already used the old s7 library in the past and worked really fine.
Now we are going to connect to an s7-1200 plc and with this library it connects just fine.
The problem occurs when i try to read from the plc.

The var location is : DB1.DBW2
C# code: object s = plc1.Read("DB1.DBW2");
And i get WrongVarFormat.

Can you please help me out. Is there something new in this version that may

[2015-06-25 19:07] RonaldoLopes opened #27 "How to read all tags in a block"
Hi, I started to use and I have a doubt. It's possible to read all tags in a block?
If yes, how to do this.
Thanks.

[2015-09-27 08:13] mesta1 commented on #1
S7 1200 and S7 1500 are now supported.

[2015-09-27 08:16] mesta1 commented on #16
Working.

[2015-09-27 08:16] #16 closed

[2015-09-27 08:16] #22 closed

[2015-09-27 08:17] #11 closed

[2015-09-27 08:17] #20 closed

[2015-09-27 08:21] mesta1 commented on #13
1) A single read reads maximum 200 bytes.
2) At the moment is not supported.

[2015-09-27 08:21] #13 closed

[2015-09-27 08:33] mesta1 commented on #25
On the bottom of this document there is the configuration to read from S7-1200 / 1500
http://snap7.sourceforge.net/snap7_client.html

[2015-09-27 08:33] #25 closed

[2015-09-28 12:08] mesta1 opened #29 "PLC Close method doesn't handle the socket correctly"
Refer to: http://www.mesta-automation.com/siemens-s7-plc-c-s7-net-plc-driver/#comment-507

It seems that if I execute this code multiple times, I get "B" in output.

 ErrorCode connectionResult = plc.Open(); //open connection
if (connectionResult.Equals(ErrorCode.NoError))
{
    gB_Control.Enabled = true;
    tSrip_Conectado.Text = "A Text";
}
else
{
    tSrip_Conectado.Text = "B text";
}
plc.Clos

[2015-09-28 12:09] mesta1 opened #30 "PLC ReadClass and ReadStruct should handle more than 200 bytes"
It's confirmed that you can read with 1 read only the first 200 bytes of a DB.
Multiple requests will be added soon.

[2015-09-29 12:18] olesa79 commented on #1
You still need the Slot (and possibly the rack) for 1500.  I don't know specifics, but just yesterday I had to use slot 1 to connect (probably connected to a CP)
bSend1[18] = Slot;

[2015-09-29 14:20] mesta1 commented on #1
Ok I need to investigate a bit on this. I remember too that for S7 1200 and 1500 you need slot 1, let me check some documentation then i'll get back with a fix.

[2015-09-29 20:11] mesta1 commented on #1
Based on this page (http://settimino.sourceforge.net/comp_1200.html) and several posts around internet, it seems that S71200 and S7 1500 needs (rack = 0; slot = 0).
If you have the equipment, can you verify if that's true ?

[2015-09-30 09:22] oiisamiio opened #31 "PLC.IsConnected"
PLC.IsConnected should be an Property like this:

[code]

[2015-09-30 12:17] olesa79 commented on #1
On the test I did a couple of days ago:
If I connected to the CPU's IP address I had to use bSend1[18] = 0
If I connected to the CP's IP address I had to use bSend1[18] = 1
In TIA Portal, the CPU is displayed as slot 1 and the CP as slot 2.
This is for 1500.  I've tested with 1200.

[2015-09-30 17:55] mesta1 commented on #1
With CP you mean Siemens CP 1543-1 ? External ethernet card ?

[2015-09-30 21:13] mesta1 commented on #31
Thanks, code updated.

[2015-09-30 21:13] #31 closed

[2015-09-30 21:16] mesta1 commented on #21
It would be nice to have a pull request to integrate this.

[2015-10-01 20:22] mesta1 commented on #8
Updated IsConnected and IsAvailable.

[2015-10-01 20:22] #8 closed

[2015-10-02 06:54] oiisamiio opened #32 "Ping IsDisposable"
Im Sorry cant push pull request from here.

Ping is Disposable and should implement in using Statement:

[code]

ping.Send could be result in PingException so better use an try catch block

[2015-10-02 16:36] mesta1 commented on #32
Thanks, I updated the code.

[2015-10-02 16:36] #32 closed

[2015-10-03 09:40] mesta1 commented on #1
Added rack and slot on S7 1500.

[2015-10-03 09:40] #1 closed

[2015-10-05 15:01] Fordirk opened #33 "Reading / Writing DB1 block"
Hi There !

I have done a few projects using this codebase and mostly it works pretty well. I have been able to read / write all tags with Markers So anything like MW20 or M5.3 is no problem. I have not been able to address Datablocks however. DB1.DBX.0.1 for example. I'm using a S71214. Is it an addressing issue on my part ? Could you possibly help me out ?

Kind Regards,
Fordirk

[2015-10-05 15:29] oiisamiio commented on #33
you mean DB1.DBX0.1 right?

Regards, Sam

[2015-10-05 16:05] killnine commented on #33
@Fordirk Can you provide some sample code so we can look at how you're making the call?

[2015-10-05 21:46] #30 closed

[2015-10-05 21:46] mesta1 commented on #27
Fixed.

[2015-10-05 21:46] #27 closed

[2015-10-07 07:03] oiisamiio commented on #29
from MSDN:
https://msdn.microsoft.com/de-de/library/system.net.sockets.socket.disconnect(v=vs.110).aspx

so better use:
(set to Disconnect(true) if you want reuse Connection)

[code]

[2015-10-07 10:29] Fordirk commented on #33
Thank you for your reply. Here's how the project starts. The Line that writes MW20 works ok.
            DB1.DBX0.1 (thanks Sam) throws errors. in the PLC config i have Data_Block_1[DB1],    containing 4 Static Booleans. I'm no PLC specialist. Is this correct ?

           //At button connect inform the user that there is contact with the S7 PLC
            try
            {
                listBo

[2015-10-07 12:54] oiisamiio commented on #33
value should be 1 (for true) or 0 (for false)

[2015-10-10 04:24] killnine commented on #33
There's a couple places in Write() where this might be able to be improved.

I don't have the code running on this machine but I think one problem is the method @oiisamiio calls tries to cast his boolean to an integer before passing it to another Write() call. That could probably handle the boolean case more gracefully (since it does make sense that you may want to pass in true/false rather than 1

[2015-10-20 06:42] oiisamiio commented on #6
Watch out! In some cases i get results without 2 Bytes of length (317PNDP).  So i think there is no secure way to handle this in the libary. Better use Array of chars with Count instead strings.

[2016-01-10 20:11] Okalmas opened #34 "[S7-200]Reading information from the Variable Memory."
Hello.

I've noticed that there is no code in the library for reading information stored in the Variable Memory  of the PLCs. I have done some research inside the code and noticed that when reading the memory, all you have to do is send an array of bytes through the comunnication socket, and then read the data sent  back from the PLC.

I have the hypothesis that  reading from the Memory is analog

[2016-01-18 06:53] ramanandmittal opened #35 "Read real value from PLC"
Dear team,

We are not able to read real value from this program. Please share help for this.

[2016-01-19 16:02] oiisamiio commented on #35
Hi there,

reading real works. Just precision looks dirty...

Whats the problem? You don't wrote additional Informations.

![0001](https://cloud.githubusercontent.com/assets/4339308/12423850/c28a4d10-becd-11e5-8ca0-2f6830d1731d.jpg)
![0002](https://cloud.githubusercontent.com/assets/4339308/12423849/c285cd80-becd-11e5-89bd-47bb10e42424.jpg)
![0003](https://cloud.githubusercontent.com/assets/433930

[2016-01-22 08:20] catenarysoftware commented on #35
I too have been trying to read real data types. I see in your screen shots you have a Bit.cs class, is this a new class that has not be committed yet to Github?

[2016-01-22 08:34] mesta1 commented on #35
This is an example on how to write and read REAL values. You can check it on  S7.Net.UnitTest / S7NetTests.cs.
Basically you have to convert the number in dword to write it, then convert to real after read it. S7.Net provides all the extensions you need to do this conversions.

// Reading and writing a double is quite complicated, because it needs to be converted to DWord before the write,
// then

[2016-01-26 18:35] watashimeandeu opened #36 "Universal Windows Platform support (iot)"
Hi

I already test this lib on windows 10 x32, work very nice, but on windows 10 core (raspberry pi) don't allow me to install it by nuget.

It's possible to build an uwp version?

Thank you

[2016-01-27 03:31] ramanandmittal opened #37 "Connect S7 PLC through MPI Adaptor"
Hi team,

Can you please let me know how we can make connection string fro MPI adaptor.

[2016-01-27 16:48] killnine commented on #37
That's a good question but unfortunately I haven't got the hardware to test communication with an MPI adapter. Is there a way you might be able to make a 'staging area' on your CPU that has a copy of the remote data coming over from the MPI adapter?

[2016-01-27 17:15] oiisamiio commented on #37
S7NetPlus is based on Socket Connection via Tcp. Its not possible to connect via MPI. Try libnodave or https://github.com/dotnetprojects/DotNetSiemensPLCToolBoxLibrary based on libnodave...

[2016-01-28 06:47] ramanandmittal commented on #35
Thanks dear We are able to read real values

[2016-01-28 06:47] #35 closed

[2016-01-29 18:51] watashimeandeu commented on #36
With few tests i thing already working.
Thanks to [this code](http://www.codeproject.com/Articles/22918/How-To-Use-the-SocketAsyncEventArgs-Class) i've changed on PLC.cs line 15

`private Socket _mSocket;`
to
`private SocketAsyncClient.SocketClient _mSocket;`
and use this code on new class file:

	using System;
	using System.Net;
	using System.Net.Sockets;
	using System.Threading;

	namespace Sock

[2016-01-30 09:34] unocelli opened #38 "Problem with DB size bigger of 8200 byte"
Hi team,
can you please let me know how we can read one DB with a size bigger of 8200 byte?

I read DB with ReadBytes(DataType.DataBlock, 1, 8200, 200);
I saw that the problem is by "package.Add(Types.Word.ToByteArray((ushort) ((startByteAdr)*8)));"

Best Regards

[2016-01-30 13:18] mesta1 commented on #36
Nice find, but I don't think we will support Universal Apps for now.

[2016-01-30 19:50] oiisamiio commented on #38
https://github.com/oiisamiio/s7netplus/pull/1

https://github.com/jobmeij/s7netplus/commit/f6246382a862040341d1f8626a2a6556fe28609d

[2016-02-01 14:33] unocelli commented on #38
Hi and tanks...maybe is better?
package.Add((byte)(startByteAdr / 8191));

Best Regards

[2016-02-02 07:35] oiisamiio commented on #38
Sorry your code looks dirty and will result in trouble.

an example:
If you start read at address 8100 and set read 200 bytes like
ReadBytes(DataType.DataBlock, 1, 8100, 200);
data will be corrupt because we cant split actually streamaddress.

so we should check startaddress lower than 8191 and count + startaddress greater than 8191

Excuse my English...

Regards Sam

[2016-02-02 13:38] unocelli commented on #38
Hi Sam,
What do you do if you have an array of 40000 bytes? after  ~16200  you have again a overflow? (~24000 again)...?

Excuse my English...
Regards Umberto

[2016-02-03 18:14] oiisamiio commented on #38
Think so. How many bytes you want to read?

[2016-02-03 21:16] unocelli commented on #38
Hi Sam,
a DB in a S7-300, S7-400, S7-1200 PLC can have 64K size. I think is a
quality question...and i come up with the problem because i'm compared with
this. i don't know the correct solution but your bug fixing is more wrong
as my...i tested.

Best Regards
umberto

2016-02-03 19:14 GMT+01:00 Sam <notifications@github.com>:

[2016-02-04 12:59] watashimeandeu commented on #36
No problem.
I made some changes and added one pull request to contribute.

Thank you.

[2016-02-04 20:54] tanner-wood opened #40 "S7-1500 Reading Datablocks - Always wrong # received bytes"
I am converting a windows service which reads datablock values from a s7-300 to be able to work with s7-1500.

I am able to connect to the 1500 but each time I read from a datablock I receive back Errorcode.WrongNumberReceivedBytes.

**_Readbytes_** is called with **_(datablock, 10, 106, 2) _**and the bReceive[] response is always 19 bytes. Because the 21st byte is not 0xff I receive an errorcode

[2016-02-04 21:28] tanner-wood commented on #40
Nevermind. On the datablock you are reading from you must have three things.
1. Optimized block access disabled
2. Protection - Full Access
3. Protection - Permit Access with PUT/GET from remote partner.

I did not have the put/get enabled and everything worked with the S7-300. Apparently with S7-1200 and s7-1500 this is now needed.

[2016-02-04 21:28] #40 closed

[2016-02-04 22:41] mesta1 commented on #36
I will look into your pull request, but this will take time because you are replacing the whole .Net socket class with your own.

[2016-02-05 09:02] watashimeandeu commented on #36
I know, but after several tests with S7 1200 (in my case) it was the only way to get successful results.
Take as much time as you need.

[2016-02-08 13:31] #37 closed

[2016-02-08 13:57] mesta1 commented on #36
To support this we can't just merge your changes, because they are breaking changes, basically:
1) solution is limited only to VS 2015
2) untested socket class
What we can do is to extract the common parts in a common project, let's say "S7Net.Common",
 then create 2 solutions:
1) a VS2010 compatible and uses the standard .Net 3.5 socket
2) a VS2015 .Net Core compatible solution with the custom so

[2016-02-08 20:15] watashimeandeu commented on #36
You're right.
I can do it.
I will remove the current pull request and add new one as soon as i complete the task.

[2016-02-08 22:19] watashimeandeu commented on #36
Ups. It's not a solution, it's a project, but i think will work if not included all at one.

[2016-02-08 22:27] mesta1 commented on #36
I will fix it.

[2016-02-08 23:29] mesta1 commented on #36
I created a separate solution for Universal Windows Applications.

[2016-02-08 23:29] #36 closed

[2016-02-09 11:01] ramanandmittal commented on #37
Can you provide MPI adaptor connection string So i can check with MPI through this code

[2016-02-13 11:27] #38 closed

[2016-02-13 11:29] mesta1 commented on #34
S7-200 is not in active development, because it's obsolete equipment.
If you or someone else wants to fix the bug, we will merge your pull request.

[2016-02-18 13:30] adream78 commented on #24
Hi,
news about string support ?
thanks

[2016-02-18 14:43] pw-ffx commented on #24
I'm reading strings with it. I had to fix a small problem concerning string termination and string length.

[2016-02-18 14:46] movAX13h commented on #24
Strings should work. I had to fix some small issues concerning string termination and string length but that was more than 2 years ago.

[2016-02-18 16:17] adream78 commented on #24
Hi,
in PLc.DB1.cs I have
        public bool Flag00 { get; set; }
        public bool Flag01 { get; set; }
        public bool Flag02 { get; set; }
        public bool Flag03 { get; set; }
        public bool Flag04 { get; set; }
        public bool Flag05 { get; set; }
        public bool Flag06 { get; set; }
        public bool Flag07 { get; set; }
        public string mystring { get; set; }

b

[2016-02-18 17:56] movAX13h commented on #24
I've never used the method to read complete structs since the variables I have to read are not relieable in a sequence (addresses). In PLC.cs you can see that strings are supported. Maybe it helps to know that strings are just byte arrays. I've found out that the first 2 bytes contain the string length (S7-300) and there is no termination byte. I've modified the lib for my purposes - custom syntax

[2016-02-19 21:53] tanner-wood commented on #24
I'm reading strings fine on 300, 1200, and 1500 units. I've found that I
need to read twice as many bytes as  expected to get the full string.
On Feb 18, 2016 8:30 AM, "adream78" <notifications@github.com> wrote:

[2016-03-02 15:02] FriedrichWedel opened #44 "Missing method ClearLastErrorCode"
Currently once the LastErrorCode is set e. g. because of a read error you have to disconnect and connect again to continue.

I would like to poll different variables from the S7 plc periodically and avoid to reconnect after a bad ReadBytes call. Is it possible to add a ClearLastErrorCode method for that? Thank you!

[2016-03-23 09:48] FriedrichWedel commented on #24
There are STRING[x] and WSTRING[x] types.

At STRING type: First byte is max. length. Second byte is current length. Then the ASCII characters are following.

At WSTRING type: Exactly like STRING but you have two bytes for everything, First UINT is max. length,; sencond UINT is current length then the WCHAR characters are following.

I think at least the Write should update the current length BYTE

[2016-04-10 15:44] Tycos opened #47 "Universal Windows Platform - How to?"
Hi,

I tried S7.Net example and it just worked great, but i saw it is possible to run it also on a raspberry pi using UWP.
I found the S7.Net.Core project but i am not sure how to apply this.

I created a new project, copied the S7.Net.Core folder into the project folder and added it to the project. But i dont know how to continue :/

[2016-04-10 16:54] watashimeandeu commented on #47
I'm not sure if i really understand the difficult.
It's exactly the same.
You can compile the project and use the S7.Net.Core.dll as reference on your uwp project.
To raspberry pi compile as ARM, to local machine, x86 it's ok.

[2016-04-10 17:05] Tycos commented on #47
I am pretty new to this hole thing, so it was easy to me to understand a existing project, but creating a own one and set the right references is way harder.

[2016-04-10 19:25] watashimeandeu commented on #47
When you click "debug" dll files are created on "bin" folder by default. In your project you can right click and "Add References" and chose the dlls you need.
I think this may help you: http://ms-iot.github.io/content/en-US/GetStarted.htm.

[2016-04-10 20:09] Tycos commented on #47
Currently i try to get a connection like the README.md says. My problem is i am not sure how to define the PLC right. ---> [http://snag.gy/5Mk87.jpg](url)

[https://www.dropbox.com/s/awn41p9dvz917mt/RaspberryHMI.rar?dl=0](url)

[2016-04-12 11:39] watashimeandeu commented on #47
C# is case sensitive.
Try this changes:

	//Basic connection properties
	string deviceIpAddress = "192.168.0.178";
	short rackNumber = 0;
	short slotNumber = 0;

	//Connection to device
	using (var plc = new Plc(CpuType.S71200, deviceIpAddress, rackNumber, slotNumber))

[2016-04-12 18:45] Tycos commented on #47
Thanks, you are right.
i should have been able to solve this by myself ;p

Now its time to learn much more about C#

[2016-04-12 18:45] #47 closed

[2016-04-16 14:31] DJWassink opened #49 "ReadMultiVars"
I was wondering if there is a way to read data from different location at once. Of course it is faster to prepare a DB or a UDT and read it in one go, but since I can't modify the current program of the PLC to achieve this I am looking for a quick way to read different locations.

The only options right now seems to use the Read methode repeatability but sadly enough that is too slow for my usecas

[2016-04-16 18:21] oiisamiio commented on #49
use async multiple connections to speed up your reads.

An example CPU 317 Supports up to 16 connections...

[2016-04-16 23:36] mesta1 commented on #49
If you can implement the function by yourself, we accept pull request.
Here the documentation : http://www.bj-ig.de/service/verfuegbare-dokumentationen/s7-kommunikation/aufbau-eines-data-tpdus/parameter-part/index.html
If you check the "Read" paragraph, you see that you can ask for multiple area in the same request.

[2016-04-17 17:50] DJWassink commented on #49
Thanks both of you for you reply, reading from multiple connections is fast enough for now so thans for that answer.

However in the near future I am going to take a look at implementing the function. Thanks a ton mesta1 for the documentation really useful!

[2016-04-18 17:04] #34 closed

[2016-04-20 11:38] DJWassink commented on #49
I am currently trying to implement this feature, however I am running against a issue which I just can't get my head around. The current result returned has the different variables intertwined.

The current result of a read of 2 different variables ( and ) results in the following byte buffer returned from the s7server

[code]

So basically all the values I get with the read method get set in the

[2016-04-22 13:15] watashimeandeu commented on #49
On PLC.ReadMultipleVars(List) try:

	int offset = 25;
	foreach (var dataItem in dataItems)
	{
		int byteCnt = VarTypeToByteLength(dataItem.VarType, dataItem.Count);
		byte[] bytes = new byte[byteCnt];

		for (int i = 0; i < byteCnt; i++)
		{
			bytes[i] = bReceive[i + offset];
		}

		offset += byteCnt + 4;

		dataItem.Value = ParseBytes(dataItem.VarType, bytes, dataItem.Count);
	}

[2016-04-22 13:58] DJWassink commented on #49
Aah thanks I remember I still had to add support for reading variables with a bigger byte size then 2, thanks a ton for remembering me + the solution :+1:

[2016-04-26 12:53] Skokan44 opened #50 "Reading from address higher than 8096"
Hi,

I am trying to read a data from a DB on S7-1200 station. I ran into problem and so far wasn't able to solve it. Apparently there is some problem, when I am reading data from position higher then 8096. Is it possible or am I doing something wrong?

` ushort address = (ushort) (StackAdress + 2*RecPtr);
var o = _plc.Read(DataType.DataBlock, DataBlockIndex,address, VarType.Int, RecSize);`¨

Thank

[2016-04-26 13:09] mesta1 commented on #50
Hi, are you using the NuGet version ?
We updated the sources and solved the problem, but we still have to update NuGet.
Try to download the latest sources and you still have the problem, let me know.

[2016-04-26 13:17] Skokan44 commented on #50
Yes I was using the NuGet version, now it is working just fine. Thank you for your work!

[2016-04-28 20:51] SenenFernandez opened #52 "Missing Strong Name"
Hello =)

Please "**Sign the assembly**":

![signtheassembly](https://cloud.githubusercontent.com/assets/1512709/14900932/9df4aa16-0d58-11e6-8b98-4f05b976b775.png)

Cheers,
Senen =)

[2016-05-01 15:46] mesta1 commented on #52
Is there any particular reason you need this ?

[2016-05-01 16:18] SenenFernandez commented on #52
https://msdn.microsoft.com/en-us/library/dkkx7f79.aspx

https://msdn.microsoft.com/en-us/library/wd40t7ad%28v=vs.71%29.aspx

https://bitbucket.org/scons/scons/wiki/CsharpBuilder

[2016-05-01 17:44] mesta1 commented on #49
Do you have any news on this ? Is it working ?

[2016-05-01 18:00] DJWassink commented on #49
Sorry I haven't been active with it lately, mainly because I can't test it against a real PLC right now. But it does function yes, I managed to read a few different tags in one go perfectly.

I am still planning on splitting a single request with too many tags into multiple request. But sadly we don't have a way to determine the PDU size, so I got stranded there and haven't touched it since.

[2016-05-01 18:09] mesta1 commented on #49
If you can create a pull request, maybe we can test and integrate it from here.

[2016-05-01 21:46] #49 closed

[2016-05-01 22:00] mesta1 commented on #52
I tried to sign the assembly, then accepted a pull request, then it wasn't compiling anymore.
Is there something wrong ?
Actually I had to remove the snk.

[2016-05-02 13:37] killnine commented on #52
Does this have consequences in the future, though? Does this mean that @mesta1 has to compile every build from this point forward?

[2016-05-02 13:41] killnine commented on #44
I'm interested to know if this logic was put in by juergen1969's original implementation because the connection was somehow unrecoverable after a read error. I don't have an S7-1200 to test on anymore, so it's tough for me to continue development.

However, implementing a more robust retry/reconnect logic seems to be a more permanent solution.

I wonder what the community thinks...

[2016-05-02 13:57] mesta1 commented on #52
I think I did something wrong, because I did right-click on the project, signed the assembly and created a new snk file.
I believe I need to add a snk file at solution level, I will look into it on the next days.
However all opensource libraries in .Net out there are signed, so we should do this too, just in the right way.

[2016-05-02 14:04] mesta1 commented on #44
Why do you have to disconnect and reconnect to continue? It just catch the exception and handle it, so to me it seems that you can continue the communication with the plc.
Of course if the ReadBytes is wrong due to connection problems, of course you have to connect and disconnect, but this is not dependant on how we handle the errors.
Error handling is not the best one, but it isn't the biggest pr

[2016-05-03 09:16] oiisamiio commented on #50
var overflow = (int)(startByteAdr * 8 / 0xffffU); // handles words with address bigger than 8191

still results in invalid data if startByteAdr < 8191 + Count > 8191 and data overlap.
So better let requests result in an error if startByteAdr < 8191 but + Count > 8191?

[2016-05-03 09:50] mesta1 commented on #50
Please can you post the code to reproduce the issue?

[2016-05-03 11:02] oiisamiio commented on #50
public ErrorCode Write(DataType dataType, int db, int startByteAdr, object value)

an example:
if startByteAdr would be 8190
and value length would be 4 bytes
var overflow = (int)(startByteAdr * 8 / 0xffffU); // handles words with address bigger than 8191
var overflow would result in 0
address would overlap, request would overlap 0/1. Right?

Excuse my english

[2016-05-03 13:16] mesta1 commented on #50
I'll test it asap.

[2016-05-04 06:05] oiisamiio commented on #50
think we need something like this:

``
   if ((startByteAdr*8/0xffffU) == 0)
                {
                    if ((startByteAdr*8/0xffffU) + varCount > 0)
                    {
                        throw new Exception(ErrorCode.WrongVarFormat.ToString());
                    }
                }
``

[2016-05-04 08:01] mesta1 commented on #50
I don't think that throwing an error is a solution, but I still had no time to check this.

[2016-05-05 20:52] mesta1 commented on #50
I did some tests today, but I couldn't reproduce the problem.
This is the code that I tested;

` [TestMethod]
        public void T11_WriteDbd8190()
        {
            ushort val = 16384;
            plc.Write("DB2.DBW8190", val);
            var result = plc.Read("DB2.DBW8190");
            Assert.AreEqual((ushort)16384, result);
        }

        [TestMethod]
        public void T12_WriteDbd

[2016-05-09 05:19] FriedrichWedel commented on #44
@mesta1: I am talking about errors which may occur if you are reading e. g. a datablock register which is not defined (or out of scope: if you read register 2000 but the last byte in the datablock is on register 1000). I get this error on a S7-1200, but I am sure the S7 firmware is doing similar checks on other Plcs as well.

The exception is catched internally within ReadBytes and the LastErrorCo

[2016-05-09 05:26] FriedrichWedel commented on #52
For signing assemblies you need a code signing certificate which has to be ordered from somewhere an is valid only for a specific period (e. g. 2 years). If you do code signing with a auto-generated certificate (like within VS) this does only make sense for debugging  but not for production.

@mesta1: Do you know an example open source project with an official code signing certificate?

[2016-05-09 06:46] mesta1 commented on #52
Helix Toolkit (https://github.com/helix-toolkit/helix-toolkit) is signed, but I don't know if it's autogenerated or what.

[2016-05-09 06:47] mesta1 commented on #44
Ok I will add it later.

[2016-05-09 07:00] FriedrichWedel commented on #52
Its an auto-generated snk file, maybe a auto-generated snk file does make sense in some use cases (I heard for COM interop or placing the DLL into the GAC it might be required)

[2016-05-09 08:19] mesta1 commented on #52
I think that the main problem of not having a snk-file is that if you have an assembly that is signed and this assembly reference a non-signed assembly, the project will not compile.
I tried to sign the assembly with an autogenerated snk, the problem is that the first pull request that I accepted didn't compiled anymore.
The problem that I'm facing on adding a snk  is that it should compile after

[2016-05-09 11:08] oiisamiio commented on #50
Sorry, did also some tests. Looks fine, no issue

Please Close Issue, Thanks

[2016-05-09 12:36] mesta1 commented on #50
No problem, thanks for your time.

[2016-05-09 12:36] #50 closed

[2016-05-11 20:20] #44 closed

[2016-05-11 20:25] mesta1 opened #56 "Duplicated code and S7.Net.Core"
I would like to unify the source files and use `#ifdef NETFX_CORE` to check if use the .Net socket or the custom one.
Also we can use #ifdef to define the correct behaviour for the properties IsAvailable and IsConnected.
Any idea ?

[2016-05-11 20:59] killnine commented on #56
Is this related to issue https://github.com/killnine/s7netplus/issues/29?

I'm not entirely sure why we're forced to use a custom implementation in the first place. UWP seems to support TCP sockets, just not between different apps.

[2016-05-11 21:07] mesta1 commented on #56
Issue #36

[2016-05-12 08:09] mesta1 commented on #56
@watashimeandeu What problems did you have on using the .Net sockets in .Net Core applications ?

[2016-05-12 19:14] watashimeandeu commented on #56
No problem, i think.
SocketClient is using .Net Socket but the idea was change the less code as possible on PLC class by creating the methods send and receive synchronous and returning the bytes transferred.
I use [this](https://msdn.microsoft.com/en-us/library/windows/apps/hh202858(v=vs.105).aspx) as example.

[2016-05-12 21:01] mesta1 commented on #56
Ok I'll see what I can do with #ifdef.

[2016-06-08 09:24] watashimeandeu opened #58 "ReadMultipleVars issue"
Reading multiple USInt vars only the first one read ok.
Adding the code bellow fix my problem, but not sure if it is the right solution.

PLC.ReadMultipleVars(List<DataItem>):

[code]

[2016-06-09 06:50] mesta1 commented on #58
Can you post the code to reproduce the problem also ?

[2016-06-09 11:28] watashimeandeu commented on #58
On Plc the vars are USInt type.

    public Dictionary<uint, byte> GetOptions(ushort db, uint[] offsets)
	{
		var result = new Dictionary<uint, byte>();
		var read = new List<S7.Net.Types.DataItem>();

		foreach (var offset in offsets)
		{
			read.Add(new S7.Net.Types.DataItem()
			{
				Count = 1,
				DataType = S7.Net.DataType.DataBlock,
				DB = db,
				StartByteAdr = (int)offset,
				VarType =

[2016-06-10 02:15] SenenFernandez commented on #52
Fixed with commit f86281a =)

[2016-06-10 02:15] #52 closed

[2016-06-12 22:14] mesta1 commented on #58
I can't find USInt type on Step7 or on TIA Portal. Can you upload the plc program ?

[2016-07-02 14:35] Skokan44 opened #60 "Stability issue - wrong bytes WrongNumberReceivedBytes"
I am using the library for continuous reading of data from 1200 PLC. Often I run into state, where I can not successfully open connection to the PLC because I keep getting wrong number of bytes in the first test.
`_mSocket.Send(bSend1, 22, SocketFlags.None);
 if (_mSocket.Receive(bReceive, 22, SocketFlags.None) != 22)
			    {
			        throw new Exception(ErrorCode.WrongNumberReceivedBytes.ToStr

[2016-07-03 19:04] mesta1 commented on #60
Are you opening and closing the connection often ? Is the same issue than this : https://github.com/killnine/s7netplus/issues/29

I would start by shutdown the two sockets, as suggested by oiisamio.
`public bool Close()
{
    if (this._mSocket != null && _mSocket.Connected)
    {
        this._mSocket.Shutdown(SocketShutdown.Both);
        this._mSocket.Disconnect(false);
        this._mSocket.Clo

[2016-07-05 16:01] watashimeandeu opened #61 "GetClassSize return zero"
Read class with four bool properties, for example, result on index out of range exception.
Adding, on Types.Class.GetClassSize before return, the code below works.
Just a workaround until bit types are pendent.

	if (numBytes < 2 && properties.Any())
		numBytes = 2;

[2016-07-06 07:07] mesta1 commented on #61
This happens when there are less than 8 bools.
We can fix this, but for your convenience it's better that you declare 8 consecutive bools, even if you don't use four of them. This will match the DB memory structure and the size will be calculated correctly.

[2016-07-06 08:21] watashimeandeu commented on #61
Declare 8 bools, numBytes is 1. In ReadMultipleBytes result on invalid cast exception because is trying to convert byte to byte[].
It's correct to try cast to work with two types?

[2016-07-07 07:18] mesta1 commented on #61
ReadMultipleBytes has a bug because the wrong function is used. This should work.
[code]

[2016-07-07 09:30] watashimeandeu commented on #61
Yes, work.
Thank you.

[2016-07-07 09:30] #61 closed

[2016-07-07 09:42] mesta1 commented on #61
Please can you prepare a pull request ?

[2016-07-07 09:58] watashimeandeu commented on #58
![img_07072016_105419](https://cloud.githubusercontent.com/assets/3598355/16649547/4ecb9840-4431-11e6-9d10-20b7aa1394a4.png)

This should return: 1, 2, 3, 4 but return: 1, 8, 0, 4.

[2016-07-08 22:11] mesta1 commented on #56
@watashimeandeu please test .Net Core version.

[2016-07-11 09:08] watashimeandeu commented on #56
So far, so good.

[2016-07-12 14:05] SniPod opened #63 "WrongVarFormat (WrongNumberReceivedBytes)"
Hi,
I have an issue when trying to read from my S7 1212C PLC. When I try to read ANY variable, I get the error message "WrongVarFormat". When i go through the code i see, that the WrongNumberReceivedBytes exception is thrown.

`public class S7_VARIABLE
        {
            public string ADDRESS;
            public object VALUE;
            public bool IS_DOUBLE;
        }`

`           S_EST_IN =

[2016-07-12 14:42] #63 closed

[2016-07-13 06:46] #56 closed

[2016-08-08 20:42] jonweaver opened #64 "Read Class Issue"
While playing around I tried reading a DB into a class.  The DB only had 2 boolean values.  This caused the size measurement of the class to return 0 and it threw an exception for index being out of range.

I added this before numBytes is converted to int:

`if (numBytes - Math.Round(numBytes) != 0)
              numBytes = Math.Ceiling(numBytes);`

Is that an appropriate fix for a DB containing o

[2016-08-09 06:46] mesta1 commented on #64
This isn't a bug, it is intended to let it crash in these cases. We need to improve the documentation on this case.

Siemens DB don't visualize the full byte when you use a boolean, so you better declare 8 bools in your class, rather than modify the sources.

While your code works on your case, it will not work with a DB like this:
DB0.DBX0.0
DB0.DBX0.1
DB1.DBX1.0
DB1.DBX1.1

Instead, declaring a

[2016-08-17 14:21] jonweaver opened #65 "Nuget package only supports .Net 4.5 or higher"
Is it possible to add profiles for .NET 4.0 and 3.5?

[2016-08-23 14:04] mesta1 commented on #65
It should be, but I am not familiar with NuGet.
Are you experienced with NuGet and know how to add the support for multiple frameworks ?

[2016-08-26 11:38] mesta1 commented on #65
It should work now.

[2016-08-26 11:38] #29 closed

[2016-08-28 17:48] mesta1 commented on #60
This has been fixed in version 0.1.4 on NuGet.

[2016-08-28 17:48] #60 closed

[2016-09-12 21:13] #65 closed

[2016-09-21 12:04] AlexMacocian opened #67 "Connection error on valid Ip Address"
Hello!
I have a problem regarding establishing a connection with a S7-1500. Whenever I attempt a connection (no data sent/received, just connect to the right IP Address), the method returns the error "ConnectionError".
I've tried debugging the code to understand the issue, but I cannot get any more information. The most I could find out was that the error returned from the connect method specifies

[2016-09-21 12:29] #67 closed

[2016-10-13 18:08] KarlDRose-DWFritz opened #68 "Unit tests fail in x86 on .net 4.5.1 casting failures"
doing baseline testing for Dev studio 2013, using .Net 4.5.1 and X86 and getting several failures on casting results. only passed T00_TestSelectBit and T01_WriteAndReadInt16Variable, all the rest failed.
changed PLC constructor to talk to a real S7-300
 plc = new Plc(CpuType.S7300, "127.0.0.1", 0, 2);  // all tests pass
 //plc = new Plc(CpuType.S7300, "192.168.0.1", 0, 2);  // failures happen

Is

[2016-10-13 18:38] mesta1 commented on #68
Tests need to shutdown a service and to start a socket to simulate a plc.
Maybe you don't have administrator rights or you have some firewall that is preventing the tests to run correctly ?

[2016-10-20 16:12] dgehri opened #69 "Start / stop CPU"
Is it possible to stop / start a SIMATIC CPU programmatically using this library, or could that be implemented?

[2016-10-21 15:21] mesta1 commented on #69
You can implement it. However it is supported only on certain CPU.
Sharp7 is a C# library that already implements it, check the documentation to see what cpu supports this feature.
http://www.mesta-automation.com/how-to-write-a-siemens-s7-plc-driver-with-c-and-sharp7/

[2016-11-15 14:42] sohrt opened #70 "Interface for PLC"
Hi,
I can see that there is a branch where a interface for the PLC have been added.
Is it by any chance possible to get that interface on the master branch, as it will be much easier to mock the PLC for unit testing?

[2016-11-15 23:03] killnine commented on #70
Ah, yes, that's a VERY old branch but would be a good idea for systems that depend upon this package.

I'll see what I can do.

[2016-11-15 23:30] mesta1 commented on #70
The interface was removed to prevent this kind of situations. You should declare that interface.
To abstract the driver you should use the proxy pattern: http://www.dofactory.com/net/proxy-design-pattern
You should create your own class that implements your interface, and then use the driver in a private field and expose the methods that you need.
This is cleaner, because the unit tests will not n

[2016-12-08 12:26] ozcanay commented on #33
Hi,

I am having the same issue as well. I am also using S7-1214. I was able to read any values in DB1. I have tried reading double, bool, int value, but no success. Do anyone have  any idea about this issue? May it be a problem on 1214 model?

Thanks in advance.

[2016-12-08 16:01] oiisamiio commented on #33
Can you also provide some sample code?

[2016-12-08 16:36] ozcanay commented on #33
My code is actually short :

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using S7.Net;

namespace ConsoleApplication1
{
    class Program
    {
        static void Main(string[] args)
        {

            String MyCpuIp = "192.168.0.101";
            short MyCpuRack = 0;
            short MyCpuSlot = 1;

            using (var plc = new Plc(CpuType.S712

[2016-12-08 19:26] oiisamiio commented on #33
Set an Breakpoint like this:
![breakpoint](https://cloud.githubusercontent.com/assets/4339308/21024332/6287dc96-bd84-11e6-8705-b295743bdaa2.png)

what exception will raised? Or Breakpoint not will be reached?

[2016-12-17 11:53] ozcanay commented on #33
The problem was actually CPU firmware not being up-to-date. It worked with PLCSIM.

[2016-12-17 12:30] ozcanay commented on #33
![saaa](https://cloud.githubusercontent.com/assets/9106924/21286743/b0d494fc-c464-11e6-99ed-9a824a7f62a8.PNG)

Hi,

I am trying to read DB1.DBW0.0 "continuosly". So, I created a timer for Windows Form application which reads the address every 100ms. At first reading the read value is correct. After couple(I guess) of readings reading process will be broken and textbox displays "Problem reading var

[2016-12-20 19:45] oiisamiio commented on #33
Hi, first excuse my english

setup breakpoints in plc class catch exception block to specify your problem.

[2016-12-20 19:59] ozcanay commented on #33
I figured the problem out. I didn't write plcWriter.Close() at the end of the code. Oops!

[2016-12-21 09:18] mesta1 commented on #33
You can also use plc.Open() once at startup of application, and plc.Close() at the end of the application.

[2017-01-18 20:52] mohamaher opened #71 "Reading Bool variable from DB"
Hello,

please I am trying to read a Boolean variable from DB by using ( S7NETPLUS ) as in  below method but I couldn't

 var VAR_byt = pl.Read(S7.Net.DataType.DataBlock, 1, 4, S7.Net.VarType.Byte,1);
            byte[] x = VAR_byt as byte[];
            x = new byte[7];
            Console.WriteLine("db1.dbx4.0 = {0}", x[0].ToString());

i am kind of new in c# as well .

Thanks in advance.

Maher

[2017-01-19 09:29] watashimeandeu commented on #71
Hi,
didn't test it, but hope this helps.

    var db = 1;
    var offset = 4;
    var result = pl.Read($"DB{db}.DBB{offset}.0") as bool;

    if (result == null)
        return false;
    else
        return result;

[2017-01-22 20:32] mohamaher commented on #71
thank you

[2017-01-22 20:32] #71 closed

[2017-03-09 15:32] Synless commented on #15
Up

Same here.

[2017-04-07 17:40] danieleperugini opened #72 "Issues on Read / Write S71200"
Hi, i have a problem.
I have a problem on reading / writing on S71200.
For example Read: on S7300 the method Read("DB5.DBW2") address the communication on datablock 5, db word 2... and it works sugar,

S71200 works differently becouse i have not address but memory names...so i'm not able to find a correct addressing.
Like: i have DB5 with named: int_0, int_1 (integers) ... how to read them with S7

[2017-04-07 18:14] #72 closed

[2017-04-07 18:15] danieleperugini commented on #72
I just found the problem on slot connections....tnx

[2017-04-21 09:36] meron1122 opened #73 "Error while read Class/struct from s7-1200"
Code
Issue -  index out of range exception  when read class.
[code]

PLC SIDE:

![virtualbox_win7_32_tia 13_21_04_2017_11_35_28](https://cloud.githubusercontent.com/assets/2895090/25272060/af4d86b4-2686-11e7-8e09-663afc5f2d00.png)

[2017-04-24 19:23] mesta1 commented on #73
You have to read at least 1 byte.

related: https://github.com/killnine/s7netplus/issues/61

[2017-04-24 19:26] mesta1 commented on #15
As a reminder, the solution is to update the firmware of the plc.

[2017-04-24 19:26] #10 closed

[2017-04-25 08:36] meron1122 opened #74 "Error while reading string in class"
I've got a class with String, String is declarated in struct on TIA too.
While ReadClass is executed, code throw Exception because String don't have empty Constructor.
So, how to read String property?

[2017-04-25 08:43] meron1122 commented on #73
@mesta1 , Thank you, this make sense :)

[2017-05-12 20:06] wakemaster39 opened #75 "PLCSIM connectivity"
Hello,

Sorry if this isn't on the s7netplus end, but I have been able to get the basics of this working with physical hardware, but when I attempt to connect to a PLCSIM instance of my s7-1200 I am unable to connect.

I am trying a line similar to this `var plc = new Plc(CpuType.S71200, "127.0.0.1", 0, 1);` but when I run `plc.Open()` the last error is saying that I received back the wrong number

[2017-05-12 23:21] mesta1 commented on #75
Here is the tutorial to configure NetToPlcSim:
https://www.mesta-automation.com/nettoplcsim-how-to-connect-step-7-plc-sim-to-scadas/

[2017-05-16 12:41] wakemaster39 commented on #75
@mesta1 Thanks for the response, I tried a number of things yesterday and searched the internet, the issue I am having is using TIA portal v14. Do you know a method of getting it working using that as the "PLCSIM s7-1200/S7-1500(TCP/IP)" configuration option in v13 to get it working does not exist.

[2017-05-17 23:13] mesta1 commented on #75
You are probably requesting a wrong amount of bytes from the DB.
If the DB has 30 bytes, you can not ask for 60 bytes.

[2017-05-18 13:01] wakemaster39 commented on #75
@mesta1 it was the put/get setting in the PLC configuration. Somehow it got reset and I haven't updated program on the PLC so it was still working. Thanks for the help.

[2017-05-18 13:01] #75 closed

[2017-05-23 12:15] sam0737 opened #76 "Write to bit should be atomic"
Currently bit writing like DB100.DBX200.3 is done by reading a byte from DB100.DBD200, modify and write the whole back. This is not atomic and unsafe. Any modification in between by other system or PLC itself could be overwritten.

The protocol supports BIT addressing and writing only one bit. (I am going to create a PR)

[2017-05-23 12:20] sam0737 opened #77 "Flexibility in connecting (host, non-default port, no ping)"
To allow more flexibility in development and deployment setup, I am suggesting the following:

- Instead of only IP, allow specifying Hostname instead
- Allow overriding the default port 102
Is case of non-standard setup
- Disable ping during open()
In case it is protected by firewall

[2017-05-23 20:27] mesta1 commented on #76
Thanks for the PR and I would really love to accept it, but it breaks a lot of code.
I will make a review and if you can adapt it I will push into the codebase.

[2017-06-16 09:04] lvzhifeng2013 opened #80 "How could I monitor one thousand or even more tags?"
Now,our solution is like this:Step 1,read the value of the tags;Step 2,compare the values with the last values that is read.Step 3,if the values equal the last values,it means that the values have not change;otherwise,it have changed.
       But  it takes about 5 seconds to read 1000 tags,if we need monior 10 thousand tags,it will be obout 1 minites.It is too long for us.Do you have a better way?

[2017-06-17 08:47] mesta1 commented on #80
You should read block of bytes and extract single tags from them.
You can use ReadMultipleVars, but there are limits. I have to update the documentation on that regard. Here is sample code:
https://github.com/killnine/s7netplus/blob/master/S7.Net.UnitTest/S7NetTests.cs#L385

[2017-06-19 00:45] lvzhifeng2013 commented on #80
Maybe,your solution will word,but I don't thing it will solve the problem completely.I will try and test it this week,
      I am thinking that we define an event,when the value of a tag has changed,it will trigger the event.By doing this,we don't have to chech every tag each time.But I don't know how to write the trigger of the event.Do you think that my solution is possible?

[2017-06-19 08:59] allatrue commented on #80
The solution from @mesta1 will work.
If you wont to fire an event on value change, you should implement this trigger in PLC by yourself. So you implement some protocol on top of s7 standard protocol. For example you could monitor your 1000 values in PLC and set some small control area if some value changes. Your application polls just small control area and reads monitored values only if they chan

[2017-06-20 07:42] lvzhifeng2013 commented on #80
I have just tested your solution. There are some problems:
A block may contains other DataType,such as string or bool, if I use ReadBytes,the result that is
read will always be byte(it will change into the number on ASCII). Other DataTypes have the similar problems .
So, it turns out that using ReadBytes dosen't work.

Then, I try to use ReadMultipleVars,there are some other problems:
If the DataT

[2017-06-20 18:32] mesta1 commented on #80
This is a low level library, it is not an opc server.

[2017-06-21 12:47] SMOWiwam opened #81 "Read Array[0..5] of"
Hello,

I use the read Class and make my own array's in the constructor. The same size is inside the PLC
But I get an An unhandled exception of type 'System.MissingMethodException' occurred in mscorlib.dll
on Activator.CreateInstance(property.PropertyType);

[2017-06-21 13:24] SMOWiwam commented on #81
Visual Studio:
public class PC_Test
    {
        //public bool test { get; set; }
        public double[] testreal { get; set; }
        public PC_Test()
        {
            testreal = new double[6];
        }
    }
TIA Portal:
	testreal	Array[0..5] of Real	0.0			False	True	True	True	False

[2017-06-21 17:23] mesta1 commented on #81
If it is a fixed array, you can probably declare them as 6 consecutive doubles.
ReadClass can't manage arrays at the moment.

[2017-07-13 14:24] lvzhifeng2013 commented on #80
I almost solved this problem,but when the DataType is bool or string, some problems come out.
How to use ReadMultipleVars to read several tags whose DataType is bool or string ?I know that I should use DataItem, but when it is bool,I found that you have not write this type in DataItem, when it is string it always  throw new Exception when the program goes to "if (bReceive[21] != 0xff) ".Can you te

[2017-07-14 16:02] lvzhifeng2013 commented on #80
I have just solved the bool problems. There is only one question: How to use  ReadMultipleVars to Read a couple of tags whose DataType are string?

[2017-07-19 08:32] lvzhifeng2013 commented on #80
The limit of ReadMultipleVars(less than 20 dataItems, and less than 200 Bytes ),you said it is because of the limit of protocol.Is there some way to read more dataItems once?In the other word, could the package bigger and the package return is right?

[2017-07-19 10:58] mesta1 commented on #80
No, you have to do multiple requests and to do them manually. Also the 200 bytes is an old limitation due to the https://github.com/killnine/s7netplus/issues/21
In the new plc you can get more than 200 bytes, but still you need to manually split bigger reads.

[2017-07-19 13:36] lvzhifeng2013 commented on #80
Since I can not think out any other better solution,I will show my current solution to monitor 1000 or even more tags:
Step1,Add two member in dataItem "ID" , "Address" ,to return the value return belongs to whic tag.
 public class DataItem
    {

        /// <summary>
        /// Primary Key of the DataItem
        /// </summary>
        public string ID { get; set; }

        /// <summary>

[2017-07-19 17:46] mesta1 commented on #80
Your solution is not optimized. If you have a lot of items in the same DB, you want to group them and make a single read in a single dataitem.

[2017-07-20 00:50] lvzhifeng2013 commented on #80
@mesta1 Fist of all, I define an Array whose each element is a list. As you said, I  have to group some tags into a list, but I don't have to make a single read in a single datatem.For I have already grouped each tag  to  an exact list, so I have many list to read.Then I use ReadMultipleVars like this:
for (int i = 0; i < list_count; i++)
{
plc.ReadMultipleVars(List[i]);
}

so  I don't have to mak

[2017-07-20 22:13] mesta1 commented on #80
If I remember correctly, the ReadMultipleVars can contain up to 20 dataitem. So at most if you are reading a single tag per data item, you read 20 bytes per request, which is not optimal.
DataItems are good in some cases, but the best is to read entire DBs and then extract the values that you need.

[2017-08-01 13:13] fkreuz opened #85 "Read PLC Boolean Input Which is Not Connected"
Hallo,

I have a question regarding reading Boolean Input which is not connected from PLC, the result will be always TRUE. This is confusing because when the reading output is TRUE, we could not know for sure if it is really true or there is some connection problem. Below is my implementation:

[code]
When the PLC is connected, the above code works fine. But if the PLC is not connected or if the P

[2017-08-01 21:54] mesta1 commented on #85
if you are offline, plc.Read("DB285.DBX26.0") will fail and raise an error. Check LastErrorCode  after every read.

[2017-08-02 07:21] fkreuz commented on #85
Hi @mesta1,

thank you for your answer. When my PLC is offline, the LastErrorCode after every read shows "Error PLC connection ...", but the "Read" command always produces TRUE value.
Anyway I can still check the LastErrorCode first before reading.

Thank you again.

[2017-08-02 07:21] #85 closed

[2017-08-04 17:42] Joppinator commented on #7
The Logo uses the S7-200 Protocol... maybe this is the solution

[2017-08-08 15:53] Happe79 opened #86 "Can not read negative Values"
Hello,

So far, thank you very much for that library. It helps me a lot.

But I have a problem reading negative values from DB.

E.g. I know that in the address area DB331.12.0 (DB331.Offset.Bit) is a values stored like -12 from Type "DINT", I get "-2147483648" using:

  S7.Net.Plc spsPLC = new S7.Net.Plc(CpuType.S7300, "100.0.0.0", 0, 2);

 object Result = spsPLC.Read(S7.Net.DataType.DataBlock, 3

[2017-08-11 08:37] thomasbargetzkuenz opened #87 "The Ping class causes a bluescreen if you stop debugging while a ping is still in progress"
Everytime a connection to the plc  is established with the Plc.Open method, the IsAvailable property is checked. If the plc is not reachable the ping needs some time to recognize this. If you now stop debugging in Visual Studio you will get a bluescreen. You can also reproduce this by writing a small console application which pings an non reachable address (without using the S7 library).

Although

[2017-08-14 18:42] mesta1 commented on #87
Ok I will get these merged.

[2017-08-14 19:13] #87 closed

[2017-08-16 20:46] mesta1 commented on #86
System.Convert.ToInt64 is not correct.
You have to use the conversions provided by the library.

[2017-08-16 20:47] mesta1 commented on #81
This has been fixed in one of the last commits.

[2017-08-16 20:47] #81 closed

[2017-08-22 10:09] mikestromi opened #88 "Read Class with Word and String"
Hello,

I have created a class with some words, real, and dwords and a string.
I try to read a class see picture for definitions
All numeric values are correct but the string remains null on read

Can anybody help?
![s7readstring](https://user-images.githubusercontent.com/31240932/29560606-cab0659a-8732-11e7-9e17-57cc53d7782b.png)

[2017-08-23 13:08] mesta1 commented on #88
I think you have to read the string as an array of bytes and then convert it. In the last version it's possible to read arrays from ReadClass.

[2017-08-31 18:37] delfuria opened #90 "ReadMultipleVars don't works with bit values"
I find this method very usefull, but reading the "bit" values don't works.
Watching at source i have see a "TODO" for this issue, i think that i have found a solution.
Could i make a PR?
Thanks

[2017-08-31 19:47] mesta1 commented on #90
Sure, just checkout the last version because we just committed the atomic writing for bits.

[2017-09-14 14:03] SolarisD opened #91 "V0.1.6 bit write to DB don't work"
This code don't work with version v0.1.6 but v0.1.4 it's ok:
`ErrorCode ec = plc.Open();`
`plc.Write("DB10.DBX658.0", 1);`
`plc.Close();`
acces to memory area with v0.1.6 is work good

[2017-09-14 17:32] mesta1 commented on #91
Tests didn't caught this.
Fixed in 0.1.7 and added more tests, to cover this scenario.

[2017-09-14 18:13] SolarisD commented on #91
Tested with s7-1200 (1215C) and VS Community 2017

[2017-09-15 06:13] SolarisD commented on #91
v0.1.7  bit writing is ok

[2017-09-15 07:32] SolarisD opened #92 "Parameters of the constructor"
/*sorry for my english*/
you create te very good lib, but one thing is not easy - parameters of the constructor,  I don't know it when create the plc class
all parameters are used for connecting, and I think it would be more convenient transfer them in to plc.Open() method.
could you consider this option, thanks.

[2017-09-15 12:15] SolarisD opened #93 "V0.1.7 sbyte write to DB don't work"
This code don't work with v0.1.7
sbyte sbMaxHW = 22; (signed 8-bit value - short int for PLC)
plc.Write(DataType.DataBlock, 1, iOffset, sbMaxHW);

but this code is working
byte bMaxHW = 22;
plc.Write(DataType.DataBlock, 1, iOffset, bMaxHW);

[2017-09-15 22:43] mesta1 commented on #93
Yes this is the 8-bit signed type.
We still have to add support for that.

[2017-09-15 22:47] mesta1 commented on #92
No we will not do that.
S7.Net has a function called IsAvailable that uses the IP address even when not configured.
You can fork the project and move the parameters where you want, or you can wrap S7.net in your own class and create a parameterless ctor and initialize the class in the connect method.

[2017-09-15 22:48] #91 closed

[2017-10-18 20:51] #77 closed

[2017-10-18 20:52] #76 closed

[2017-10-25 11:22] Libnerek opened #94 "ReadClass() assigns all properties to 0 and false (SOMETIMES)"
I use this method in my program in a loop to scan all datablocks in my PLC and update mysql database. I created a control panel for my client this way. It works 99% of a time. From time to time it scans all the properties to "0" and "false". The next scan usually is successfull and stupid values are gone. But problem stays in charts. If chart update time matches with failed (0/false) scan it stays

[2017-10-28 09:26] mesta1 commented on #94
I have to investigate on this.

[2017-10-29 16:45] Libnerek commented on #94
Thank you for the answer! It made me feel more optimistic now... For the moment I will check a bit that supposed to be always 'true'. In case it is 'false' I will skip the connection.

[2017-11-30 15:33] thomasbargetzkuenz opened #95 "Reading UDInt or DWord with uint property doesn't read the correct value"
The plc DB looks like this:

![image](https://user-images.githubusercontent.com/30795774/33437981-e0669ac0-d5e9-11e7-89af-befe20a68673.png)

The class to read the DB into looks like this:

[code]

Read result:

![image](https://user-images.githubusercontent.com/30795774/33438328-c6f59afe-d5ea-11e7-8a61-104e9f57b57d.png)

As you can see the read DWordValue is not correct. The value on the plc is in

[2018-02-05 14:10] abrasat opened #98 "Actual nuget package?"
Does the 0.1.7 nuget package version contain also the latest changes from december 2017 ?

[2018-02-05 19:30] mesta1 commented on #95
Cool,
can you make a pull request with the fix ?

[2018-02-05 19:31] mesta1 commented on #98
No, I forgot to upload the package. I will generate it asap

[2018-02-05 20:08] mesta1 commented on #98
https://github.com/killnine/s7netplus/commit/f6a2e11045aaf4a92c83c04f9c9be38a96a9fafa

[2018-02-05 20:08] #98 closed

[2018-02-05 20:11] mesta1 commented on #21
See https://github.com/killnine/s7netplus/issues/21

[2018-02-05 20:15] mesta1 commented on #2
Already a task open to address PDU negotation: https://github.com/killnine/s7netplus/issues/21

[2018-02-05 20:15] #2 closed

[2018-02-05 20:15] mesta1 commented on #15
Closing as it is related to old firmware. Upgrading the plc firmware was the solution.

[2018-02-05 20:15] #15 closed

[2018-02-05 20:17] mesta1 commented on #68
Closing. The solution is to give admin rights to unit tests. Tests are executed against a real plc simulator.

[2018-02-05 20:17] #68 closed

[2018-02-07 10:04] abrasat opened #99 "Asynchronous Communication"
Does the library contain also asynchronous methods for the communication with s7 ?

[2018-02-07 10:48] abrasat opened #100 "Event when PLC connection state changes ?"
Is there any event on client side available, which is triggered when the PLC gets disconnected ?
Does the connection get automatically re-established, or must the client call Open() again?

[2018-02-07 19:24] mesta1 commented on #99
The library is synchronous socket communication. You send a request, you receive a response in the same thread.

[code]

[2018-02-07 19:26] mesta1 commented on #100
No, to check if it is connected you have to periodically check IsConnected property.
No, we don't do magics to reconnect. You have to call Close and Open again.

[2018-02-07 19:28] #92 closed

[2018-02-09 06:51] abrasat commented on #100
I was not thinking about magics, but of an eventual AutoReconnect configuration parameter

[2018-02-09 06:53] abrasat commented on #99
Do you plan eventually to add also asynchronous methods based on an asynchronous socket communication?

[2018-02-09 08:05] mesta1 commented on #99
No, we will not add async communication.

[2018-02-27 09:49] MoriLuca commented on #86
Sorry but i really cant get over this, i kindly ask for your help.

As far as i know, those are the Siemens Base data Types and the conversion that im tring to implement:

Siemens Int      ( 16bit )  -> DotNet Int16
Siemens UInt    ( 16bit )  -> DotNet UInt16
Siemens DInt    ( 32bit )  -> DotNet Int32
Siemens DUInt  ( 32bit )  -> DotNet UInt32
Siemens real     ( 32bit )  -> DotNet double     ( As

[2018-02-27 16:41] mesta1 commented on #86
https://github.com/killnine/s7netplus/wiki/Value-conversion

[2018-02-27 16:47] MoriLuca commented on #86
Thanks for the answer, sorry im new to programming and to Git hub

[2018-02-28 23:10] mesta1 commented on #86
Long real is not available. The code should be something like this:
[code]

[2018-03-09 09:39] jkubisiowski commented on #72
Hi @danieleperugini  did you manage to read the symbolic variables from the PLC?

[2018-03-16 10:27] jkubisiowski commented on #74
Hey, try to read byte array and the convert it to string

[2018-03-22 07:13] eltigre4jc commented on #93
Any news about this? I need also to write negative numbers to PLC..
Or is there any workaround possible?

[2018-03-22 18:33] SolarisD commented on #93
You shoud convert sByte to Byte and write Byte value to PLC

[2018-03-23 13:38] Mallowan opened #103 "A question about S7.sln"
Hello everyone,
Could someone explain where did all these files (highlighted) come?
In what way was it done?
I'm asking that because I did some test, I created new solution on other PC, then added all highlighted files and managed to read/write Boolean, Real and Word. That's working. I used PLCSIM and NetToPLCSIM.
But still can't get why it worked. Because I failed to add nuget-pack (VS2015 didn't

[2018-03-26 09:42] eltigre4jc opened #104 "ReadClass - no parameterless constructor"
I try to read a class that looks like below:
`Public Class ReadStatus

    Public Property VALID As Boolean
    Public Property BUSY As Boolean
    Public Property OutputERROR As Boolean
    Public Property Status As String
    Public Property LEN As UInt16

    Public Sub New()

    End Sub

End Class`

But it gives me the error: "No parameterless constructor defined for this object."
`   at Syst

[2018-03-27 06:04] eltigre4jc commented on #104
I have to replace String with Byte() and now it works:

` Dim _status As Byte() = New Byte(4) {}

    Public Property Status As Byte()
        Get
            Return _status
        End Get
        Set(value As Byte())
            _status = value
        End Set
    End Property

    Public ReadOnly Property StatusValue As String = System.Text.Encoding.ASCII.GetString(_status)`

[2018-03-29 11:59] Mallowan opened #105 "Can't read structure. Help!!!"
Hello.
A reading/writing Bytes and Markers went successfully. That's great!
I've tried to read data from simpliest structure.
I've got an exception. **NullReferenceException** _'Object reference not set to an instance of an object.'_
I followed the steps described in **Documentation** for the library.
I can't get what's wrong in the code. Please see screens.

![struct_reading](https://user-images.

[2018-04-03 12:17] eltigre4jc opened #106 "ReadClass -> error, ReadBytes -> ok, for 1362 bytes"
Hello!
I have a class of 1362 bytes in PLC. I made a class, with consecutive bytes/integer,Uint16 properties, to read all the properties from the PLC. But it fails with "WriteData" error code and "WrongNumberReceivedBytes" ErrorString, and all properties are set to 0.
I think it might be related to this :
[https://github.com/killnine/s7netplus/issues/94](url)

But, when I use "ReadBytes" to read a

[2018-04-04 06:16] eltigre4jc commented on #106
I have made some more research. It seems that it fails in ReadBytesWithASingleRequest function at line 1037:
if (bReceive[21] != 0xff)
                    throw new Exception(ErrorCode.WrongNumberReceivedBytes.ToString());

It reads the first 1000 bytes ok, but then it fails.

In TIA i have type 'int' for some fields but in class I have put 'Integer' for the property.

I do not know which informat

[2018-04-04 07:36] eltigre4jc commented on #106
Thank you... Meanwhile I thought of this and tested, and it is as you already written in the comment

[2018-04-04 07:37] #106 closed

[2018-04-11 13:00] Mallowan commented on #105
Hello there,
Of course I'll try do it this way. Thanks a lot.
But, as far as I understood "get" and "set" are used in declaration for a class reading. If we follow this documentation, for a structure reading isn't written that there should be used "get" and "set" in structure declaration. Isn't it?
Either Documentation is poorly written or there's no difference between class reading and ctructure

[2018-04-11 15:05] rapha-dev commented on #105
@Mallowan
ReadStruct determines its size by field types (Boolean, Int32...) only.
ReadClass uses its properties (get, set) followed by field type to define final size.
In this case your testStruct should be fine without properties (at least contain 8 bools as @watashimeandeu recommends).

[2018-04-11 15:27] rapha-dev commented on #103
It is working because s7netplus uses .Net native functions only, like functions defined in System and System.Net. So you don't need to reference any other dll or uncommon namespace.

You may have a look into "References" above the highlighted files in your screenshot.

NuGet adds precompiled dlls to your VS project for convenience.

[2018-04-11 19:35] Mallowan commented on #105
Could someone share with working code of reading a structure to textBoxes and reading a structure to class with further output of values in textBoxes?

Mallowan

[2018-04-11 19:46] mesta1 commented on #105
https://github.com/killnine/s7netplus/blob/9fd515280a4fe29ad41ce3d26eacdfd7866aeeb4/S7.Net.UnitTest/S7NetTests.cs#L211
https://github.com/killnine/s7netplus/blob/9fd515280a4fe29ad41ce3d26eacdfd7866aeeb4/S7.Net.UnitTest/Helpers/TestLongStruct.cs#L11

[2018-04-12 13:31] Mallowan commented on #105
Of course I saw these tests! If I got them I wouldn't write here my questions.
To me this is pretty complicate things to get such things on C# language.
I'm just young Step 7 programmer and in area of C# I have small experience. So I need examples.
I would be appreciate if someone would provide a code baced on real C# project.
**P.S.** I've found some sample projects in the Web.

[2018-04-12 14:57] rapha-dev commented on #105
Mesta has written about S7.Net in his [blog](https://www.mesta-automation.com/), an example is included, too. It's a good start to get familar with the library.

[Communication with Siemens S7 Plc with C# and S7.Net plc driver](https://www.mesta-automation.com/siemens-s7-plc-c-s7-net-plc-driver/)

[2018-04-12 17:29] Mallowan commented on #105
@rapha-dev,
First of all thank you for replying. I read this blog in the past and studied this sample. And as  I wrote above this example from Mesta is pretty poor.
Context of events of provided sample  project:
-connection (start);
-disconnection (start);
-set Word variable;
-set Real variable;
-set DoubleInt variable;
-set DoubleWord variable;

There is no word about reading in the project code;

[2018-04-19 07:01] Mallowan opened #109 "Still can't get rid of 'NullReferenceException' while class or structure reading."
Hello everyone my issue is still not resolved. :)
While playing around, I'm getting  **NullReferenceExceptio**n **'Object reference not set to an instance of an object.'** Despite of  created 1Byte size DB1 in Step7 project or 1Byte size Structure. As was described in #105.
Can't get what's wrong. Thank in advance!
Here is a code I used.

[code]
Created DB1 with 1Byte size.
![db1](https://user-ima

[2018-04-19 07:10] Mallowan commented on #109
``

[2018-04-19 08:01] rapha-dev commented on #109
@Mallowan
You have defined "plc" twice. First in class and second in Form1(). The instance used in button1_Clock() is never initialized.

It should be `plc = new Plc(CpuType.S7300, "127.0.0.1", 0, 2);` if you want to use the class defined instance.

You also want to add some error handling, i.e. not connected to PLC.

[2018-04-19 09:58] Mallowan commented on #109
yes, this is working.
![plc_new_plc](https://user-images.githubusercontent.com/37699980/38985129-2c28d37e-43d1-11e8-93a1-efaf68e96006.jpg)

[2018-04-19 11:02] rapha-dev commented on #109
Keyword here is [Watch](https://docs.microsoft.com/en-us/visualstudio/debugger/watch-and-quickwatch-windows).

[2018-04-19 11:56] rapha-dev commented on #105
@Mallowan

For my own i use classes to read from PLC and single statements to write.

A class read looks like this. `_plc` is a `S7.Net.Plc` instance.

[code]

Each DB has its own class.

[code]

[code]

My DBs have a main structure followed by identical sections, like DB800 (data logger). Therefor you can set an offset to start reading sections.

The DB800 is defined in Step7 and contains multipl

[2018-04-19 12:39] Mallowan commented on #109
@rapha-dev  I'm sorry, but I've defined 1Byte or 8 Bools, as seen on the screenshot above (VarBool0...varBool7) and in the DB1 (Varbool0...VarBool7).

Separate thank.

Mallowan

[2018-04-19 12:44] rapha-dev commented on #109
Have a look at the last "bool" in `class DB1`, it is a byte instead.
Your `public struct DB1_Structure1` consists of 8 bools.

From your original post:
[code]
PLC DB1 looks good.

[2018-04-19 12:48] Mallowan commented on #109
yes, later I have noticed that TYPO and corrected.

Mallowan

[2018-04-24 07:50] udon02 opened #112 "Can't read Dint and int. Help!!!"
Hi,

I have already used the new version s7 library in the past and worked really fine.
Now we are going to connect to an s7-400 plc and with this library it connects just fine.
The problem occurs when i try to read from the plc.

The var location is : DB71.DBW56
C# code: object s = plc1.Read("DB71.DBW56");
And i get WrongVarFormat.

Can you please help me out.

Regards,

[2018-04-24 08:38] hakfre opened #113 "Cant read data from S7-1200"
I am unable to read data from a datablock in a S7-1200 (6ES7 212-1BE40-0XB0) with firmware V4.2. The software connect to the PLC but reading data returns only error messages.

For instance:
`var io0 = plc.Read("DB1.DBX0.0");`
gives the error: "The variable'DB1.DBX0.0' could not be read. Please check the syntax and try again."
and
`byte[] ioByte = plc.ReadBytes(DataType.DataBlock, 1, 0, 1);`
return

[2018-04-24 08:44] rapha-dev commented on #113
Hi @hakfre,

had the same issue when reading from a S7-1500. Be sure to enable PUT/GET and download hardware to PLC. Just ticking the checkbox is not enaugh.

[2018-04-24 09:25] rapha-dev commented on #112
Hi @udon02,

it is hard to guess, Read() always throws an WrongVarFormat on any error.
You may debug into ReadBytesWithASingleRequest() and see if there is data in receive buffer.

[2018-04-24 11:33] hakfre commented on #113
Thanks!
"Download the hardware" did the trick. I assumed that the "Download to device - Software (all)" also update the hardware configuration, but no.

Actually the "Download to device - Hardware configuration" is only available when you are offline. As soon as the PLC is online in TIA the option dissapear, thats probably why I missed it.

[2018-04-24 11:33] #113 closed

[2018-04-25 10:23] rapha-dev opened #114 "Read() doesn't remove whitespaces in variable (parameter)"
When reading variables from a SQL-Server table they contain some whitespaces, as shown here.
![read1](https://user-images.githubusercontent.com/814049/39239954-b484cb1e-4882-11e8-8212-dcf2d8d41f8c.PNG)

Maybe it is better to Trim() excess characters or use an Regex as described [here](https://stackoverflow.com/a/14591148/6874271).

Using Trim() produces a readable address and doesn't lead to Wrong

[2018-04-25 12:03] udon02 commented on #112
Hi @rapha-dev

i have tried it but still can not read it. now i can not read data from S7-400 all data type, but i can write data.

Can you please help me out.

Regards,

[2018-04-25 14:56] rapha-dev commented on #112
Can you try following instead?
`object s = plc1.Read(DataType.DataBlock, 71, 56, VarType.Word, 1);`
It should read the same variable, but you will see any other Exception.

[2018-04-26 08:08] udon02 commented on #112
I have try but can not read.

[2018-04-26 09:05] rapha-dev commented on #112
@udon02
Same error?
Should be `ErrorCode.WriteData` or `ErrorCode.WrongNumberReceivedBytes` if there is a known read error.

[2018-04-26 09:26] udon02 commented on #112
is show ErrorCode : ErrorCode.WrongNumberReceivedBytes

[2018-04-26 09:29] rapha-dev opened #115 "Possible bug in ReadMultipleVars on VarType.Bit?"
Is there a bug in ReadMultipleVars when a VarType.Bit is used?

[code]

Package capture Job:
[code]

Pcap Ack_Data:
[code]

There is a "Fill byte" on each Bit-Item except the last item. These Fill bytes are not processed in ReadMultipleVars correctly.

Something has to be done in VarTypeToByteLength, as there is a TODO comment?

Best regards.

[2018-04-26 09:31] rapha-dev commented on #112
So the received data from PLC is incorrect or better invalid.
Are you sure the DB exists in PLC and has sufficient length?

[2018-04-26 09:40] rapha-dev commented on #115
We also need some checking for "Success" on each Item in Ack_Data response, not only the first item.

[2018-04-26 14:29] mbalous opened #116 "When PLC is not reachable an inappropriate exception is thrown"
Disconnecting the PLC from power supply after `plc.Open()` is invoked produces an exception specified below:
[code]

I think this is really misleading, because a syntax correction definitely won't help. An exception with message similar to "PLC can not be reached" should be thrown in my opinion.

[2018-04-26 15:16] Mallowan commented on #116
Yes, you're right, provided that your application polls continuosly such lib properties like 'IsConnected'.
And based on this event your app disable a var polling.

Mallowan

[2018-04-27 07:51] rapha-dev commented on #116
Right, similar to issue #112 where WrongVarFormat is returned.
Methods `Read(string)` and `Write(string, object)` should be affected. Needs better exception handling (Exception forwarding).

[2018-04-27 09:17] udon02 commented on #112
@rapha-dev
I'm sure there is a DB in the PLC.

[2018-04-30 04:30] GrayDelacluyse commented on #58
I know this issue is very old, but for others searching, USint is 1 byte with a max value of 255.  Therefore, your c# class/struct should actually be Byte

[2018-05-02 11:51] abrasat opened #119 "S7 alarm list"
Is it possible to use the s7netplus library to read the actual list with S7 alarms ?

[2018-05-02 13:41] rapha-dev commented on #119
Hi @abrasat,
As far as I know, only data reading/writing is supported.
However, you can call SFC51 and store readings into a DB, s7netplus can read that stored data.

[2018-05-03 13:14] rapha-dev commented on #119
There is no support for SFC51 in S7-1500.
Siemens is providing [explanation and examples about alarms in S7-1500](https://support.industry.siemens.com/cs/ww/en/view/59192926/90468753675) and how to retrieve them.

[2018-05-08 20:39] mycroes commented on #114
My opinion: this doesn't belong in a communications library. I don't know how you get your data in the database, but logically I'd say you forgot about input sanitizing, you should've made sure the data is valid before storing it in the database.

My proposal for this issue is to close as invalid.

[2018-05-09 06:16] rapha-dev commented on #114
You are right, this should not be part of this library. Since it is it should work as expected.

Closing this as it is not a "normal" whitespace.

[2018-05-09 06:16] #114 closed

[2018-05-13 21:26] mesta1 commented on #64
fixed https://github.com/killnine/s7netplus/pull/117

[2018-05-13 21:26] #64 closed

[2018-05-13 21:26] mesta1 commented on #73
Fixed https://github.com/killnine/s7netplus/pull/117

[2018-05-13 21:26] #73 closed

[2018-05-13 21:27] #86 closed

[2018-05-13 21:29] #104 closed

[2018-05-13 21:29] #103 closed

[2018-05-13 21:30] #95 closed

[2018-05-13 21:30] mesta1 commented on #90
https://github.com/killnine/s7netplus/pull/117

[2018-05-13 21:30] #90 closed

[2018-05-13 21:32] mesta1 commented on #109
Closing as solved (code error on constructor).

[2018-05-13 21:32] #109 closed

[2018-05-13 21:34] #88 closed

[2018-05-16 17:33] jonweaver opened #120 "Problem reading struct"
I working on a project with an S71200 PLC and it has a DB with 3 words and 16 booleans.  My struct is below.  When I try to read this DB from the PLC using

`   var data = (FromPLCStruct)_plc.ReadStruct(typeof(FromPLCStruct), 8);`

I get an IndexOutOfRange error.

I tracked it down to here.  It appears that COTP.TSDU.Read is returning a byte array with only 12 bytes. I'm not sure what it should be

[2018-05-16 18:09] mesta1 commented on #120
@thoj can you have a look ?

[2018-05-17 12:56] jonweaver commented on #120
I found the problem.  The PLC programmer forgot to check the "Permit access with Get/Put..." on the PLC.  If this is an error code it should be possible to pass it right?

[2018-05-20 22:02] mycroes commented on #58
This is probably fixed by a recently merged pull request. At least reading single bytes works now.

[2018-05-20 22:05] mycroes commented on #99
Addressed in PR #111

[2018-05-21 10:30] watashimeandeu commented on #58
Someone who tests this scenario just to be sure, and for me this issue can be closed.

[2018-05-21 10:34] mycroes commented on #58
I tested reading single bit / byte using ReadMultipleVars as mentioned in PR #117. I'd say close this, as the datatype in PLC doesn't seem to matter anyway.

[2018-05-21 11:07] #58 closed

[2018-05-28 16:43] Mallowan opened #122 "What exactly means second number in the reading DB class method?"
Hello there,
I'm confused...
While testing I didn't use numbers of DBs large than "2" and everything was working fine.
For example:

[code]
 I tried to read DB called DB9 and I've got an exception. The DB9 itself is equal one Byte, and I tried to increase that up to 2 Byte. No matter, that doesn't work...
![db9_reading](https://user-images.githubusercontent.com/37699980/40623014-50f1af14-62ad-11e8

[2018-05-29 06:36] rapha-dev commented on #122
Hi,

your ReadClass signature would lead to `public int ReadClass(object sourceClass, int db, int startByteAdr = 0)`, where startByteAdr is optional and defaults to 0.

So `plc.ReadClass(db9, 9)` is correct if you want to read from DB9 starting at byte 0.

[2018-05-29 08:11] Mallowan commented on #122
@Rapha-dev,
I'm sorry. That's amazing TIA portal...  As they say, 'The morning is wiser than the evening'. Sometimes TIA requires whether a reboot of OS, whether a reboot of TIA itself. I didn't that catch. Just I had run my laptop today morning and yesterday's code has became working... ) Awesom stuff...

[2018-05-30 05:54] mycroes commented on #122
@Mallowan Could you close the issue please? No need to keep it open.

[2018-05-30 09:39] #122 closed

[2018-06-07 13:26] arkypita opened #124 "ErrorCode.ReadData never returned"
Hi
I see that calling a plc.Read(...) will set a lasterror of "ErrorCode.WriteData". Should not return ErrorCode.ReadData?

I have search for ErrorCode.ReadData reference in code, seem to be only declared but not used.

Suggest:  ReadBytesWithSingleRequest in PlcSyncronous.cs should set ErrorCode.ReadData, not WriteData

[2018-06-08 07:54] rapha-dev commented on #124
Agreed, same should be done in `public async Task<List<DataItem>> ReadMultipleVarsAsync(List<DataItem> dataItems)` and `public void ReadMultipleVars(List<DataItem> dataItems)`.

BTW: Why is it marked as obsolete? In my understanding Sync and Async should be exist both unless it is used internally.

[2018-06-19 08:40] eddydeboer opened #126 "Writing a short[] to plc forgets byteswap for the shorts"
When writing a short[] to plc no byteswap is performed for the plc, so all written values are wrong.
We fixed it by swapping the bytes this way.
            var arr = new short[]{50, 256, 255, 128}
            //short array to bytearray
            var barr = S7.Net.Types.Int.ToByteArray(arr);
            for (var i = 0; i < barr.Length-1; i = i + 2)
            {
                var tmp = barr[i+

[2018-06-19 19:32] mycroes commented on #124
Things that can be done `async` should be done `async`. If a user choses not to use `async`, he should make that decision at the top-most level where he can make the decision. As such it does make sense to obsolete the sync API (even though Microsoft will never do such a thing because of backwards compatibility). Note that it's not my decision though, it was changed in PR #111.

[2018-06-19 19:39] mycroes commented on #3
I agree that s7netplus shouldn't be dealing with the polling. It can perfectly be done using extension methods or as a separate consumer of the s7netplus API, so there's no reason to include it in the library. Can this issue be closed? (The more issues there are, the smaller the chance is someone will try to fix them all).

[2018-06-19 19:48] mycroes commented on #6
There's support for reading strings with the header in the `StringEx` class (`StringEx.FromByteArray`). Also, that method correctly handles the header: first byte is `size`, second byte is actual string-`length` (the length of the stored string).

[2018-06-19 20:04] mycroes commented on #74
Reading a `string` in a `class`/`struct` is only possible when the length is known upfront. I believe this is supported for strings in P/Invoke using attributes, so a solution would be possible. It's not really strange that it doesn't work out of the box though.

@meron1122: As you're mentioning the possiblity of string-in-struct in TIA, could you tell me if that string always includes the string

[2018-06-19 20:14] mycroes commented on #80
With S7-1500 the PDU size is 960 bytes. There's some bytes lost for the headers, but I believe you can read something like ~940 bytes in a single read that way (with proper PDU size negotation, which should work as of recently). When all the bytes have been received it's possible to extract data at the proper indices of the return array. I'm not sure about the timing of this, but I do know that re

[2018-06-19 20:15] mycroes commented on #93
I guess that @SolarisD  means is cast the `sbyte` to `byte` and write the `byte` value. Would this be good enough for you @eltigre4jc?

[2018-06-20 06:54] rapha-dev commented on #126
@mycroes
That's right, thanks for fix.

[2018-06-21 01:19] flyasme opened #128 "v0.1.9 PLC ,The remote host forced the closure of an existing connection."
When I use the v0.1.9 PLC , I received the message of "The remote host forced the closure of an existing connection." But if I use the v0.1.8, the Open is OK.
I want to know how to fix it if I use v0.1.9.

[2018-06-21 12:32] #126 closed

[2018-06-21 12:43] mycroes commented on #128
What type of PLC are you connecting to? Can you share a minimal reproduction?

[2018-06-21 12:49] mesta1 commented on #124
About the Obsolete, I didn't notice that. Can someone remove that please? I don't think we will ever remove the synchronous version. @mycroes @rapha-dev

[2018-06-21 12:52] mycroes commented on #124
@mesta1 Will do.

[2018-06-21 18:30] mycroes commented on #124
It was actually only there on ReadMultipleVars and in some comments, removed all mentions of obsolete in PR #129.

[2018-06-22 00:20] flyasme commented on #128
S7-400. 416-3  and cp443-1
if(plc.IsAvailable=true){
plc.open();
if(plc.IsConnected){
....//Here received the error message!
}
}

[2018-06-22 00:27] flyasme opened #131 "struct and class read error , when read real numbers."
If I read one real number one a time , it's ok.
But if I used ReadClass or ReadStruct ,I get some wrong numbers.
And bool type and int type is right.

![pic](https://user-images.githubusercontent.com/40376003/41751924-96e8e4d6-75f6-11e8-8662-28928a9a00ab.png)

[2018-06-22 00:36] flyasme commented on #131
Do you have any suggestion about it?

[2018-06-22 02:10] flyasme commented on #131
It's ok, changed the sequence of the vars in  DB, all real vars must in the head of the DB, then change to the same of the class.

[2018-06-22 04:42] mycroes commented on #131
Bit reading has had some issues, I'm guessing it still doesn't work properly in ReadClass / ReadStruct.

[2018-06-22 06:11] mycroes commented on #128
Can you post your `new Plc(...)` line as well? I'll compare if something has changed with regards to opening communication. Also, you're only referring to `plc.IsConnected` with regards to error messages, but `plc.IsConnected` never throws. What is the actual call that causes an error / throws an exception? What is the message?

[2018-06-22 18:31] mycroes commented on #131
@flyasme I think you're using the method incorrectly. I'm assuming you have the following struct:
[code]
_(BTW s7netplus inccorectly translates Real to double, the matching .NET type for a 4-byte floating point number is float / Single)._

The signature is as follows: `public object ReadStruct(Type structType, int db, int startByteAdr = 0)`. What this means is that your call `ReadStruct(typeof(RD)

[2018-06-22 18:39] mycroes opened #132 "s7netplus incorrectly uses `double` as the .NET type for REAL values in PLC"
`Double` values in .NET are 8 bytes long, `float` / `Single` are 4 bytes as is the `REAL` type in Siemens PLC's. Also, except for byte ordering the bitwise values are equal.

@mesta1 My proposal would be to mark all `double` related conversions as obsolete and replace them with `float` conversions. I'm not sure what would be sane way to handle double fields in structs/classes, my personal opinion

[2018-06-22 19:08] mycroes commented on #128
@flyasme could you check out the commit that I added to [mycroes/s7netplus](https://github.com/mycroes/s7netplus/tree/use-256-byte-pdu-in-communication-setup) and see if that works? Recently the requested PDU size on the client side (s7netplus) was changed from *256* to *1872* (the 1872 is an error, should have been *1920*, see PR #130 for details). I can imagine S7-400 might bail on this, but I'm

[2018-06-23 07:38] flyasme commented on #131
First of all , thank you !
I will test more, and feedback here for peers.
And I should to say sorry ,for  I didn't post the detail of my code.
The last version is ...,I test word ,bit and real ,with this code, and Received the same value.
    public  class ToRead
    {
        public double DB_VAR2215 { get; set; }  //Here I've changed yesterday.
        public double DB_VAR2216 { get; set; }// Th

[2018-06-23 08:37] flyasme commented on #128
Code:
 fur1PLC = new S7.Net.Plc(par.CPU, "192.168.0.3", par.rack, par.slot);
 rack=0	slot=3

 fur1PLC.Open(), cause an error, the message is "The remote host forced the closure of an existing connection."
 The errorCode is "ConnectionError".

 About PDU , I'll try it the next workday.

[2018-06-23 10:03] rapha-dev commented on #132
I'd like to vote +1 on this as I had some kind of misunderstanding before.

[2018-06-26 05:42] andrea5586 commented on #128
In my case with S7300 with CP343-1 Lean the call PLC.Open() gives errorCode= "connectionError" and CP goes system fault.

[2018-06-26 05:49] mycroes commented on #128
I actually verified the local and destination TSAP for all CPU types yesterday, so my guess is still on PDU size (it's one of the few things that has actually changed). @andrea5586 could you check if https://github.com/mycroes/s7netplus/tree/use-256-byte-pdu-in-communication-setup works for you with S7-300?

[2018-06-26 18:56] mycroes opened #135 "ReadClass and ReadStruct order is not guaranteed"
Title says it all. Marc Gravell has a good answer [over on StackOverflow](https://stackoverflow.com/questions/5473455/c-sharp-get-fieldinfos-propertyinfos-in-the-original-order/5473526#5473526) as how this can be solved. For structs there's an actual solution that's also described at dotnet/corefx#14606; if `LayoutKind` is applied on a struct the `MetadataToken` property of the `FieldInfo` can be

[2018-06-26 18:58] mycroes commented on #131
I'm sorry for my late reply, but it seems your comment doesn't make sense.

The comment says you swapped a `double` for a `double`, that doesn't make sense. If you'll post the original struct or class I'll see if there's something wrong with the calculation.

Also, it's a bad idea to read a class this way, because order of `GetProperties()` is not guaranteed to match anything. That's not your faul

[2018-06-26 19:27] mesta1 opened #136 "New maintainers"
@rapha-dev and @mycroes as two of the most active members, you should have now permission to push to master and accept PRs.
Please create an account on NuGet.org and email me your accounts, so I can give you permissions to upload nuget packages.

[2018-06-26 20:19] mycroes commented on #3
Closing as wontfix.

[2018-06-26 20:19] #3 closed

[2018-06-26 20:20] #6 closed

[2018-06-26 20:21] mycroes commented on #7
Closing, no feedback and possible fix suggested.

[2018-06-26 20:21] #7 closed

[2018-06-26 20:51] mycroes opened #137 "Exception vs LastErrorCode / LastErrorString"
As the title says, use of `Exception`s vs `LastErrorCode` and `LastErrorString`. Personally I favor exceptions because they don't break under concurrent use and they're the builtin (as in within the language) solution for this problem. A custom exception type can be created to also return the error code. There are some cases where exceptions are thrown on precondition failures while in other cases

[2018-06-28 07:17] rapha-dev commented on #137
Agreed. Some methods are also producing misleading error strings, this should be cleaned up while implementing Exceptions.

[2018-06-28 10:55] andrea5586 commented on #128
@mycroes Thank you for your suggestion. At the moment i don't have the S7300 available. I will try your solution when it will be reachable again.

[2018-06-28 19:34] #105 closed

[2018-06-29 08:15] Mallowan opened #139 "Writing a DInt to DB. I got stuck on this matter."
Hello,
Trying to write a DInt, followed provided code samples and Documentation.
I've got an exception as shown below.
![2018-06-28 23_56_59-s7net_01 debugging - microsoft visual studio administrator](https://user-images.githubusercontent.com/37699980/42081142-60a364cc-7b8d-11e8-93ac-693b61fc0c34.png)
and some info from TIA DB's graph.
![2018-06-28 23_59_06-siemens - c__users_ngc_user_documents_au

[2018-06-29 08:31] mycroes commented on #139
Please provide the StackTrace of the Exception so we can trace the origin.

[2018-06-29 08:45] Mallowan commented on #139
`   at S7net_01.Par_Mixer.Par_Mixer_FormClosed(Object sender, FormClosedEventArgs e) in C:\Users\NGC_user\Documents\Visual Studio 2015\Projects\S7net_01\S7net_01\Parameter_Form\Par_Mixer.cs:line 99
   at System.Windows.Forms.Form.OnFormClosed(FormClosedEventArgs e)
   at System.Windows.Forms.Form.WmClose(Message& m)
   at System.Windows.Forms.Form.WndProc(Message& m)
   at S7net_01.Custom_Forms.Bo

[2018-06-29 08:50] Mallowan commented on #139
I think this is my mistake. But where ithis is? :)

[2018-06-29 08:57] rapha-dev commented on #139
Hi @Mallowan,
you have a syntax error in your variable. `DB8.DBD2.0` is not valid, you may use `DB8.DBD2` for DINT.

[2018-06-29 09:08] Mallowan commented on #139
Hi @rapha-dev, long time, no see! )
DB8.DBD2.0 this is normal absolute addresing for Step7 and for TIA Portal, if it is turned on to absolute addresing in its settings.
Perhaps I did it reflexively. there's a lot of work for a single brain. the heap of hardware, two apps, different prog. languages and so one... )

Mallowan
P.S. just checked your vesrsion. I've got same exception.

[2018-06-29 09:20] rapha-dev commented on #139
I'm pretty sure it is a syntax error in Step7, unsure about TIA.
Can you post exception details please?

[2018-06-29 09:46] Mallowan commented on #139
`   at S7net_01.Par_Mixer.Par_Mixer_FormClosed(Object sender, FormClosedEventArgs e) in C:\Users\NGC_user\Documents\Visual Studio 2015\Projects\S7net_01\S7net_01\Parameter_Form\Par_Mixer.cs:line 99
   at System.Windows.Forms.Form.OnFormClosed(FormClosedEventArgs e)
   at System.Windows.Forms.Form.WmClose(Message& m)
   at System.Windows.Forms.Form.WndProc(Message& m)
   at S7net_01.Custom_Forms.Bo

[2018-06-29 10:11] rapha-dev commented on #139
Yeah, dealing with multiple projects at the same time can be exhausting.

The first (essential) part of your exception detail is missing, it should be written before `at S7net_01.Par_Mixer.Par_Mixer_FormClosed...`.

[2018-06-29 10:15] Mallowan commented on #139
espesially considering that some part of brain is busy with FIFA World Cup  games. ) I will look...

[2018-06-29 10:39] rapha-dev commented on #139
Right, you posted the StackTrace, important part here is `NullreferenceException`. StackTrace shows where it was thrown, in your case in the `FormClosed` method.

Same code works when you replace DB8 with DB9?

[2018-06-29 10:50] Mallowan commented on #139
it seems, I've found  where the issue is.
Just created button_click event handler at MainForm and sent to DB8 a value. That went well. DB8 got a value.
However  writing doesn't work from events that are situated at subForm. ( There's no syntaxis fails there, though.

[2018-06-29 11:45] Mallowan commented on #139
Where I can see **plc** instance `NullReferenceException`?

[2018-06-29 13:03] rapha-dev commented on #139
That is something common, when you create an instance of a class (or anything else) and it isn't static you cannot access the instance from outside.

[2018-06-29 13:23] Mallowan commented on #139
It's hard to understand...
It would be nice to look at a sample for second form.

[2018-06-29 13:24] rapha-dev commented on #135
That is a good idea, indeed, didn't knew that. So it should be possible to use LayoutKind to get the properties in order.
Another approach would be to explicitly order the properties to compile time as seen [here](https://stackoverflow.com/a/17998371/6874271)?

[2018-06-29 13:36] rapha-dev commented on #139
Maybe [this](https://stackoverflow.com/a/4660186/6874271) helps to understand why you get that `NullReferenceException`, will try to get an example.

[2018-06-29 14:36] rapha-dev opened #140 "Changelog / Releases out of sync"
We have [Changelog](https://github.com/killnine/s7netplus/wiki/Changelog) in the Wiki and [Releases](https://github.com/killnine/s7netplus/releases) in Code.
Maybe Changelog in Wiki should be removed and Releases (including description) should be used instead as they're not matching already.

[2018-06-29 14:45] mycroes commented on #140
If we properly add release information to the version tags the releases will contain that information (see [Sally7/releases](https://github.com/mycroes/Sally7/releases) for a sample). I think we *could* add more information to releases, but a decent tag annotation *will* do as release info.

About the Changelog in the Wiki, I propose we delete that. I guess everyone that cares about the changelog

[2018-06-29 14:47] mycroes commented on #139
Tagging this as invalid because it doesn't seem related to S7NetPlus in any way. I'll leave it open for now because I guess you're almost there, but I'd rather not have totally unrelated issues here.

[2018-06-29 14:51] #136 closed

[2018-06-29 14:59] mycroes commented on #135
That's a good find, very neat trick. As far as `struct`s are concerned, just specifying LayoutKind is enough to guarantee field order by MetadataToken. I'm not sure what we want to force on people, but creating an S7FieldAttribute which includes the linenumber trick could be nice. That would also permit overrides or specifying string length for instance.

I was actually thinking if it perhaps woul

[2018-06-29 15:14] rapha-dev commented on #139
Sure, better to discuss in another repo (see above).

[2018-06-29 15:40] Mallowan commented on #139
@mycroes, Hi there,
Put yourself in my shoes and try to write on (e.g. Stackoverflow) like: _'I've got an exception while running HMI based on S7netPlus library and don't know whether this exep comes from used library itself or I made some mistakes in C# code because I'm newbee, or it's double issue.' Like it really have been.
I guess most of site members will make big eyes on this request.
Mallow

[2018-06-29 15:48] rapha-dev commented on #139
It is an example for reading in a SubForm. `var value` can be anything else, it just should demonstrate how to use the passed Plc instance without creating a new instance in every Form.

Do you mind if we discuss in my example repo as it really doesn't belong here? https://github.com/rapha-dev/examples/issues

[2018-06-29 15:58] rapha-dev commented on #140
Tag annotations should be sufficient, it can be more info on major releases to give a brief intro to what essentially changed. I'm looking forward to major changes like #135 as it _could_ break existing implementations (not that it should).
I have seen release 0.1.9 out in NuGet, but Tag is not existing in repo. Can it be added afterwards? (Still learning to handle GitHub)

[2018-06-29 17:53] mycroes commented on #139
Dear @Mallowan (sincerely with best intents, no sarcasm),

I did, that's why I didn't close the issue. I've labeled it so that if someone is searching for actual issues to fix (like me, since I'm trying to get S7NetPlus into better shape) they can skip issues that are not really related to S7NetPlus. There is no offense meant by labeling the issue 'invalid' and I think you should be very thankful

[2018-06-29 19:01] mycroes commented on #140
Tags, GitHub and NuGet are all kinda separate. Although GitHub could theoretically limit creation of tasks, that just wouldn't make sense. As far as NuGet is concerned, nothing promises that the NuGet package is actually built from the source in the repository.

For Sally7 I'm actually using AppVeyor to deploy to NuGet. That way I'm sure that the NuGet package matches the sources in git and it's a

[2018-06-29 19:46] mycroes commented on #140
0.1.9 is in releases now.

[2018-07-01 20:55] mycroes commented on #140
I deleted the Changelog page and since 0.1.9 is releases now I'll close this.

[2018-07-01 20:55] #140 closed

[2018-07-02 10:33] rapha-dev commented on #132
Have prepared the implementation of float / Single, needs some testing against real hardware but should work. Will also create a PR for this.

[2018-07-03 08:23] rapha-dev opened #145 "ReadBytesWithSingleRequest cannot read >491 Bytes on S7-1500"
Possible bug in COTP CR when connecting to a S7-1500, TPDU is too small (actually 512 bytes). Any Read resulting in `actualPDU + COTPHeader > TPDU` (which is 957 + 3 = 960 > 512) will fail (Socket disconnects).

Maximum Bytes of 491 would work: 509 + 3 = 512 > 512

For reference: [PLC4X](https://plc4x.incubator.apache.org/protocols/s7/s7comm.html)

Increasing the TPDU to maximum of 1024 bytes (sti

[2018-07-03 08:31] mycroes commented on #145
This probably also relates to open issue for PR #133.

We're negotiating 1920 byte PDU, so maybe we should increase to 2048. Also, the _ISO over TCP_ spec states the default is **65355** bytes IIRC, which means we could possibly zero out the PDU size entirely. We should really have access to all supported PLC's to verify these changes though.

[2018-07-03 08:52] rapha-dev commented on #145
You are right, I have made some tests using different sizes up to 2^15, using 2^11 should be sufficient to support max PDU on all available PLCs.

[2018-07-03 10:44] bauerju commented on #128
Hi I also had similar problems with connections:

Before reading or writing to plc (S7 319-3 PN/DP) checked plc.IsAvailable. Which I later found that every call openes a new TCP-connection to the plc. This overflowed the connection limit of the plc. (You could see this in Sysinternals tcpview : Every time when IsAvailable was called a new tcp-Connection was opened). I also got massive System.IO an

[2018-07-03 11:37] bauerju commented on #128
Hi @rapha-dev
Thank you for your reply. I had switched to `IsConnected`. No more faults. I think you should re-use the socket as long it is not closed by the plc.

Jürgen

[2018-07-03 11:50] bauerju opened #147 "Function to create a S7.Net.Types.DataItem from string"
Hi
As reading for multiple items can easy bee done with method  `ReadMultipleVars` which accepts a `List<S7.Net.Types.DataItem>` , a function to create a `S7.Net.Types.DataItem` from a string would be nice.
Eventualy a constructor with string as input could be added. A SetValue which convertes into the used datatype would also help a lot. A new function to `Write( S7.Net.Types.DataItem value)` wou

[2018-07-03 12:02] mycroes commented on #147
The Write function is already there, it takes `params DataItem[] dataItems` as argument, meaning you can pass in one, multiple or an array of `DataItem`s.

I'll take a look at adding the string addressing support, all the logic is already there.

[2018-07-03 12:19] bauerju commented on #147
Hi @mycroes

Thanks, I was blind ;-) Didn't see it.  Does it also have the 20 Items / 222 byte length problem like the
`ReadMultipleVars` method?

Jürgen

[2018-07-03 13:00] bauerju commented on #147
Hi @mycroes
Ok. I'll do the same with the `ReadMultipleVars` : I sort the list and split it in several jobs.
Jürgen.
By the way : what is about strings or byte arrays? We use strings in our plc's (barcode from scanners)
I didn't see a way to read it when I use the `Read(string)` method.  There is no way to decode the string as an Array of sth. nor as an string.
eg:
DB100.DBB2[10] -> Array of 10 by

[2018-07-03 14:05] rapha-dev commented on #147
Actually I have used something like [this snippet](https://gist.github.com/rapha-dev/f3cd66f69e6d141d2842008335db912c#file-readstring-snippet-cs) some time ago. It is not well teste though.

[2018-07-03 15:17] mycroes commented on #147
@bauerju @rapha-dev See [Types/StringEx](https://github.com/killnine/s7netplus/blob/master/S7.Net/Types/StringEx.cs).

Also, try to keep issues clean, if further discussion is warranted move it to a new issue so every issue contains a single problem and can be closed by a single fix.

[2018-07-03 15:44] bauerju commented on #147
Hi @mycroes @rapha-dev
Thanks for your help. I'll open a new issue next time.
Thank you.

Jürgen

[2018-07-03 18:32] mycroes opened #148 "Testers wanted! (S7-200 and S7-400)"
To test the improvements and ensure compatibility we're looking for people with access (or who can provide access) to an S7-200 and an S7-400 PLC. We have access to S7-300, S7-1200 and S7-1500, but testers for those types are welcome as well.

If you have access to an S7-200 or S7-400 and want to help out, please let us know! Programming skills are not necessarily required.

[2018-07-03 20:06] mycroes opened #150 "Inconsistent specification of bit index"
Bit index (or `bitAdr` in it's most common form in S7NetPlus) has inconsistent values applied as default throughout the code. In some case it defaults to `-1`, in others it defaults to `0` (from what I remember).

Proposal, replace `bitAdr` with `bitIndex` and change it's type to `int?` (nullable) and default the value to `null`.

[2018-07-03 20:09] mycroes commented on #132
Fixed by #143.

[2018-07-03 20:09] #132 closed

[2018-07-03 20:11] mycroes commented on #128
@andrea5586 @flyasme Did any of you get to testing this yet? I also opened an issue looking for testers for S7-400 (issue #148), would be very helpful if you guys would be able to test changes (now and perhaps in future as well).

[2018-07-03 20:31] mycroes opened #151 "Release schedule proposal"
A lot of changes have made it into S7NetPlus recently, so I propose we release sooner rather than later.

Proposed for **0.2.0**:
- [x] Fixes invalid TPKT length in request header #152
- [ ] ReadBytesWithSingleRequest cannot read >491 Bytes on S7-1500 #145
- [ ] v0.1.9 PLC ,The remote host forced the closure of an existing connection. #128

Targets for later release (not necessarily all at the sam

[2018-07-03 21:43] rapha-dev commented on #124
Fixed in #125  and #129, may gets obsolete in #137.

[2018-07-03 21:43] #124 closed

[2018-07-04 09:52] rapha-dev commented on #151
@mycroes
We should add PR #152 in next release, have added to proposal.

[2018-07-05 19:05] mycroes opened #153 "Allow override of source / destination TSAP"
During COTP ConnectionRequest a source and detination TSAP are specified. These are calculated from the `CpuType`, but only a single connection can be established (at least from the same host, haven't tested multiple hosts) using the calculated TSAP's (and actually at least S7-1500 doesn't care about the source TSAP at all in this case).

It's possible to define additional S7 connections in TIA po

[2018-07-06 06:05] andrea5586 commented on #128
Hi @mycroes!
I tested your suggestion and it works! Here the snippet I used:
[code]
No connection error and no system fault on CP343!

[2018-07-06 06:18] mycroes commented on #128
@andrea5586 Could you also test current state of kllnine/s7netplus to see if it works here as well? The negotiated PDU size was not a power of 2, so either that breaks it or the fact that it's too large causes issues for the S7-400.

[2018-07-06 06:31] andrea5586 commented on #128
The same snippet tested with current commit (db50a62) of killnine/s7netplus works properly!

[2018-07-06 06:37] mycroes commented on #128
@andrea5586 Thanks for testing! @flyasme Can you also check the current state of killnine/s7netplus to see if it works for you as well?

[2018-07-06 06:50] rapha-dev commented on #112
@udon02
We have improved the s7netplus library significantly and fixed many bugs, can you please test current snapshot?

[2018-07-06 08:09] rapha-dev opened #154 "IsConnected don't check if connection setup is done (Open())"
As title says, running a `Read` (or any read/write action) without prior `Open` will throw a `TPKTInvalidException`.
`IsConnected` should check actual connection by sending a empty PDU (as mentioned in source already).

This behavior breaks old implementations where `IsConnected` actually checks for prior `Open` (before 0.1.8).

[2018-07-07 12:12] mycroes commented on #151
Moved this to the [wiki](https://github.com/killnine/s7netplus/wiki/Planned-releases). I'm not sure what's the best way to manage this, but I'm not a fan of keeping this issue open for months/years.

[2018-07-07 12:12] #151 closed

[2018-07-07 12:28] mycroes commented on #128
I'm assuming this is fixed now (although we can't be sure without feedback from @flyasme), please re-open if the issue persists.

[2018-07-07 12:28] #128 closed

[2018-07-07 12:35] mycroes commented on #17
I'm assuming this issue has long been fixed, but feel free to re-open if it doesn't work in the latest release (**0.2.0** at this time).

[2018-07-07 12:35] #17 closed

[2018-07-07 12:36] mycroes commented on #93
Closing due to missing feedback. Feel free to reopen.

[2018-07-07 12:36] #93 closed

[2018-07-07 13:08] rapha-dev commented on #151
Maybe a project (tab) can be used to organize.

[2018-07-07 13:17] mycroes commented on #151
That sounds like a good idea.

[2018-07-07 13:58] rapha-dev commented on #151
Will create a new project without automation, can be added later when required.

[2018-07-07 14:57] killnine commented on #151
I have created the S7Net organization but haven't moved this project under it. Are you guys onboard with me moving it this weekend (today, perhaps)?

[2018-07-07 15:01] rapha-dev commented on #151
Sounds good, will be back in few hours and can do some tasks.

[2018-07-07 15:50] mycroes commented on #151
Yes, that would be great.

[2018-07-07 19:20] rapha-dev commented on #153
Another approach might be to implement a connection handling, like Siemens Prodave does (it supports 64   concurrent connections to driver). So the library must ensure consistent sends/receives and passing it back to originating connection, could be named _virtual connections_.
Unsure if this is achievable by using async communication to PLC.

[2018-07-07 19:42] rapha-dev commented on #112
Closing this for the moment, feel free to re-open.

[2018-07-07 19:42] #112 closed

[2018-07-07 19:44] rapha-dev commented on #116
Addressed in #156.

[2018-07-07 19:44] #116 closed

[2018-07-07 19:45] mycroes commented on #153
I'm not exactly sure what you mean but I have a feeling it's about ensuring a single request goes out from S7NetPlus at a time. If that's the case, that's pretty easy. I have an `ExclusiveTaskQueue` that runs one call at a time and returns a task to await execution. I have actually wrapped both S7NetPlus and Sally7 in that way.

As far as performance is concerned, I made a test program doing the f

[2018-07-07 20:06] mycroes opened #157 "Snap7 server only supports reading 20 dataItems in a single request"
Snap7 server only supports read of up to 20 dataItems in a single request. I'm not sure why they chose this, but I did email the author of Snap7 to see if I can get an explanation.

Although at first this doesn't really seem to matter much, it doesn't allow us to create unit tests for more than 20 `DataItem`s in a single request. One way to fix this might be to add server support to S7NetPlus or S

[2018-07-07 20:10] rapha-dev commented on #153
Yes, you got it right. Maybe it should stay at the user's responsibility to ensure single usage of s7netplus as it can be done by other libraries (i.e. your ExclusiveTaskQueue).
But the user cannot _forget_ to ensure this if it is already built in. Your performance comparison shows (which is very interesting btw.) no huge decreasing throughput on higher thread count, so it is not a _no go_, indeed

[2018-07-07 20:17] mycroes commented on #153
I will consider adding a concurrent version of `Plc`. I have this planned for Sally7, but in Sally7 I have only a few methods that I need to take care of to enable concurrent use. In S7NetPlus it'll probably be a lot more work because there's a lot of code in different methods that actually accesses the `TcpClient`. You might have already spotted this in Sally7; all of the request buildup and resp

[2018-07-07 20:43] mycroes commented on #153
@rapha-dev For your pleasure: [`ExclusiveTaskQueue`](https://gist.github.com/mycroes/c4f23b056494fa844ad071f1c10782ca).

[2018-07-09 05:57] bauerju opened #159 "Incorrect String handling with vartyp StringEX"
Hi. Writing a string over a daitem, declared as StringEX,  doesn't work.

The first two bytes in then memory, which represents declared and used length are overwriten.
Simple Code:
![2018-07-09 07_54_40-flsng - microsoft visual studio](https://user-images.githubusercontent.com/40683441/42432943-5dc806fa-834d-11e8-9cbc-77d0d8c0be63.png)

DB before writing:
![2018-07-09 07_43_25-clipboard](https://u

[2018-07-09 06:48] mycroes commented on #159
I believe the current code doesn't check the vartype when writing. I'll try to fix it this evening.

[2018-07-09 07:47] rapha-dev commented on #157
So Snap7 limits this in server support? Then we should add server support or, as you proposed, Sally7 (server) as we can get more than 20 DataItems out of PLCs (except 240b PDUs).

[2018-07-09 16:30] bauerju commented on #159
Hi @mycroes
Yes you'r right. I digged a bit into the code. There is no check for  the vartype.

Jürgen

[2018-07-09 16:46] bauerju commented on #147
Hi @mycroes
I tested your added function from commit ecf2052e61a40ce83bda8b92b816f14de9d250b9.

Looks great. Thank you very much. Good Work.

But it lacks the support of arrays and setting other vartypes.
I can create a byte, word, doubleword from string but can't create an int, real (single),  string nor stringEX.
If you could add this in PlcAdress, this would also help when someone Reads or Writ

[2018-07-09 20:33] mycroes commented on #159
@bauerju / Jürgen thanks very much for your feedback, address this issue in PR #162. I'm very happy with the way you provide feedback, so please keep it coming.

[2018-07-10 04:47] bauerju commented on #147
Hit @mycroes
May bee I tell you first for what I need this library at my work:
I wrote a flexible windows service which first connects to a database to read all customizing like plc address and used plc tags. after initialization of the plc connections every tags gets and speaking name (`DB3100.DBX0.1` is eg `LiveBit` ). Some of them get polled (this is controlled in the customizing). Ever change

[2018-07-10 05:35] mycroes commented on #147
Hi @bauerju

I'm in a similar situation regarding data reading (by the way, can't you subscribe to changes with the builtin OPC UA? It's an optional protocol feature, I just don't know if Siemens implemented it). I have a `Register` entity with the following fields: Address (string), Type (string), Length (int). The type is converted to .NET `System.Type` (using `Type.GetType(register.Type)`.

I o

[2018-07-10 06:08] bauerju commented on #147
Hi @mycroes
I use the "dataFEED OPC UA .NET Server & Client SDK for Windows" from Softing. I receive change events. But I can't say If they were created from the plc or from the client itself. I think it has an fallback mode...

I also have a conversion layer where I use a dictionary with connection information: which plc is used how to talk with it, tag address, tag type and value conversion.

To

[2018-07-10 11:17] mycroes commented on #147
@bauerju the more I think about it, the more I feel this is not something that should be addressed by S7NetPlus. You're trying to use a string as object (i.e. combining multiple fields into a single container), which is usually not a best practice in programming. Also often it's way easier to maintain code if the logic is explicit, i.e. just store the VarType in a separate field so that when VarTy

[2018-07-10 12:00] bauerju commented on #147
Hi @mycroes
to your printer example. The tcp stream accepts only string or byte array as input, so the real would be converted to a string. But this doesn't make sense. This would not be enough information for printing. Normally I call a stored procedure in database which creates the byte array for printing. Here I can alos change the encoding of the string to byte array conversion. (some times th

[2018-07-10 12:15] mycroes commented on #147
Well string handling isn't complex, we'll never remove support for that. String addressing of variables is complex due to issues mentioned in this topic.

[2018-07-10 12:48] bauerju commented on #147
Hi @mycroes
Then I have to apologize me. I misunderstood you. You think about removing the support for parsing the address out of the variables (DB1.DBB12).
As long as Read(DataItem[])  and Write(DataItem[]) or something equal is supported ;-) I'll be happy.
Parsing the name to create a DataItem is not a big problem. I could do this externally.

Jürgen

[2018-07-10 12:58] killnine commented on #157
I think @mycroes is saying it'd be easier to add server support to Sally7 right now than to S7N but it doesn't exist yet, correct?

What's the use case for this? Is it causing testing challenges?

[2018-07-10 14:30] rapha-dev commented on #157
@killnine It will affect UnitTests. Currently max. 20 DataItems can be passed to Snap7 server, S7 protocol (and S7-400, 1200 and 1500) can handle more. S7netplus should allow maximum possible DataItems and so a UnitTest should proove that (PDU constraints).

[2018-07-10 15:23] killnine commented on #157
I'm just throwing it out there that it'd be nice to have no external dependencies.... 😄

But maybe that's something for a future release.

[2018-07-10 19:43] mycroes commented on #147
@bauerju So can we close this issue as far as you're concerned? My offer to help you set up a repository will still stand of course (and you could also take a look at [mycroes/ReflEx](https://github.com/mycroes/ReflEx) for a very basic repository to get started quickly).

[2018-07-11 04:14] bauerju commented on #147
Hi @mycroes
Yes I'll close it. Thanks.

[2018-07-11 04:14] #147 closed

[2018-07-11 04:46] bauerju opened #164 "Incorrect String handling with VarType.String"
Writing VarType.String doesn't care about the length of the string.:
![image](https://user-images.githubusercontent.com/40683441/42551073-a44d3c4c-84d5-11e8-915a-fa9540651754.png)

Plc.Write(da) writes full string length into the plc.
![2018-07-11 06_41_22-s7 watch](https://user-images.githubusercontent.com/40683441/42551090-cd0d1382-84d5-11e8-9c1b-4eb71f99d063.png)

Plc.Read() cares about length

[2018-07-11 05:05] bauerju commented on #164
HI
Writing a shorter string, which is shorter as defined, writes only string length.
eg.
string in DB is defined as 8 bytes and value is `ABCDEFGH`
Reading gives correct  `ABCDEFGH`
Writing `0123` ,
string in DB is after write `0123EFGH`.
Should the rest not filled with \0 ? I Think it should be `0123\0\0\0\0`

Jürgen

[2018-07-11 07:47] #159 closed

[2018-07-11 08:22] rapha-dev commented on #145
Merged into `develop`.

[2018-07-11 08:22] #145 closed

[2018-07-11 08:23] rapha-dev commented on #137
Merged into `develop`.

[2018-07-11 08:23] #137 closed

[2018-07-11 13:50] arnoraps opened #165 "Reading bits - length parameter not the same"
If I read bits with this statement:
`var bits = (BitArray) plc.Read(DataType.DataBlock, 1, 1, VarType.Bit, 2, 0);`

Than I get 16 bits in a BitArray.

If I read bits with this:
`var bits = (BitArray) plc.Read(DataType.DataBlock, 1, 1, VarType.Bit, 1, 0);`

I just get a single bit (true/false) With or without casting to Bitarray makes no difference.

[2018-07-11 16:47] rapha-dev commented on #165
@arnoraps
Thanks for reporting.
The first `Read` should read 2 objects (`DB1.DBX1.0` and `DB1.DBX1.1`), will have a look at.

[2018-07-11 17:36] mycroes commented on #164
HI @bauerju. Agreed in full. I will change the implementation to write at most `count` bytes and to pad with `\0`.

[2018-07-11 18:22] killnine commented on #165
In `ParseBytes`, it checks what the number of elements you want to return is...

[code]

What this means is that the return type is a byte array in your first example and a single byte in the second. Not great behavior, though.

[2018-07-11 20:46] #164 closed

[2018-07-12 07:29] bauerju opened #168 "DataItem created from DataItem.FromAddress() fail to write with error 5 in branch: development"
Hi
I'm testing latest development branch:
I created a bunch of DataItems with `DataItem.FromAddress(string)`.

Writing with `Write(DataItem[])` fails with Exception:

InnerException is

Problem seems to be the BitAdr of the DataItems.
It is converted from the result of bitnumber -1 in `PLCAddress.Parse` to 255 in DataItem.BitAdr.
If I manually set this to 0 for all VarTypes excluding Bit. then the

[2018-07-12 07:33] GROMFU commented on #24
Can someone provide a valid code example (structure declaration in c# and how to call a method via s7netplus) in order do show how to handle strings **inside** a structure ? Please :)

[2018-07-12 07:37] mycroes commented on #24
@GROMFU this is currently not supported. If you want to discuss your problem, open a new issue (this issue is about string support in general).

[2018-07-12 18:56] mycroes commented on #168
Hi @bauerju Thanks again for reporting. The bug is related to issue #150 as well because proper (standardized) defaults for `bitAdr` could have prevented this issue. I committed a fix in #169. As far as I could see this works fine now, but I would appreciate if you could test as well. Also, feel free to review the code (you can actually use the GitHub review process for that).

[2018-07-18 23:39] #168 closed

[2018-07-30 13:13] bauerju opened #171 "Read StringEx fails if DB contains rubish"
Today I had an exception while reading a String from the PLC. Someone wrote to the wrong DB. This destroyed the used string length information.
Example: Tag was declared as DB1.DBB0 with DataType StringEx and Length of 4 chars. This takes 6 Bytes in plc. Something like that: 04 04 31 32 33 34.

Someone wrote to DB1.DBB1 a value higher than  4.
In the DB was something like that: 04 05 31 32 33 34.

[2018-07-31 12:40] padde77 opened #172 "Trying to Open() needs a long time"
Hi there,

if a SPS is offline, Open() or IsAvailable() needs a long time (20 seconds).
Is there a way to try this fast?

Thanks
Patrick

[2018-07-31 13:57] bauerju commented on #172
Hi @padde77
You could yourself send a ping with a timeout of 500ms to the ipadress of the plc.
If the ping fails. There is no network communication with the plc.
You can find Ping in namespace is `System.Net.NetworkInformation`. There are several examples in the net.
I use this myself. But I try it 3 times . If they all fail there is no communication.

Jürgen

[2018-07-31 14:01] padde77 commented on #172
Hi @bauerju ,

thanks a lot, this is a good idea. I will try this, but until now I have this solution:

`var task = Task.Run(() => PLC1.IsAvailable);
                if (task.Wait(TimeSpan.FromSeconds(5)))
                    PLC1Online = true;
                else
                    PLC1Online = false;`

Thanks
Patrick

[2018-07-31 19:01] mycroes commented on #172
Hi @padde77 , @bauerju ,

It would also be possible to add a timeout to Open(), allowing fast(er) failure. Also, the `IsAvailable` check is a bad idea, a new connection is opened every time `IsAvailable` is consulted, which probably doesn't even work as expected since only a single connection can be openend with the connection ID used by S7NetPlus.

[2018-07-31 19:10] mycroes commented on #171
Hi @bauerju,

Honesty I think an exception would be in place here, since the data is invalid. Masking that by returning the garbage as string or returning an empty string isn't always a good idea, although I can image we could create a `bool TryConvertFromByteArray(byte[] input, out string value)` on `StringEx` to allow for the behavior you implemented (although I would return `null` when `length

[2018-07-31 19:26] mycroes commented on #171
To amend my previous message, I just noted that the current code returns `""` on `bytes.Length < 2`, so ignore that comment.

[2018-08-01 04:28] bauerju commented on #171
Hi @mycroes
Yes, you are right. An exception should be fired. But only if this is a single read. Just one item.
In the case of a read with multiple items, my opinion is that the dataItem should better get an error flag not to break the whole read.

Jürgen

[2018-08-01 08:48] padde77 commented on #172
Hi @mycroes ,
you are right, but I check my SPS before I run through my functions. That means, if IsAvailable() returns false, I do nothing, not even the Open(), because I do not need this after my IsAvailable().

[2018-08-02 18:56] mycroes commented on #171
Hi @bauerju,

I agree about not breaking the rest of the read, so what I'll implement is to set all the fields that can be set and to throw an `AggregateException` to combine the individual errors at the end of the read action.

[2018-08-03 05:10] bauerju commented on #171
Hi @mycroes
What about this: Change the DataItem to hold an additional byte array. This byte array can only be written or read from plc.
A read or write won't fail from used DataType.
Change the value property to a getter and setter which parses the object according to the used datatype from object to the byte array and back.
You'll get the conversion error only if you try to access the value.

Jü

[2018-08-09 10:41] mbalous commented on #172
Solution for this issue is implemented in PR #174 .

[2018-08-11 12:14] JekRock commented on #148
Hi!
I can help you with testing the library on S7-400

[2018-08-11 12:26] JekRock commented on #148
@mycroes Okay, just text me if I can help!
By the way, I had problems working with S7-400 via this library. The connection is ok, but when I was trying to read or write something I had an exception without an error code. The same is for a similar library in different languages.

[2018-08-14 03:30] NiHangBoy opened #176 "Document is too old"
Since many changes have been applied. Please update you documents. Thanks a lot!

[2018-08-14 18:04] mycroes commented on #176
Hi @NiHangBoy,

This is a known problem. We're happy to accept contributions in this area. I'll see if I can devote some time to get the documentation in shape again on short term. Are there any specific areas you're missing in the current documentation that you'd like to see added?

[2018-08-14 18:06] mycroes commented on #148
@JekRock Did you follow the instructions in https://github.com/S7NetPlus/s7netplus/blob/master/Documentation/Documentation.pdf with regards to setup in TIA portal? I'd guess it should work with S7NetPlus as well as with other libraries when the PLC setup is OK.

[2018-08-15 07:40] JekRock commented on #148
@mycroes we don't use TIA portal. Now we're getting access to plc via snap7 v. 1.3.0 and it works fine with the same plc setup.

[2018-08-16 05:04] thoj commented on #157
This is the same issue I encountered. Tests with real cpus with more than 20 data items work fine if the CPU negotiates a higher pdu size. I suggest that we just use the negotiated pdu size and only enforce the 20 dataitem limit on snap7 tests.

[2018-08-20 16:40] JekRock commented on #148
@mycroes I've tried to read/write data again and everything works fine. Seems like something was not ok with plc.

[2018-08-21 07:39] Zuendelmeister opened #179 "Cannot connect to Siemens Logo 0BA8"
Hi all,

I cannot connect to my Logo 0BA8. As far as I know the logo uses CpuType S7200.
Here is the code:

`
Plc plc = new Plc(CpuType.S7200,ip, 0, 2);
plc.Open();
`
I also tried to vary rack and slot but it did not help.

Here is the exception:

`
S7.Net.PlcException: Couldn't establish the connection to <IP>.
Message: TPKT is incomplete / invalid ---> S7.Net.TPKTInvalidException: TPKT is incomp

[2018-08-21 07:42] mycroes commented on #179
Hi @Zuendelmeister,

Are you able to connect using other libraries? Unfortunately we will probably need some pointers to get this working. If you are able to provide a Wireshark dump of some working communication that should also get us somewhere.

[2018-08-21 07:45] Zuendelmeister commented on #179
Hi Mycroes,

thanks for your fast response! I can connect to the logo using node-red. I try to provide a wireshark log.

[2018-08-21 08:08] mycroes commented on #179
Hi @Zuendelmeister,

Could you try with [Sally7](/mycroes/Sally7) if you can connect with local TSAP 01:00 and remote TSAP 02:00? In a quick search those turned up as connection id's for Logo 8, while those are not being used for S7-200. We also don't support override of connection id's (see #153) at this moment, which could provide a workaround in S7NetPlus.

[2018-08-21 09:28] Zuendelmeister commented on #179
I cannot find a code example for Sally7 and I'm not familiar with TSAP and COTP. Sorry but I don't know how to use it.

[2018-08-21 10:18] mycroes commented on #179
I hope this will do (as example):
[code]
Be sure to replace the IP address with the PLC address.

[2018-08-21 10:47] Zuendelmeister commented on #179
This did not work. I could create a connection with the ConnectionFactory though:

            var con = ConnectionFactory.GetConnection(ip, Sally7.Plc.CpuType.S7_200);
            con.Open();

Opening the connection worked as well. But reading values seems to be very complicated. For reading you need to create an object that implements the IDataItem interface. You even have to write the ReadValue

[2018-08-21 11:34] mycroes commented on #179
@Zuendelmeister Thanks for testing, I was only concerned with the `Open()` call since that's the call that uses the local / remote TSAP. You can use `DataBlockDataItem<TValue>` to read / write data (without having to worry about conversion), but feel free to open issues for Sally7 at the respective [issues](/mycroes/Sally7/issues) page (I *am* the author of Sally7 and I *will* fix your issues if y

[2018-08-21 12:06] Zuendelmeister commented on #179
Thats great, I'll test it out after you pushed the new version.
Thank you so much for your fast help!

[2018-08-22 08:23] admo opened #180 "Badly handled strings"
Hi,
I work on application which communicates with S7-1200 and I've found that strings are handled wrongly by s7netplus library.
I've started with simple case in which I want to write string to the PLC:
[code]
String in PLC has 10 characters. So, `someString` should fit to the PLC. But it does not. After executing above code, PLC reports error, and DB viewer shows rubbish. However, when I read back

[2018-08-22 08:36] mycroes commented on #180
Hi @admo,

If you create a `DataItem` which matches the string variable you should be able to write that using one of the `Write` overloads. The problem is that the data in the PLC consists of the following:
1. **[1 byte]** Reserved length for string
2. **[1 byte]** Length of current string
3. **[n bytes]** String content

Logically we could write the current length and the content only, but if we

[2018-08-22 10:59] admo commented on #180
Hi @mycroes,
I'll try. However, could you give me an example? I'm not able to figure out how to use `DataItem`s.

Last but not least. In my opinion the source code is the best documentation, and this library is developed like well-written book:). The only problem is that the interface promises correct strings handling:).
Could you consider changing it?

[2018-08-22 18:37] mycroes commented on #179
@Zuendelmeister any chance you can fetch the code from #181, build it, and test if it works? There's two queue sizes that are negotiated and S7NetPlus was requesting size `3` for both, while Sally7 requests only `1`. Since concurrency is not supported anyway (not now at least) it's fine to set them to 1.

[2018-08-22 19:07] mycroes commented on #180
Hi @admo,

You can construct a `DataItem` like this:
[code]
This will represents a string _with header_ at **DB100,22** with length 10 (so it will read/write 2 additional bytes for the header).

You can use `Write(params DataItem[] dataItems)` to write the value:
[code]
I might add an overload which supports `params DataItem[] dataItems` for `Read` (in other words, flexible number of arguments) to

[2018-08-23 05:51] Zuendelmeister commented on #179
Hi @mycroes,

thanks for providing the new code. I tried it out but unfortunately the outcome is the same.
TPKT is incomplete / invalid

I tried again different racks and slots like so:
0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2

Do you have a clue what the problem could be?

[2018-08-24 04:45] mycroes commented on #179
@Zuendelmeister I did another comparison and found another difference. If you can fetch the latest code from the pull request you can test if it works. Besides that difference the messages from S7NetPlus and Sally7 are equal, so there's hope it works.

As far as rack and slot are considered, those are used for S7-300, 400, 1200 and 1500 only, not for S7-200.

[2018-08-27 08:11] Zuendelmeister commented on #179
I tried to check it out but I get an error:

git checkout -b develop 4c4dde8aeb046ffdf67cc7707a0320863e851b3b
fatal: reference is not a tree: 4c4dde8aeb046ffdf67cc7707a0320863e851b3b

So I copied the PLCHelpers.cs into my project from earlier, built it and ised the dll file. Unfortunately the outcome was still the same with the same error.

[2018-08-27 18:50] mycroes commented on #179
@Zuendelmeister You need to fetch the commit first:
[code]
Make sure to use the full commit hash for this, not the short hash. Also, `-b` is to create a new branch, `-B` allows for a reset of branch to the specified commit.

Anyway, I made some additional changes (still in #181). I was expecting the issue to come from the CommunicationSetup part, but perhaps it is originating in ConnectionRequest

[2018-08-27 18:58] mycroes commented on #179
Added a third commit to fix the unit tests, you don't really need that for testing though.

[2018-08-29 08:02] Zuendelmeister commented on #179
I'll take a look as soon as I can.

[2018-08-30 19:03] gpresland opened #182 "Error Writing short.MinValue to INT DataBlock."
*Title says _writing_, but the issue is _reading_.

Reading a 16 bit INT (C# short)  to the PLC with a value of `short.MinValue`  results in the following error:

[code]

Writing `short.MaxValue` does not have any issue.

[2018-08-30 19:28] mycroes commented on #182
Hi @gpresland,

Thanks for reporting this issue. Could you provide the stack trace of the exception as well? `Types.Int` doesn't seem to have any issue dealing with `short.MinValue` (both to and from byte-array), so I'm curious what method you're using.

[2018-08-30 20:14] gpresland commented on #182
Hi @mycroes

Looks like I made a mistake with the title; the issue is actually _reading_ the value `short.MinValue` from a `INT` DataBlock.

This is with a S1200.

You can reproduce the issue with the following:

[code]

Which results in:

[code]

This is occurring because the read returns `32768` instead of the expected `-32768` which is present on the PLC.

[2018-08-31 05:46] mycroes commented on #182
@gpresland The error is due to your `Convert.ChangeType` usage. The result of the `plc.Read` call is a `ushort`, with value `32768`. If you cast this to `short` it will work fine. Adjusted example:

[code]

[2018-08-31 05:46] #182 closed

[2018-08-31 12:14] gpresland commented on #182
Changing the code to your example results in an equivalent error:

[code]

The value shouldn't be changing from a `short` to a `ushort`, as a `short` is present on the PLC. The value `-32768` is present on the PLC and reading that DataBlock shouldn't result in a different value.

[2018-09-03 20:45] mycroes commented on #179
HI @Zuendelmeister,

I found GitHub documentation that states another option (I'm not sure why you're getting the error though, but I can't help it):
[code]
Could you give this a spin and see if that works? It should give you the latest commit in this PR.

[2018-09-05 07:06] Zuendelmeister commented on #179
I don't know why it does not work:
$  git fetch origin pull/179/head:develop
fatal: Couldn't find remote ref pull/179/head
(same for 181)
Can you provide a new branch with this commit? In this case I could checkout this one.

[2018-09-06 06:12] Mallowan opened #183 "Not an issue, I guess. Just a question."
Hello,
It's getting to be ridiculous, however, I always get in trouble when I'm going to add a DB which I want to read.
For example, I have DB1 that is being read excellently. I added DB2 (did everything in the same way). Tried to read. I've got a strong sense, as though being read DB is not existing at all.
At the same time DB1 is being read normally.

[code]
[code]
private void RefreshValues()

[2018-09-06 06:26] mycroes commented on #183
Hi @Mallowan,

Perhaps you have **Optimize block access** turned on for DB2? I recommend reading a single variable at a known address, but honestly it shouldn't matter much since we're just reading bytes. If the type in C# doesn't match the type in the PLC, you'll just get garbage data, but it doesn't really change the ability to read or write values.

[2018-09-06 06:33] Mallowan commented on #183
Hi mycroes,
I studied "Optimize Block Access" feature, like nobody else. ) That's not a culptit!

[2018-09-06 10:13] noumanqaiser opened #184 "Question if Library works on Siemens S7-410-5H PLCs"
Hello Everyone,

Are you aware if this library would work with a Siemens S7-410-5H PLC.

Thanks & Regards,
Nouman

[2018-09-06 10:24] aetasoul opened #185 "TPKT error trying reading/writing merker value"
Hi all,

I'm trying the c# library on visual studio 2017, I have installed it via nuget packages.
I'm getting this error when I run my application:

The cpu is S7-300.

This is my code:
[code]

I'm getting the error on: plc.Write("M20.0",true)

If I comment the line I get the error on the reading command.

On the PLC I have only the OB1 with one segment.

|-----|M20.0| -------(M20.1)---

Thanks fo

[2018-09-06 10:54] jerko1979 commented on #185
Hi,
Maybe you should check your write permission on CPU settings?
good luck!
    četvrtak, 6. rujna 2018. 12:24:24 CEST, korisnik aetasoul <notifications@github.com> napisao je:

Hi all,

I'm trying the c# library on visual studio 2017, I have installed it via nuget packages.
I'm getting this error when I run my application:

TPKT is incomplete / invalid

The cpu is S7-300.

This is my code:

usin

[2018-09-06 10:55] jerko1979 commented on #185
Hi,
Maybe you should check your write permission on CPU settings?
good luck!

[2018-09-06 11:00] jerko1979 commented on #185
Also confirm that your CPU is mounted on Rack = slot 2 in HW coinfig?

[2018-09-06 11:13] mycroes commented on #184
@noumanqaiser I don't see any reason why it wouldn't work, so the best way to find out is to try.

[2018-09-06 11:26] mycroes commented on #185
@aetasoul I'm not sure if anyone ever tested writing memory bits, if I look through the code it seems probable that it's broken (the vartype that is parsed from the address doesn't seem to be used anywhere). Can you verify that you have successful communication (read/write) in DB areas?

[2018-09-06 14:32] Mallowan commented on #183
@**mycroes**,
I did some It seem I've found where a library stumbled

[2018-09-06 20:30] mycroes commented on #183
HI @Mallowan

I did some study on that (now I would say an issue).
In other words, it seems I've found out where the library failed. For some reason the library doesn't like to read Integer itself or Integer in company with Reals. An usage of Int halts completely reading process, and there are not any exceptions there.
Compare both screenshots (above). If I change in DB2, in third line, an Int to

[2018-09-07 05:31] Mallowan commented on #183
![db2_0709](https://user-images.githubusercontent.com/37699980/45200216-73989800-b278-11e8-9498-470d0ae3e756.png)

[2018-09-07 06:04] bauerju commented on #183
Hi @Mallowan
Im my opnion your class should be changed:
instead of
public int M_2 { get; set; }
you should use
 public Int16 M_2 { get; set; }
or
 public short M_2 { get; set; }

Jürgen

[2018-09-07 06:13] Mallowan commented on #183
Juergen,
I will try that. Hope it helps!

[2018-09-07 06:42] bauerju commented on #183
Hi @Mallowan
No I'm not the developer of this library. Just a happy user.
You need to use the exact type of variable corresponding to the used type in the DB.
S7netplus just reads bytes from the plc and maps it later to to the used variables.
So if the types don't match, you'll get an different offset.

Jürgen

[2018-09-07 06:52] Mallowan commented on #183
No I'm not the developer of this library. Just a happy user.
You need to use the exact type of variable corresponding to the used type in the DB.
S7netplus just reads bytes from the plc and maps it later to to the used variables.
So if the types don't match, you'll get an different offset.

Jürgen

Yees, you are right. I did check-up on your advice. By default VStudio offers **Int** as Int(32) so

[2018-09-07 07:44] aetasoul commented on #185
Hi,

This is my HW configuration:
![rack_slot](https://user-images.githubusercontent.com/15131692/45205176-b14dee80-b281-11e8-80e8-ff725c34ff0a.png)

And this is the DB1 that I create for test:
![db1](https://user-images.githubusercontent.com/15131692/45205205-c0cd3780-b281-11e8-9423-27c27502c1c9.png)

I have changed my code like this:

the error is the same:

@jerko1979 the racks and slot are rig

[2018-09-07 08:05] jerko1979 commented on #185
![image](https://user-images.githubusercontent.com/37616873/45206570-95e4e280-b285-11e8-9a71-51d9ed2e41ab.png)

[2018-09-07 08:07] jerko1979 commented on #185
![image](https://user-images.githubusercontent.com/37616873/45206661-db091480-b285-11e8-9770-cf7868ab1406.png)

[2018-09-07 08:09] jerko1979 commented on #185
![image](https://user-images.githubusercontent.com/37616873/45206737-0986ef80-b286-11e8-8b50-ae754eede5e8.png)

[2018-09-07 08:13] aetasoul commented on #185
I have only the keyswitch settings checked.

No protection

![protezione](https://user-images.githubusercontent.com/15131692/45206896-929e2680-b286-11e8-96a9-c290244eed97.png)

[2018-09-07 08:18] aetasoul commented on #185
This is the project, just dearchive it.
If you want you can take a look!

[Testcommunication.zip](https://github.com/S7NetPlus/s7netplus/files/2360194/Testcommunication.zip)

Thanks!

[2018-09-07 08:26] mycroes commented on #185
@aetasoul  I think you might have an error in the `Write` call, I think you need to pass a `bool` instead of `1`, although I'm 100% confident it's a problem.

[code]

Could you perhaps try to read just an int or dint? Also, make sure the exception is originating from the `Read` or `Write` calls, there have been issues with opening connection as well with some PLC's.

[2018-09-07 08:29] mycroes commented on #185
https://www.mesta-automation.com/how-to-write-a-siemens-s7-plc-driver-with-c-and-sharp7/

@jerko1979 I don't think you're really helping @aetasoul by pointing him to another library (where I'm afraid the support will be far worse than here, since the developer is a C programmer that ported his code to C# following C conventions). You provided some good advice with regards to the settings, we shoul

[2018-09-07 08:30] aetasoul commented on #185
I found the problem.

on this code if I remove the "if" statement for check if the plc.IsAvaiable && plc.IsConnected  can write the memory bit 20.0 and read from the memory bit 20.1

the working code is this:

[2018-09-07 08:31] jerko1979 commented on #185
Well Done ! 👍

[2018-09-07 08:35] aetasoul commented on #185
It also works for DB.
So you can read/write memory bit and DB.

Thanks all for the help!

If you need any help to test the library, or improve it tell me. I'm interested in it and I have this cpu: 315-2 PN/DP, 315-2 DP, S7-1500, S7-1200, ET200SP, s7-314, 316-2 DP, 317-2 DP

[2018-09-07 09:16] jerko1979 commented on #185
I guess methods: IsAvailable&&IsConnected  are not complete :
public bool IsAvailable
        {
            //TODO: Fix This
            get
            {
                    return Connect() == ErrorCode.NoError;
            }
        }

        /// <summary>
        /// Checks if the socket is connected and polls the other peer (the PLC) to see if it's connected.
        /// This is the variable

[2018-09-07 09:40] #185 closed

[2018-09-07 09:42] mycroes commented on #185
@aetasoul @jerko1979 Thanks to both of you. The `IsAvailable` method has been broken in recent versions, I'll make sure a separate issue covers this.

[2018-09-07 09:46] mycroes commented on #148
@aetasoul wrote in [#185](https://github.com/S7NetPlus/s7netplus/issues/185#issuecomment-419365918)

[2018-09-07 10:37] mycroes commented on #183
@Mallowan

I'm not sure why you keep thinking for others. I have read your issue title, that doesn't change a thing about my comment. And with regards to reading titles, *you* are posting this in the issue tracker for S7NetPlus. I honestly think you are being disrespectful (by actions, and sometimes slightly by what you type because you don't consider the position of the person you're addressing)

[2018-09-07 11:35] mycroes opened #186 "`IsAvailable` breaks PLC connection"
As reported in #185, Using `IsAvailable` causes the connection to no longer work, thus leading to false errors in the next call that uses the connection.

[2018-09-17 11:19] Zuendelmeister commented on #179
Anything new that I can try out?

[2018-09-20 12:44] antonsimola opened #187 "Request: Support DATE_AND_TIME complex type"
Hello,
I should read DATE_AND_TIME complex type:
http://www.plccenter.cn/Siemens_Step7/Zusammengesetzte_Datentypen.htm
would be nice if the library supported reading these into C# DateTime, or does the library have some way of doing this already?

[2018-09-20 18:10] JamesHR opened #188 "S7200 - Connection"
Hi, I have an issue trying to connect to S7200.

The S7200 PLC does not have a IP Address, however exist the CP 243-1 module that provides this protocol, but I don't have it.

Is it possible to make the connection using a PPI protocol using a Siemens USB PC adapter?

[2018-09-20 18:31] mkEGTZ commented on #188
----

I´ve been having the same Issue,  some of the information around internet shows that, this kind of PLC is Obsolete.

I hope to solve this ASAP without the CP 243-1.

Does anyone have some information about it?

I´ve been looking forward for any comment.

thnx

[2018-09-20 19:27] mycroes commented on #179
@Zuendelmeister sorry for my absence on this issue. I was wrong with my fetch command regarding the **179**, that of course should have been **181**! It's strange that it doesn't work, but you can also download the commit as ZIP: [0d99f8fa...zip](https://github.com/S7NetPlus/s7netplus/archive/0d99f8fa2f4250cae2bda7511bed38a3aad4d814.zip). If you can confirm it works I'll merge that PR and do a new

[2018-09-20 19:43] mycroes commented on #188
Hi guys, I'm no expert on Siemens hardware at all, so I had to look up what I could find about the PPI protocol. Unfortunately I could only find a LabView implementation, but I can't read the files (requires LabView, of course) to see what the communication is like. From the filenames I suspect the S7 protocol might be used there as well, which means that it might be possible to apply large parts

[2018-09-20 19:48] mycroes commented on #187
HI @antonsimola, It's not there yet, I'll try to add it right away.

[2018-09-21 07:49] mycroes commented on #187
Started on it yesterday, got a support call so had to stop... Plan is to add it this evening. Thanks for adding the documentation link BTW, makes life easy!

[2018-09-21 20:42] mycroes commented on #187
@antonsimola Can you test PR #189? I can't get it to behave _exactly_ as in the documentation, because they're able to set day of week to Thursday for december 25, 1993 (which is a Saturday). I don't consider this a bug. Also, I couldn't find the 4th millisecond digit (again, not a bug on my side :wink:).

[2018-09-21 21:52] antonsimola commented on #187
Thanks, I will check if I have time to get PLC tomorrow. Latest on Monday I can test. I'm newbie in PLC programming, maybe I'm missing something but I can't find BCD conversion in your commits, is it not needed? Cos I remember reading default 1990-01-01 date from PLC and it was returning for example  for byte[0]=144 (so bcd  /hex 90)

[2018-09-22 10:54] mycroes commented on #187
I don't do PLC programming at all :wink:

It's definitely not there in the code (although there's no BCD conversion anyway, S7 and x86 store numbers in the same way on byte-level, but I don't do hex translations either). It would be pretty awkward if they would do such a conversion, although I've seen even stranger things in Mitsubishi communication protocols. If it doesn't work, can you provide s

[2018-09-24 08:40] Zuendelmeister commented on #179
@mycroes
thanks for providing the zip file. I cant get it to build the dll though.
The InitializeSourceControlInformationFromSourceControlManager seems to be missing.
![image](https://user-images.githubusercontent.com/14317353/45943335-280b1b80-bfe6-11e8-9b4a-02478126fb1c.png)

[2018-09-24 08:55] mycroes commented on #179
What VS version are you using? The project is using the newer SDK style .csproj format, which I guess is only supported by newer VS 2017 versions.

[2018-09-24 09:08] Zuendelmeister commented on #179
I'm using a quite new Version
![image](https://user-images.githubusercontent.com/14317353/45944351-2c393800-bfea-11e8-9e9c-d6192dba529b.png)

[2018-09-25 07:52] Zuendelmeister commented on #179
Can you maybe send me the dll for netstandard2.0? This way I can try it out.

[2018-09-25 20:18] mycroes commented on #187
I see what it's about now. Digits are encoded into 4 bytes per digit, which still seems stupid to me, but I guess there must be some reason for that. I'll update the PR to address this.

[2018-09-25 21:08] mycroes commented on #187
Updated #189 with BCD support, let me know if it works.

[2018-09-25 21:46] admo opened #190 "Addresses are not aligned in case of custom type in class"
Hi,
I've found that in file s7netplus/S7.Net/Types/Class.cs when class has property of type bool, then the numBytes are aligned in every case, but not in custom type.

This leads to read wrong addresses for properties of nested class. E.g.
[code]
In above case `BoolProp` will be read from address `DB0.DBX0.0`, and `Int16Prop` from `DB0.DBW0`, but should be read from `DB0.DBW2`.

Please see:
https:

[2018-10-01 15:11] Zuendelmeister opened #192 "ErrorCode Reason => Documentation"
Hi all,

I need more information about the error codes after trying to connect to the cpu (plc.open).
Is there a way to get information why I get ConnectionError?
Thanks!

Best regards,
Zuendelmeister

[2018-10-02 09:09] #192 closed

[2018-10-06 03:03] khangtd46 opened #193 "WriteClass is not working right! Help!"
Hello everyone,
Im trying to make the method writeclass work but it does not look good, in the pictures are my C# code for the write class, and my set up for data block in my PLC.
The readclass is working good, however when i use the writeclass, the value is sent to the PLC but it looks like the program stops forever, no exception is thrown.
Can someone help me to solve this?
Thank you!
![image](h

[2018-10-10 12:36] Zuendelmeister commented on #179
Anything new?

[2018-10-10 14:52] ccirstea opened #194 "Connection issue - Waiting for COTP connect confirm"
Hi all,

     I have been using the S7 driver v 0.1.5 until now to connect to a S7-300 PLC. Sometimes, but not all the times, on connect I used to get ErrorCode.IPAddressNotAvailable from Open().
     I recently updated to the latest version 0.3.0 and now, sometimes I get an exception with the following message: "Waiting for COTP connect confirm".
     The interesting part with both versions is th

[2018-10-10 15:01] ccirstea commented on #135
Hi guys,

     I seem to be facing this issue with the ReadClass(..) method that you have mentioned.
     In my c# program I read 19 registers using ReadClass(..). They are not complicated and do not contain may variables, mostly several bools each (as they are directly linked to sensor outputs).
     I think it may be ugly to use Read() for each var of the register as this implies multiple calls

[2018-10-10 15:17] mycroes commented on #179
Hi @Zuendelmeister,

Sorry for my late response. You should be able to download the [AppVeyor build of the PR](https://ci.appveyor.com/api/buildjobs/7ns15bkogy5fm387/artifacts/artifacts%2FS7netplus.0.4.0-b0011.nupkg), you can just extract it to get at the DLL's.

I'm really interested whether this works. Also, I'd be very happy to help you out with this, but not being able to fetch the changes cou

[2018-10-10 15:19] mycroes commented on #135
@ccirstea Are you actually having issues with the order of items read? There could be issues with offset calculation, but my main concern is you can't easily see the calculated offsets either... I intend to fix that at some point, not sure when though.

[2018-10-10 15:34] ccirstea commented on #135
@mycroes I am having issues with a boolean directly connected to a break the beam sensor. The Db class looks like this:

    [Location(32)]
    public class PlcRevolverStatusDb
    {
        public bool Initialized { get; set; }
        public bool InputSlotAbsenceState { get; set; }
        public bool OutputSlotAbsenceState { get; set; }
        public bool ProcessingAreaAbsenceState { get; set;

[2018-10-10 18:32] mycroes opened #195 "Reading class from PLC"
@mycroes I am having issues with a boolean directly connected to a break the beam sensor. The Db class looks like this:

[code]

ProcessingAreaAbsenceState directly connected to the sensor sometimes reads opposite to the presence. Could the ushort influence this faulty read?

_Originally posted by @ccirstea in https://github.com/S7NetPlus/s7netplus/issues/135#issuecomment-428620299_

[2018-10-10 18:33] mycroes commented on #135
@ccirstea Moved to #195, please add the code you use for reading the class there.

[2018-10-10 18:41] mycroes commented on #194
HI @ccirstea,

That's a strange problem. The relevant code in S7NetPlus is as follows:
[code]

This means we actually receive data, it just doesn't match what was expected. Do you have this issue with multiple PLC's and different network cards, or just with a single PLC?

I'll create a PR to add the received information to the exception, that way we should be able to get a basic idea of what's hap

[2018-10-10 18:47] ccirstea commented on #195
I read the register and others each 100 ms

[code]

where mCommClient is a wrapper over S7Net

`public class Sharp7Client
    {
        private Plc _plc = null;
        private object _lock = new object();

        public bool IsAvailable
        {
            get { return _plc.IsAvailable; }
        }

        public bool IsConnected
        {
            get { return _plc.IsConnected; }

[2018-10-10 18:53] ccirstea commented on #194
There is just one PLC, a S7-300. I do not have the opportunity to test for other models unfortunately, but for this it does occur.

[2018-10-11 10:32] #190 closed

[2018-10-15 15:28] ccirstea commented on #195
@mycroes . I understand that there are issues with ReadClass, so my question is, which is the most reliable way of reading a DB from the PLC using S7 in your experience?

Thank you,

[2018-10-16 08:48] Zuendelmeister commented on #179
Ok, I retried with the new dll but the outcome is the same.
Message: TPKT is incomplete / invalid ---> S7.Net.TPKTInvalidException: TPKT is incomplete / invalid

[2018-10-20 09:01] Mallowan commented on #195
Hi there,
what about to show screenshot of other side? I mean DB that you are trying to read.

Mallowan

[2018-10-30 11:47] antonsimola commented on #187
So sorry it has took a while. It seems I cannot get test PLC anytime soon. But I can confirm that my implementation has been in production for a month and it seems fine from Siemens PLC dev environment as well. I code reviewed your stuff and it seems similar. I think this should be merged, maybe with mention of experimental support if necessary.

[2018-10-31 15:11] keeepcool commented on #195
Good evening,

I'm also having a little problem with writing a class, readClass works fine and all the values match, but writeClass will hang my program even with a try catch block, what is interesting is that the values are updated in the PLC, but writeClass never returns and so the program must be terminated.

[2018-10-31 16:06] mycroes opened #197 "WriteClass never returns"
Good evening,

I'm also having a little problem with writing a class, readClass works fine and all the values match, but writeClass will hang my program even with a try catch block, what is interesting is that the values are updated in the PLC, but writeClass never returns and so the program must be terminated.

_Originally posted by @keeepcool in https://github.com/S7NetPlus/s7netplus/issues/195#

[2018-10-31 16:08] mycroes commented on #197
@keeepcool Please provide a minimal sample of the failing program. You can also do that as a separate GitHub repository, I'll take a look as soon as the information is here.

[2018-11-08 06:36] bauerju opened #198 "Reading multiple vars and a string with odd length fails"
Hi
When I read multiple vars and one of the vars is a StringEX with an odd legth, I get an exception:
 PLC communication failed with error WrongNumberReceivedBytes

But this only occurs if the string is not the last item to read.

I found the problem in class Plc (file PlcHelpers.cs) in method **ParseDataIntoDataItems**
The offset caculation is only adjusted for vartype byte or bit. I added String

[2018-12-14 04:43] 349516385 opened #200 "Why gc.collect necessary when reading s7-300?"
My code like this:

In a winform timer of cycle 35ms
{
        Plc plc = new Plc(CpuType.S7300,"192.168.1.1",0,2);
        plc.Open;
        plc.ReadStructure;  // omitted the parameters
        plc.Close;
        //  plc = null;
       // GC.collect();
}

I found than I can read the plc  74 times at most without "GC.collect".
After 74 timers  it will report errors: TPKT is not connected (almost l

[2018-12-14 23:18] mycroes commented on #200
GC.Collect() shouldn't be necessary at all. My guess is some other part of the code is causing issues, but without the code I can't be sure. If you can provide the code (preferably as a GitHub repository) I will take a look. It would also help if you'd put the actual exception message in the issue (the message you gave is a mix of exceptions which could probably point to half of the exceptions in

[2018-12-15 09:17] allatrue commented on #200
So you create every 35 ms a new instance and make a new connection to PLC? Why not to reuse one instance?

[2018-12-17 13:49] Candogru opened #201 "Bug on 0.7 bit while using asynchronous write method"
I am developing a windows form with asynchronous methods. The below code write true or false at first 7 bit of DB as 0.0, 0.1....0.6
But when I try to write true at 0.7, nothing chance on the face of PLC (it means it is already false on PLC). It doesn't throw any exception on Visual Studio so that means the code wrote true to that tag.
When I chance the adress of that tag to 1.0 or 1.1, on the PLC

[2019-01-03 13:04] noumanqaiser opened #202 "Donation possibility"
HI,
I understood that there is no paid license applicable for using this library in a commercial environment. Can you confirm this one, Even if that is the case, can you confirm if there is someway I can donate to keep this project going/motivation.

Thanks & Regards,
Nouman

[2019-01-03 23:51] mycroes commented on #202
Hi Nouman,

First of all thanks for bringing this up, it's really nice of you to consider this option. Honestly, I can't really imagine donations would make up for the time invested. I don't see that as an issue though, I'm just really short on time at the moment.

As far as support goes, I'm willing to help anyone with specific issues. Some open issues require better diagnostic capabilities in S7

[2019-01-04 14:50] leyestd opened #203 "How to read the value of M100"
Please help me.

[2019-01-07 02:38] #203 closed

[2019-01-16 09:21] piayping opened #204 "TPKT is incomplete / invalid exception"
I set up three timers, two for writing and one for reading. When I read and write S7-1200 at the same time, many “TPKT is incomplete / invalid” exceptions are thrown，Almost all read actions throw  exception

[2019-01-16 12:16] mycroes commented on #204
Connections are not suitable for concurrent use. If you want to read and write from multiple threads (which you probably get from the multiple timers) you need to use a sychronization mechanism (locking, queing).

[2019-01-19 06:32] piayping commented on #204
Thanks a lot for your advising! I use ConcurrentQueue and Synchronization to solve my problem.

[2019-01-19 08:48] #204 closed

[2019-02-05 18:53] DavoodRm opened #205 "Connect S7 plc to Cp340 with s7netplus"
hi
is there any  way to  connect plc via cp340 ASCII driver and revive  data from com port in pc

[2019-02-09 08:12] tsheyu opened #206 "How to let function "ReadStruct" to support Array using Reflection"
Hi, Michael：
            in "S7.net\\Types\\Struct.cs"
[code]
I think in the Default case also need a function
[code]

Functions "FromBytes", "ToBytes", "GetStructSize" are affected. Please have a look~~~

[2019-02-09 08:24] tsheyu opened #207 "How to use Relection to let function “ReadStruct” to support array"
Hi Michael:
          I am a Rookie in C# Programming, Right now I have a problem I want function "S7.net\Struct.cs\GetStructSize“ to support array data. So I rewrite the function as "GetStructSize<T>(T data)", because only in this way I can get the length of the array member.  I have a problem to invoke Generic function using reflection. Could you have a look in the case default?
[code]

[2019-02-20 15:56] frustis opened #208 "I have problems connecting to an S7 200"
My code:

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using System.Windows.Forms;
using S7.Net;

namespace WindowsFormsApp1
{
    static class Program
    {
        /// <summary>
        /// Punto de entrada principal para la aplicación.
        /// </summary>
        [STAThread]
        static void Main()
        {
            // Application.E

[2019-03-01 01:47] StarRainFox opened #209 "Version 0.3.0 (IsConnected) usage"
Hello, I found a problem when using the version 0.3.0. The problem is that the property (IsConnected) of the object is always (true) in (New PLC), so I don't know when to use (Open) method and (Close) method.

[2019-03-02 21:07] mycroes commented on #209
Hi @StarRainFox,

This is a known issue. Join in on the discussion on #154 if you have something to add. For now, I'll close this as duplicate.

[2019-03-02 21:07] #209 closed

[2019-03-02 21:13] mycroes commented on #207
HI @tsheyu,

The issue with arrays is that they're not of fixed length (in C#). The closest you can get to defining sizes for arrays is by using attributes, those could then be read out by S7NetPlus as well to use the desired size.

For now you can use DataItems to manually mimick the struct you have in PLC while retaining the ability to read multiple items in one go.

[2019-03-02 21:20] mycroes commented on #208
Hi @frustis,

At first I saw the PLC type in your code didn't match the issue title, but since you corrected that I'm assuming you are using the right values now. Unfortunately your issue is hard to debug. The PLC refuses the connection, the reason is unclear. I'm guessing it has to do with some data in the Connection Request as sent by S7NetPlus, but what part I don't know. There are more open is

[2019-03-06 19:33] rashandan opened #210 "Wrong size returned by Struct.GetStructSize on some structs"
In example:
`struct Bridge
{
  public float float1;
  public bool bool1;
  public bool bool2;
  public bool bool3;
  public bool bool4;
}`
size of abowe structure must be 5, but when reading by ReadStruct, it spawns exeption.
Inside this function, call to Struct.GetStructSize returns 4.
I believe there must be something like `return (int)Math.Ceiling(numBytes);` instead of `return (int)numBytes;`

[2019-03-07 23:37] tsheyu commented on #210
I also find this problem before. Since in my program scenario, the struct contains struct. So the size must be Even -aligned.
In your case  the size should be 6 bytes. U can open the data block to check the real size.

If it is confirmed, At the end of the function  "Struct.GetStructSize" add the code like
` numBytes = Math.Ceiling(numBytes);
                    if ((numBytes / 2 - Math.Floor(numB

[2019-03-07 23:56] tsheyu commented on #207
Hi mycroes:
Attribute is OK, but the initialization still needs declaration and the code will be unsafe.
Two weeks ago, I make do by using "class" instead of "struct" to solve this issue. although more codes have to be written for class initialization, but the code is managed so I think it is better to use class

[2019-03-10 10:15] EFikir opened #211 "PLC.Close Method doesn't diconnect PLC"
Hello,

When I try to diconnect plc by using PLC.Close() method, I realize that PLC is also connected after this method by checking PLC.IsConnected (it returns true)

Thanks in advance

[2019-03-10 15:27] mycroes commented on #211
Hi @EFikir,

Unfortunately the IsConnected property has been stubbed to return true (exact reason unknown to me), so the error is only with that property. The connection will actually be closed on `plc.Close()`.

[2019-03-10 15:27] #211 closed

[2019-03-20 00:34] #207 closed

[2019-03-31 10:12] kivannc opened #213 "S7-300 Writing value to Datatype Memory sets value to zero"
I can read the values but when I try to write a new integer value it always sets the value to zero in the plc. I tried both write methods. Address is MW250

`var convertedValue = Convert.ToInt32(valueFromAbove);`
`Instance.Write(DataType.Memory, 0, 250, convertedValue);`

[2019-04-02 06:08] mycroes commented on #213
Hi @kivannc,

Could you also show the part where you're reading the values? I personally have no experience with writing memory datatype, so I'd have to look in the code for reasons why it wouldn't work.

[2019-04-02 13:28] breeze393 commented on #148
Hello, I have problems with writing bits to s7-400 plc.
It returns "write failed with error 33153".
Reading the same bits - ok.
Tried to write int - ok.
Also tried with simulation on PLCSIM, Winlc - everything is ok.
The pc where I tried to connect to plc also has Simatic.NET software with active connections.

Any ideas?

[2019-04-02 14:10] kivannc commented on #213
After lots of try and searching I finally figured it out. You need to cast to value to UInt16. Then it started writing to plc

`var convertedValue = Convert.**ToUInt16**(valueFromAbove);`
`Instance.Write(DataType.Memory, 0, 250, convertedValue);`

[2019-04-02 14:10] #213 closed

[2019-04-11 16:46] MarcOnFire opened #214 "S7.Net.Types.Boolean.ClearBit() not working"
Hi,
I'm not sure 100% but it seems that ClearBit is not clearing bit, actually I'm using a custom function with:
    `return (byte)(value & (~(1 << bit)));`
instead of
    `return (byte)((value | (~(1 << bit))) & 0xFF);`

Thanks a lot for all your work on this library.

[2019-05-15 15:30] babinc commented on #179
Any update on this issue? I am having the same problem with a 300 series plc. Sally7 works.

[2019-05-15 17:57] mycroes commented on #179
Hi @babinc, is there any chance you could try the code from the develop branch? The issue was fixed in the end, but Sally7 actually still doesn't work for S7-200, because the major issue there seems to be the requested PDU size (which I should probably change in Sally7 as well...).

I didn't get to releasing the changes yet, but if develop does work for you (with S7-300) I'll do a release this wee

[2019-05-17 07:06] tomaskrutak opened #215 "Sometimes Value is not written to DB"
Hi,
I am connected to PLC and writing to DB using method :
_S7Plc.Write("DB100.DBW0", 1);

Write function works most of the time but once in around 6 write attempts write fails. So DB value is not changed.
Do I miss some PLC setting or what can be reason?
Thank you
Tomas Krutak

[2019-05-17 19:53] mycroes commented on #215
Hi @tomaskrutak,

I have experienced similar issues on multiple occassions (with Sally7 and Siemens' own SAPI-S7, I don't actually use S7NetPlus myself). There is some datablock property specifying data direction. I believe by default it's set to in/out, which causes this issue. I'm sorry this is a bit vague, I'm not a PLC programmer. Let me know if you can find the setting, otherwise I can ask th

[2019-05-20 05:58] tomaskrutak commented on #215
Hello,
Thank you, but Im not aware there is such setting on shared DB if its in or out...
______________________________________________________________

Hi @tomaskrutak <https://github.com/tomaskrutak>,
I have experienced similar issues on multiple occassions (with Sally7 and Siemens' own SAPI-S7, I don't actually use S7NetPlus myself). There is some datablock property specifying data direction.

[2019-05-20 12:28] mycroes commented on #215
Hi @tomaskrutak,

In the attached image you can see variable *IN1* and *IN2* declared specifically as *Input*. If they would have been declared as *InOut* that often results in the written values not received in the PLC.

Regards,
Michael

![image](https://user-images.githubusercontent.com/122017/58021487-4bea1700-7b0b-11e9-981d-07838bc46a2a.png)

[2019-05-20 19:24] simotion1 opened #216 "Real industry application on s71214"
Dear all;
I downloaded last version of s7netplus from nuget. We developed an application reading and writing to an s71214 on a real industrial application 24h 7 days so we need that is reliable.
Does anyone use s7netplus on real industry?
Is it completely open source?

We solved the open() delay, by opening a new thread every time that we use open() method.

Thanks

[2019-05-20 20:10] mycroes commented on #216
Hi @simotion1,

It should definitely work. Also, it is fully open source. On the other hand I must admit I don't use S7NetPlus (must sound awkward since I'm the current maintainer). I developed [Sally7](/mycroes/Sally7) to my own needs, which actually is industrial 24/7 applications. The underlying principles in both libraries are roughly the same. S7NetPlus supports more features but has a more c

[2019-05-22 09:49] FalcoGoodbody commented on #216
Hi all,

I am using S7NetPlus since the beginning of this year to log about 130 machine parameters from a S7-1500 PLC into a MSSQL-Database. I am planning to connect nearly all PLCs from our production plant, which are round about 10 pcs.
Until now I did make really good experince with S7NetPlus and it works from the first day absolutely stable and reliable 24/7.

[2019-05-27 10:25] ChipsetSV opened #217 "Add ReadTimeout and WriteTimeout"
Hello.

I use S7.Net library in synchronous mode. Connection between app and PLC is very bad and often it lose. Sometimes socket is starting read and cannot wait end of it (hangs). I want to control this situations by set ReadTimeout and WriteTimeout for Socket or NetworkStream. Now TcpClient and NetworkStream are private and I cannot set these paramerers for connection to PLC.

Can you add the ab

[2019-05-27 10:55] ChipsetSV commented on #217
#218

[2019-05-27 18:09] mycroes commented on #217
Thanks for creating the PR. As mentioned there, this is a good addition to the API.

[2019-05-27 18:10] mycroes commented on #216
I think this answers the question, feel free to reopen if it doesn't.

[2019-05-27 18:10] #216 closed

[2019-05-27 18:14] #184 closed

[2019-05-27 18:15] mycroes commented on #205
No there isn't. I tried to search for protocol details, but haven't found any. As such it's impossible for me to add this support.

[2019-05-27 18:15] #205 closed

[2019-05-27 18:16] mycroes commented on #200
Closing due to missing feedback.

[2019-05-27 18:16] #200 closed

[2019-05-27 18:18] mycroes commented on #215
Closing due to missing response. Feel free to reopen if the issue persists.

[2019-05-27 18:18] #215 closed

[2019-05-27 18:24] mycroes commented on #180
Closing, I guess the issue has been properly adressed, but feel free to reopen if you have more questions [on this specific topic].

[2019-05-27 18:24] #180 closed

[2019-05-29 08:42] #217 closed

[2019-06-10 07:43] Styxer opened #221 "Read struct with array(s)"
I have noticed `ReadStruct` using a function `GetStructSize` which in turn uses cases for each type
but i do not see there a case for an array or any other complex type(s)

my class looks like [this ](https://ibb.co/0VwFNtw) how can i achieve reading VCM_Setpoint?

this is my struct in code(i always get **null** on VCM_Setpoint, all other values have no problem while trying to read them)
[code]

[2019-06-18 15:40] thoj opened #222 "Write Byte / Bit DataItem failes with error code 33153 on 410-h5"
Hi

This code fails on 410-5h cpu:

[code]

This works:

`var di = new DataItem() { DataType = DataType.Memory, StartByteAdr = 0, VarType = VarType.Byte, Value = 0xff, Count = 1 };`

This code works but writes to the wrong address. It writes to M3.0 for some reason. Seems like only writing Dint works properly?
![image](https://user-images.githubusercontent.com/153440/59698444-fe3afa00-91ef-11e9-8f

[2019-06-19 10:16] thoj commented on #222
After debugging and looking at dumps. There are issues with padding data. This diff fixes writing bytes:

[code]
It did not fix writing bits. Still debugging.

[2019-06-19 10:26] thoj commented on #222
Ok this seems to work perfectly, just don't pad the last data item. I would like to test on other CPUs. But i only have 410-5h here. I can create a pull request.

[code]

[2019-06-25 12:40] valesQQ opened #224 "S7300 "WrongNumberReceivedBytes""
Hello everyone. I'm doing an internship and I have to read data from a PLC using a C# application.
It's a S7-300 connected to a WINLC RTX.
I'm able to connect to the PLC but everytime I try to read some data (using ReadStruct, ReadBytes and simply Read) I get the same error "WrongNumberReceivedBytes".
The data I try to access is located inside a Struct itself inside an UTD itself inside a DB.
The

[2019-06-26 07:57] FalcoGoodbody commented on #224
Hello valesQQ,

I can check this behaviour here at a running machine an will give feedback when its done.
But I do not have a S7-300, I have S7-1500.

I also use S7.Net an I read a lot of values. For the situation you descriped I am using Read.Class and have no problems so far. Maybe you can try it that way.

[2019-06-26 08:20] FalcoGoodbody commented on #224
So I have tested it with a S7-1515-2PN.
It was the same constellation. A struct within an udt wich is declared within a DB.
I used the following code to read the single values, but would prefer to read the whole struct or even better as class:

` Glatt2TestINT = ((ushort)plcGlatt2.Read("DB76.DBW2")).ConvertToShort();
                    Glatt2TestREAL = ((uint)plcGlatt2.Read("DB76.DBD4")).ConvertT

[2019-06-26 09:04] valesQQ commented on #224
Okay, thank you.
It may be a hardware problem so if this code is working on your side.

I plan to read the whole struct but first I need to get a working reading so I'm only focusing on one data for now.
I will have a look at Read.Class also.

[2019-06-26 09:49] FalcoGoodbody commented on #224
@valesQQ  check your code reading one bit. When you comare it to my code you will see that I first read one byte and then select one bit from this byte. This should work fine.
`var statusTest = plcGlatt2.ReadBytes(DataType.DataBlock, 76, 0, 1);
Glatt2TestBool = statusTest[0].SelectBit(0);`

[2019-06-26 10:52] mycroes commented on #224
Hi @valesQQ, sorry for my late response. I hope you can get started with the answers already given, but I'd be happy to help out (just a little short on time). You could alternatively try if [Sally7](/mycroes/Sally7) works, any feature working there and not in S7NetPlus I'd be willing to fix.

[2019-06-26 10:57] valesQQ commented on #224
Ok, thank you guys, I will update if I get somethig new.

[2019-06-27 08:41] valesQQ commented on #224
Hey,
I've got it working. The problem was that I tried to read data from a different PLC than the one I was connected to...

Still a lot to learn. Thank you for the test @FalcoGoodBoy, made me realize that the issue was probably not in the code.

[2019-06-27 08:41] #224 closed

[2019-07-16 16:26] noumanqaiser commented on #179
Hi Team,
I was planning to use s7.net to read and write data to an Siemens logo plc, Can you confirm is S7.net can be used for Siemens Logo plc as of now?

Nouman

[2019-07-16 20:48] mycroes commented on #179
Hi @noumanqaiser, I still need to do that release, but then it should work. I'll try to do it this week, you could however test using the source as well if you don't want to wait for a release.

[2019-07-17 16:12] noumanqaiser commented on #179
Thanks MyCroes, No problem. I can wait for this week and hopefully I can help u with testing aswell on a logo PLC.

[2019-07-17 19:10] #187 closed

[2019-07-17 19:39] #222 closed

[2019-07-17 19:50] #165 closed

[2019-07-17 20:09] mycroes commented on #201
Please try with S7NetPlus 0.4.0 and see if it's fixed there.

[2019-07-18 15:45] mycroes commented on #179
Hi @noumanqaiser, I released 0.4.0 yesterday, let me know if it works! If it doesn't work I want to fix it, but I can't test it myself obviously.

[2019-07-22 14:43] mycroes commented on #179
@noumanqaiser, did you get to testing it yet?

[2019-08-07 14:42] allibragi opened #228 "S7-1200 read/write error"
Hi, I'm unable to read data from a S7-1200.
This is the code I'm using, in the comments the types of errors:
[code]
I've tried to write and I've got again the IndexOutOfRange exception.
This is my first 1200 but is a simple code that runs with other PLCs that I've worked with.

Thanks in advance

[2019-08-07 17:54] mycroes commented on #228
Hi @allibragi,

I can't diagnose where the exception is coming from just by the type. However, you're almost certainly passing wrong values for rack and slot. I think `slot` should probably be `1`, not entirely sure though. Let me know how that works out for you.

[2019-08-08 13:17] allibragi commented on #228
Hi @mycroes, thank you for the support.
I've found a documentation which says that you can use both slot 0 or 1. I've tried both but i got the same error.
I will try to reference directly the source code solution and debug it.

[2019-08-12 10:00] ChermyaninAA opened #229 "TPKT is incomplete / invalid exception"
I have a problem. I use the following code to read values from a PLC. But an error occurs. I do not use timers and parallelization. I start the simulation through PLCsim and NetToPLCsim.

`
private void Open_Click(object sender, EventArgs e)
        {
            CpuType MyCpuType = S7.Net.CpuType.S71200;
            string MyCpuIp = "192.168.0.1";
            MyCpuIp = "127.0.0.1";
            My

[2019-08-12 10:17] ChermyaninAA commented on #229
but if I use this code, then the error is different: IndexOutOfRangeException: Index was out of bounds of array

`
bool value;
                plc.Open();
                value = (bool)plc.Read("DB2.DBX0.0");
                MessageBox.Show(plc.Read("DB2.DBX0.0").ToString());
`

[2019-08-12 10:42] #229 closed

[2019-08-15 06:57] ChermyaninAA opened #230 "Connect to LOGO"
Hey. I want to connect to LOGO. Do not tell me which rack and slot to use to create an instance of the PLC class.
I would be grateful if you show an example of code for connecting to the LOGO.

[2019-08-15 18:31] Crane49 opened #231 "Multiple Writes via PC Application"
Anyone,

I have a PC application running as a serivce times 3. It is polling the S7-1518 via Ethernet with only 2 hops in between running in a vm space. They are reading about 30 bytes of data every 50ms. I am also writing data from each the threee locations to separate registers in the PLC every 1.5 seconds. In total 1 TASP connection  with 1 read & 4 writes per PC Appplication service. Every onc

[2019-08-15 19:34] mycroes commented on #230
Hi @ChermyaninAA,

I'm not sure what you mean by _Do not tell me which rack and slot to use_, but I'll just assume it's meant in some friendly way. I created a gist just for you which should get you going here:

https://gist.github.com/mycroes/9bdc7cffdef08943edea1918812706a6

Let me know how this works out for you.

Regards,
Michael

[2019-08-15 19:39] mycroes commented on #228
HI @allibragi,

Somehow I missed your update comment. What I'm guessing is that the PLC is returning an error. There's not much error handling going on in S7NetPlus with regards to variable read/writes. Best thing you can do right now is try with [Sally7](/mycroes/Sally7), it'll probably give you some sort of error. If you can copy the contents of s7data when you get the exception and paste them h

[2019-08-15 19:51] mycroes commented on #231
HI @Crane49,

I'm guessing what you're doing is along the following lines:
[code]

I'm slightly amazed by the fact you're saying you get no errors, that doesn't make much sense. However, if your code is as above, I can tell you there's a fair chance it doesn't work (but will give you errors) because the connection ID's used by S7NetPlus can't be used for multiple connections to the PLC (at least,

[2019-08-16 11:02] ChermyaninAA commented on #230
Thank you, this is what you need!
And another question: logo0ba8 are no longer supplied and replaced with logo0ba0, is your library compatible with them?
[model comparison](https://mall.industry.siemens.com/goos/catalog/Pages/mmpdata.ashx?lang=ru&MLFB1=6ED1052-2MD00-0BA8&MLFB2=6ED1052-2MD08-0BA0&)

[2019-08-16 11:36] mycroes commented on #230
I don't know for sure, but I think it is. We might need to update the id's. Let me know if it works, if it doesn't I'll try to fix it.

[2019-08-16 12:35] ChermyaninAA commented on #230
Thank you)

[2019-08-16 13:29] allibragi commented on #228
Hi @mycroes, thank you again for the support.

I've tried Sally7, I've got this error while trying to read the data:
`"The format string can only be \" G \ ", \" g \ ", \" X \ ", \" x \ ", \" F \ ", \" f \ ", \" D \ "o \ "d \"."`

[2019-08-16 14:29] tobiasSM commented on #228
I got the same error today. I cant look into the issue any further, but is it possible that it is a problem on the S7-1500 side because of a onfiguration error?

[2019-08-18 20:10] mycroes commented on #228
HI @allibragi, @tobiasSM,

I messed up the last Sally7 version, so when it detected an error it would throw some useless exception. I just pushed Sally7 0.7.1 to nuget.org, which should fix that error and hopefully provide a more meaningful error.

As for what @tobiasSM said about PLC-side configuration, yes, that's probably it. The PLC returns only 12 bytes because it returns an error. I don't kn

[2019-08-19 06:28] tobiasSM commented on #228
I was told the "the put and get where activated" (whatever that means) in the configuration of the S7 and now my error is gone.

[2019-08-19 06:43] allibragi commented on #228
With the new version I got this error:
[code]
I was unable to find the s7data tag in the error properties. Unfortunately I cant access to the s7 right now, I will talk to the techniciat that prapared it to check the option @tobiasSM told.

[2019-08-20 14:06] Crane49 commented on #231
Hi Michael,

Thanks for the response. I am not using DataBlocks with In/Out Properties. I have however gotten it to work as of now.

I added an CP1543-1 Communication Module and Update its firmware to v2.1.4 as well as increase my processor slice time/communication load to 40% after looking to see that the USer comunication load was higher than the projects. This seems to have at this time since t

[2019-08-26 12:36] ChermyaninAA commented on #230
Hey. Everything works with logo0ba0. thanks for the help

[2019-08-28 09:55] YastrebovV opened #232 "Problems reading merker bit"
Hello to all! I found a small bug)
It was: `  case "M":
                                // Memory
                                dataType = DataType.Memory;
                                varType = VarType.Byte;
                                break;`

Fixed: `  case "M":
                                // Memory
                                dataType = DataType.Memory;

[2019-09-02 04:54] jorgeandres6 opened #233 "Index was outside the bounds of the array"
Saludos,

Al tratar de hacer una simple operacion de lectura me indica el error que se muestra en la imagen. He seguido los pasos del manual fielemente, he configurado mi PLC (S7-1200) adecuadamente, tengo una conexión exitosa y lo verifico a través del metodo IsConected, sin embargo no puedo ni leer ni escribir en ninguna variable.
Agradezco su ayuda.

Greetings,

Im trying to read and write on m

[2019-09-02 17:49] jorgeandres6 commented on #228
Hey everyone,

I had the same problem, I used wireshark in order to look up for the problem and I found out that S7COMM protocol send an error (0x8104 - Function not suported, or with S7-1200/1500 "Permit access with PUT/GET communication from remote partner" needs to be enable). Even tough this PUT/GET option was checked, it seems it wasn't workin, so I just wrote a new simple project at TIA port

[2019-09-10 13:56] Equino3108 opened #234 "Any way to add DateTime and string support to ReadStruct / ReadClass?"
I realized strings and datetime are not supported in ReadStruct / ReadClass Methods.
Is there a way to get a datetime field into These structs/classes ? My first idea was to try and read them as strings, but since they aren't supported either?

Thanks

[2019-09-10 14:20] Equino3108 opened #235 "Bug in Struct.GetStructSize() ?"
I got a struct with size 16 Bytes and at the end, I also define 4 bool(bit) fields, which brings size up to 16.5 as GetStructSize adds 0.125 per bool field it finds.

At the end of GetStructSize, you return (int)numbytes which cuts off the .5 and makes the method return a size of 16.  After that it crashes at some point in Struct.ToBytes() - apparently because it tries to write bit values to byte

[2019-09-27 08:58] falcomavin opened #236 "sometimes connection fails"
hi,
  When I connect to the PLC, sometimes this action will take a long time and finally the connection will fail, but then, try again, the second connection will succeed. This failure often occurs when there is no operating device for a while. I don't know if this is an operating system or a hardware cause, or a bug in this library.

[2019-09-30 15:42] allibragi commented on #228
Sorry for the waiting, the technitian showed up eventually.
The issue was the same of @jorgeandres6, he reuploaded the project and now it works.
Thank you all for the help.

[2019-10-03 12:26] #228 closed

[2019-10-03 12:32] allibragi commented on #232
Hi @YastrebovV, i think you should submit a pull request with the bugfix.
It's easer for the devs to check it and put it in the official release.

[2019-10-03 12:38] allibragi commented on #233
Do you have the same error using other adresses?
Like `plc.Read("DB1.DBX14.4")` or `plc.Read("DB1.DBX0.4")`

[2019-10-08 06:48] FalcoGoodbody opened #237 "How to implement ErrorCode correctly?"
Dear users,

I would like to connect to 2 PLCs (S7-300) wich are connected behind 1 router which has port-forwading implementet.

Router-IP: 192.168.0.80
SPS1-IP: 192.168.2.62
SPS2-IP: 192.168.2.63

Port-Forwading as followes:
192.168.0.80:102 => 192.168.2.62:102
192.168.0.80:103 => 192.168.2.63:102

Unfortunately the connection cannot be established.
I would like to check for detailed errors and

[2019-10-08 07:31] allatrue commented on #237
Try to check first the connectivity with windows telnet command:
Telnet 192.168.0.80 102

Maybe the router is not configured properly.

[2019-10-08 07:46] FalcoGoodbody commented on #237
Well thank you.
It seems as if the router isn´t configured correctly.
The connection can not be established.

But how can the ErrorCode be handled if the Plc.Open-method does return only void?

I tried it this way

`            try
            {
                plcRNV1.Open();
            }
            catch (Exception)
            {
                lastErrorCode.GetTypeCode();
                Mes

[2019-10-08 11:44] FalcoGoodbody commented on #237
Ok problem solved...the router was not configured correctly.

[2019-10-08 11:44] #237 closed

[2019-10-09 05:03] falcomavin commented on #236
well, because there are two network ports, there is no problem in configuring them on different network segments.

[2019-10-09 05:04] #236 closed

[2019-10-09 19:34] Pacheko opened #238 "Asynchronous Communication"
I am trying to read 1665 tags asynchronously, but I am getting incompatible / invalid TPKT failure.

Synchronously the performance is in 3 seconds, needed to be faster.

I am going through a list and returning to it, the code is as follows:

var value = await s7client.ReadAsync (dataType, db, startByte, varType, count, bit);

Can you tell where the error is?

[2019-10-30 14:09] Mallowan opened #239 "Strings writing. Is it possible with this library?"
Hello guys,
it's not clear from docs, whether it's possible to transfer a string to a certain DB's address (data type string) or not.
Perhaps docs are obsolete or so.
Could anyone share with this syntax?
Thanks in advance!

[2019-11-04 06:40] abduIkadir commented on #179
Hello,
I have same issue with ET200S IM151-8 PN/DP module and tried connection as logo8 and connected.
I connected ET200 series modules as s7300 before. I wrote this here for information.

[2019-11-20 05:40] adamsjdavid commented on #239
It should be fairly trivial to implement this in your application. Simatic Strings follow a predictable format. On the PLC, they are simply a Byte Array with a default size of 256....that's 2 bytes for bookkeeping, 254 bytes for data. The structure is as follows:

First Byte: Max Size (Default 254)
Second Byte: Current String Size
Third Byte through Last Byte: String

Here's a code snippet that wi